 /*********************************************************************
Custom Stylesheet:defines specific styles for alternate templates or pages
**********************************************************************/

/* A pgragh groups a photograph and paragraph. */
div.pgraph { float:left; margin-bottom:0.63em; }
a.pgraph { float:left; margin-right:0.63em; }
a:link.photo { border:none; }
a:visited.photo { border:none; }
a:link:hover.photo { border:none; }
a:visited:hover.photo { border:none; }
a:link:active.photo { border:none; }
a:visited:active.photo { border:none; }

#content_main table { width:90%; margin-top:0.5em; margin-left:4em; border-collapse:collapse; padding:0.5em; }
#content_main th {font-weight:bold; vertical-align:text-top; padding-top: 0.63em; padding-right: 0.5em; padding-bottom: 0.5em; padding-left: 0.63em; border-width:0.05em; border-color:black; border-top-style:solid; border-right-style:none; border-bottom-style:none; border-left-style:none; }
#content_main td {vertical-align:text-top; padding-top: 0.63em; padding-right: 0.5em; padding-bottom: 0.5em; padding-left: 0.63em; border-width:0.05em; border-color:black; border-top-style:solid; border-right-style:none; border-bottom-style:none; border-left-style:none; }
.right {text-align:right; padding-right:3em; }
.emph { font-weight:bold; }
.special_notice {
	background-color: #f8f3e5;
	font-weight: bold;
}

span.citation {display:block; text-align:right; font-size:.8em; color:#666; padding-top:0.5em;
   padding-bottom:0; margin:0; }

.image_news139x83 { position:relative; left:-5px; top:5px; margin-bottom:10px; padding:10px;
   background-image:url("../images/content/homepage/news_back139x83.gif"); background-repeat:no-repeat; }
.image_news139x89 { position:relative; left:-5px; top:5px; margin-bottom:10px; padding:10px;
   background-image:url("../images/content/homepage/news_back.gif"); background-repeat:no-repeat; }
 .image_news139x108 { position:relative; left:-5px; top:5px; margin-bottom:10px; padding:10px;
   background-image:url("../images/content/homepage/news_back139x108.gif"); background-repeat:no-repeat; }
.image_news139x113 { position:relative; left:-5px; top:5px; margin-bottom:10px; padding:10px;
   background-image:url("../images/content/homepage/news_back139x113.gif"); background-repeat:no-repeat; }
.image_news139x181 { position:relative; left:-5px; top:5px; margin-bottom:10px; padding:10px;
   background-image:url("../images/content/homepage/news_back139x181.gif"); background-repeat:no-repeat; }
.image_news139x185 { position:relative; left:-5px; top:5px; margin-bottom:10px; padding:10px;
   background-image:url("../images/content/homepage/news_back139x185.gif"); background-repeat:no-repeat; }
.image_news139x191 { position:relative; left:-5px; top:5px; margin-bottom:10px; padding:10px;
   background-image:url("../images/content/homepage/news_back139x191.gif"); background-repeat:no-repeat; }
.image_news139x196 { position:relative; left:-5px; top:5px; margin-bottom:10px; padding:10px;
   background-image:url("../images/content/homepage/news_back139x196.gif"); background-repeat:no-repeat; }
.image_news139x218 { position:relative; left:-5px; top:5px; margin-bottom:10px; padding:10px;
   background-image:url("../images/content/homepage/news_back139x218.gif"); background-repeat:no-repeat; }
.imagewide149x70 { position:relative; left:-5px; top:3px;  margin-bottom:10px; padding:7px;
   padding-left:8px; padding-bottom:8px;
   background-image:url("../images/graphic_wide_underlay149x70.jpg"); background-repeat:no-repeat; }
.imagewide149x77 { position:relative; left:-5px; top:3px;  margin-bottom:10px; padding:7px;
   padding-left:8px; padding-bottom:8px;
   background-image:url("../images/graphic_wide_underlay149x77.jpg"); background-repeat:no-repeat; }
.imagewide149x99 { position:relative; left:-5px; top:3px; margin-bottom:10px;
   padding:7px; padding-left:8px; padding-bottom:8px;
   background-image:url("../images/graphic_wide_underlay149x99.jpg"); background-repeat:no-repeat; }
.imagewide149x112 { position:relative; left:-5px; top:3px; margin-bottom:10px;
   padding:7px; padding-left:8px; padding-bottom:8px;
   background-image:url("../images/graphic_wide_underlay149x112.jpg"); background-repeat:no-repeat; }
.imagewide149x197 { position:relative; left:-5px; top:3px; margin-bottom:10px;
   padding:7px; padding-left:8px; padding-bottom:8px;
   background-image:url("../images/graphic_wide_underlay149x197.jpg"); background-repeat:no-repeat; }
.middle img.framed { border: #e9e9e9 ridge 4px; padding: 2px; }

ul.artists { list-style:none; margin-top:0; margin-left:2em; }
ul.soloists { list-style:none; margin-top:0; margin-left:2.3em; }
ul.concerts { list-style:disc; margin-top:0; margin-left:2.5em; }
ul.pgraph { list-style: disc; padding-left: 180px; }
