/****************************************************************************************
Layout Stylesheet for Middle content: defines widths, margins, floats, and other
advanced display attributes for the middle section (sidebars and main content)
****************************************************************************************/

/*********************************
General Classes
**********************************/
/*Style for spotlight feature image - determines distance between photo and background drop shadow */
.image_banner { position: relative; left: -5px; top: 5px;  margin-bottom: 10px; padding: 10px; border: none; background-repeat: no-repeat; }
/*Style for news images - determines distance between photo and background drop shadow */
.image_news { position: relative; left: -5px; top: 5px;  margin-bottom: 10px; padding: 10px; }

/*********************************
Title
**********************************/
#title {}
#title h1 {display:none;} /* can be enabled if needed */

/*********************************
Main Content - Wrapper
**********************************/
#content_main { margin: 0 0 30px 0; float: left; width: 784px;  padding: 0;  border-right: 1px solid #e6e4db; }

/*********************************
Spotlight
*******************************************************************
Spotlight is the featured banner area of the main Stanford homepage
*******************************************************************/
#spotlight { margin-bottom: 10px; }
#spotlight a {border: none; }

/*********************************
Events/Sports
**********************************/
#content_left  { float: left; width: 155px; margin-right: 20px; margin-top: 8px; }
#content_left h2 { width: 155px; border-bottom: 6px solid #820000; letter-spacing: 2px/*thomas*/; }
#content_left div h3 { width: 22px; padding: 0px 10px 0px 10px; text-align: center; }
#content_left div p { margin-bottom: 7px; line-height: 1.2500em/*thomas*/; }
#content_left div { margin-bottom: 10px; }
#content_left div div.event_list { margin-left: 42px; margin-top: -43px; border-left: 1px solid #eae9e6; padding-left: 10px; font-size: 1.1667em/*thomas*/; line-height: 1.1667em/*thomas*/; }
.event_time { color: #820000; }
.event_month { color: #820000; font-size: 14px; line-height: 16px; display: block; }
.event_day { font-family: Georgia,Times New Roman,Times; font-size: 24px; line-height: 27px; color: #565347; display: block; }

/*********************************
Center/Container styles
**********************************/
#content_center { margin: 0; padding: 0 20px; float: left; width: 568px;  border-left: 1px solid #eae9e6; }
#content_center h2 { border-bottom: 6px solid #820000; letter-spacing: 2px/*thomas*/; margin-top: 8px; }
#content_center div {margin-bottom: 15px; }

/*********************************
News
**********************************/
#news_container {}
#news { width: 372px; float: left; padding-right: 20px; margin-top: 10px; border-right: 1px solid #e6e4db; }
#news h3 { margin-top: 5px; font-size: 1.3333em/*thomas*/; }
#news h3 a { color: #3F3C30; }
#news p { font-size: 1.1667em/*thomas*/; }
#news a:hover { color: #820000; }
img.image_news { float: left; margin-right: 5px; margin-top: -10px; }

#morenews { float: right; width: 155px; }
#morenews h3 {color: #565347; font-size: 0.7500em/*thomas*/; letter-spacing: 1px/*thomas*/; text-transform: uppercase; padding: 10px 0 0 0; }

/*********************************
On the Stanford Web Section
*****************************************************************
This widget requires a div container with overflow: hidden active
in order to hide the wider ul element. Works in conjunction
with /js/iCarousel.js
*****************************************************************/
#otsw { float: left; position: relative; /* important */ overflow: hidden; /* important */ width: 486px; /* important */ height: 180px; /* important */ background-color: #f6f3e5; }
#otsw_content { position: absolute; width: 5418px; top: 15px; margin-left: 161px; height: 160px; overflow: hidden; }
#otsw_content li { display: block; list-style: none; float: left; margin: 5px 5px 5px 5px; height: 160px; }
#otsw_content h2 { letter-spacing: 2px/*thomas*/; }
#otsw_content h3 { font-family: Arial, Helvetica, sans-serif; font-size: 1.1667em/*thomas*/; width: 135px; text-align: center; line-height: 1.5000em/*thomas*/; }
#otsw_content img { display: block; padding: 5px; border: 1px solid #eee; background-color: #fff; margin-bottom: 10px; }

#otsw_previous { margin-top: 75px; float: left; z-index: 1; }
#otsw_next { margin-top: 75px; float: left; z-index: 1; }
#otsw_container { background: #f6f3e5; padding-left: 10px; margin-top: 10px; }

/**********************************
Stanford Seal Watermark
***********************************/
#seal { opacity:0.3;filter:alpha(opacity=30); float: right;  width: 135px;  height: 120px; margin-top: 10px; margin-right: 10px;
background-image: url("../images/M@S-roundedges.gif"); background-repeat: no-repeat; }

/******************************
Sidebar
**********************************/
#sidebar { padding-left: 20px; float: left; width: 155px; }
#sidebar h2 { border-bottom: 6px solid #3F3c30; color: #565347; letter-spacing: 2px/*thomas*/; }
#sidebar h3 { color: #820000; font-size: 0.7500em/*thomas*/; letter-spacing: 1px/*thomas*/; text-transform: uppercase; padding: 3px 0 0 0; }
#sidebar div { margin-bottom: 15px; }
#sidebar ul { padding-bottom: 5px; }
#sidebar li { list-style-image: url("../images/raquo.gif"); margin-left: 15px; padding-bottom: 5px; font-size: 1.1667em/*thomas*/; height: 1.1667em/*thomas*/; }


