/****************************************************************************************
Stylesheet for Tertiary middle content: defines widths, margins, floats, and typographic
attributes for the middle section (sidebars and main content)
****************************************************************************************/

/***********************************
Sidebars - Introduction
************************************/
#sidebar_introduction { float: left; width: 155px; margin-right: 20px; }
#content_introduction {	width: 155px; }
#sidebar_introduction h2 { width: 155px; border-bottom: 6px solid #820000; letter-spacing: 2px/*thomas*/; }
#sidebar_introduction img { margin-bottom: 5px; }
#sidebar_introduction p { padding-bottom: 10px; font-size: 1.1667em/*thomas*/; line-height: 1.3333em/*thomas*/; }
#sidebar_introduction ul { padding-bottom: 5px; }
#sidebar_introduction li { list-style-image: url("../images/raquo.gif"); margin-left: 15px; padding-bottom: 5px; font-size: 1.1667em/*thomas*/;line-height: 1.1667em/*thomas*/; }
#sidebar_introduction a {text-decoration: none; border-bottom: 1px dotted #81785a; color: #565347;}
#sidebar_introduction a:hover, #sidebar_introduction a:active {color: #820000;}

#sidebar_navigation ul {margin: 10px 0px 0px 0px; padding: 0px;}
#sidebar_navigation li {list-style: none; list-style-image: none; padding: 10px 0px; margin: 0px; border-bottom: 1px solid #eae9e6;}
#sidebar_navigation li a {color: #565347; border-bottom: none;}
#sidebar_navigation li a:hover {border-bottom: 1px dotted #565347;}
#sidebar_navigation li li{padding: 5px 0px 0px 10px; border-bottom: none;}
#sidebar_navigation ul ul {margin: 0;}

/*Class to highlight current list item - notably used on /about/facts/ */
#sidebar_navigation .current {color: #820000; font-weight: bold;}

/*********************************
Sidebars - Supplementary
**********************************/
#sidebar_supplementary {padding-left: 20px; float: left; width: 155px; }
#sidebar_supplementary h2 {border-bottom: 6px solid #3F3C30; color: #3f3c30; letter-spacing: 2px/*thomas*/; }
#sidebar_supplementary h3  {margin-bottom: 5px; }
#sidebar_supplementary p {margin-bottom: 20px; font-size: 1.1667em/*thomas*/; line-height: 1.3333em/*thomas*/; }
#sidebar_supplementary div {margin-bottom: 15px; }
#sidebar_supplementary ul {margin: 0px 0px 15px 0px; padding: 0px 0px 5px 0px;}
#sidebar_supplementary li {list-style-image: url("../images/raquo.gif"); font-size: 1.1667em/*thomas*/; line-height: 1.1667em/*thomas*/; margin: 0px 0px 0px 15px; padding: 0px 0px 5px 0px;}
/* #sidebar_supplementary a {text-decoration: none; border-bottom: 1px dotted #81785a; color: #565347;} */

/**********************************
Stanford Seal Watermark
***********************************/
#seal { opacity:0.3;filter:alpha(opacity=30); height: 113px; width: 130px; margin-left: 15px; margin-top: 25px;
background-image: url("../images/M@S-roundedges.gif"); background-repeat: no-repeat; clear: both; }

/*********************************
Breadcrumb - Tertiary Override (original style rule located in layout.css)
**********************************/
#content_main #breadcrumb p {margin: 0; font-size: 0.833em/*thomas*/; line-height: 1.2500em/*thomas*/; }
#content_main #breadcrumb { border-bottom: 6px solid #820000; margin-bottom: 10px;}
#content_main #breadcrumb ul { margin-bottom: 0; }
#content_main #breadcrumb a {border: 0px;}

/*********************************
Main Content
**********************************/
#content_main { margin-top: 0;  margin-bottom: 30px; float: left; width: 568px; padding-left: 20px; padding-right: 20px; border-right: 1px solid #eae9e6; border-left: 1px solid #eae9e6; font-size: 1.1667em/*thomas*/; color: #333;}

#content_main {font-size: 1.1667em/*thomas*/; color: #333;}
#content_main p {margin: 0px 0px 0.8em 0px; color: #333;}
#content_main ul li {color: #333;}
#content_main .last {margin: 0px; padding: 0px;}

#content_main h1 {font-family: Georgia, "Times New Roman", Times, serif; font-size: 2.9167em/*thomas*/; font-weight: normal; color: #565245; font-weight: 400;}
#content_main h2 {font-family: Georgia, "Times New Roman", Times, serif; font-size: 1.5em; color: #820000; margin: 20px 0px 5px 0px; letter-spacing: 2px/*thomas*/; line-height: 1.2em; text-transform: none;}
#content_main h3 {font-family: Georgia, "Times New Roman", Times, serif; font-size: 1.4em; color: #565245; margin: 20px 0px 5px 0px; line-height: 1.2em;}
#content_main h4 {font-family: Georgia, "Times New Roman", Times, serif; font-size: 1.3em; color: #820000; margin: 20px 0px 5px 0px; line-height: 1.2em;}
#content_main h5 {font-family: Georgia, "Times New Roman", Times, serif; font-size: 1.2em; color: #565245; margin: 20px 0px 5px 0px; line-height: 1.2em;}

.content_image_long { background-image: url("../images/content_image_long_bg.jpg"); position: relative; background-repeat: no-repeat; top: -5px; left: -4px; padding:10px; margin-bottom: 15px; }

#middle_content_bottom { width: 200px; margin: 0; padding: 0; height: 3px; background-image: url("../images/content/content_box_bottom.jpg"); background-repeat: no-repeat; }

/*********************************
On this Page
**********************************/	
#content_main #onthispage {padding: 0px; margin: 15px 0px 20px 0px; font-weight: bold;}
#content_main #onthispage h1 {padding: 0px 0px 5px 0px; margin: 0px; font-size: 0.833em/*thomas*/; font-weight: bold;}
#content_main #onthispage ul {list-style: none; padding: 0px; margin: 0px;}
#content_main #onthispage li {display: inline; padding: 0px; margin: 0px;}
#content_main #onthispage li:before {font-weight: normal; content: " | "; }
#content_main #onthispage li:first-child:before {font-weight: normal; content: ""; }
#content_main #onthispage a {font-weight: normal;}

/*IE workaround*/
/*All IE browsers*/
* html #content_main #onthispage ul {margin-left: -10px;}
* html #content_main #onthispage li {background-image: url("../images/pipe.gif"); background-repeat: no-repeat; background-position: 0px 50%; padding: 0px 5px 0px 10px; margin: 0px;}
*:first-child+html #content_main #onthispage ul {margin-left: -10px;}
*:first-child+html #content_main #onthispage li {background-image: url("../images/pipe.gif"); background-repeat: no-repeat; background-position: 0px 50%; padding: 0px 5px 0px 10px; margin: 0px;}

/*Mac IE 5*/
* html #content_main #onthispage li:first-child {background-image: none;}
*:first-child+html #content_main #onthispage li:first-child {background-image: none;}

/**********************************************
Inline content images
***********************************************/
#content_main div.image_caption { padding: 5px; text-align: center; border: 2px solid #e1e1e1; background: #fff; margin-left: 5px;margin-bottom: 4px; }
#content_main div.image_caption p { font-family: arial,helvetica,sans-serif; font-size: 0.833em/*thomas*/; line-height: 1.15em; color: #3F3C30; }
#content_main div.image_caption img { border: 0px solid #fff; margin-bottom: 5px; }
#content_main div.image_caption_left { margin: 0 11px 11px 0; float: left; }
#content_main div.image_caption_right { margin: 0 0 11px 11px; float: right; }
#content_main div.image_caption_top_nowrap { margin: 0 0 11px 0; float: none; }
#content_main div.imagecaption_nowrap { margin: 11px 0 11px 0; float: none; }

/*********************************
Link List / Zebra Rows / Sort By
**********************************/
.sortcategories { float: right; clear: both; }
.sortcategories a  { border-bottom: none; }

/* Linklist is a class to help enforce zebra striping on data tables (notably used at /about/facts/chron.html. Linklist class referenced by /js/dom.js */
.linklist { margin-bottom: 20px; }
.linklist { width: 765px ! important; margin-left: 0 ! important; padding-left: 0 ! important; clear: both ! important; }
.linklist .odd { background-color:  #f8f6ea ! important; }
.linklist .even { background-color:  #eee6cb ! important; }
.linklist .data a { width: 750px ! important; display: block ! important; padding-top: 10px ! important;  padding-left: 15px ! important; border-bottom: none ! important; font-size: 1.1667em/*thomas*/ ! important; letter-spacing: 1px/*thomas*/ ! important;list-style-type: none ! important; }
.linklist .data { width: 765px  ! important; list-style-type : none ! important; margin: 0 ! important; padding: 0 ! important; }
.linklist .data li { list-style-type: none ! important; list-style-image: none  ! important; }

/*********************************
A to Z Site Suggest Form/Fieldset
**********************************/
#site_suggest { margin: 0; padding: 0; min-width: 560px; max-width: 620px; width: 590px; }
#site_suggest fieldset { clear: both; border: 1px solid #eae9e6; padding: 10px; }
#site_suggest legend { color: #000; padding: 0 5px; clear: both; }
#site_suggest label { vertical-align: top; width: 120px; float: left;  clear: both; }
#site_suggest input, select, textarea { color: #000; clear: both; }
#site_suggest fieldset ol { list-style-type: none; list-style-image: none; }
#site_suggest fieldset li { list-style-type: none; list-style-image: none; }

/*********************************
Content Specific Styles
**********************************/

/* Mozilla Firefox & IE Default Styles --------------------------------- */
p, dl, multicol {display: block; margin: 0.63em 0;}
dd {display: block; margin-left: 40px;}
blockquote {display: block; margin: 0.63em 40px;}
ul, menu, dir {display: block; list-style-type: disc; margin: 0.63em 0 0.63em 40px;}
ol {display: block; list-style-type: decimal; margin: 0.63em 0 0.63em 40px;}
li {display: list-item;}
hr {display: block; height: 2px; border: 1px inset; margin: 0.5em auto 0.5em auto; color: gray; -moz-float-edge: margin-box; -moz-box-sizing: border-box;}

/* Base Formatting --------------------------------- */
pre {font-size: 1.2em; font-weight: bold;}
code {font-size: 1.2em; font-weight: bold;}

/* Hide from IE5-mac. Only IE-win sees this. \*/
* html pre {font-size: 1em; font-weight: bold;}
*:first-child+html pre {font-size: 1em; font-weight: bold;}
* html code {font-size: 1em; font-weight: bold;}
*:first-child+html code {font-size: 1em; font-weight: bold;}
/* End hide from IE5-mac */

form {margin: 0px;}
map {margin: 0px;}

.inline {display: inline;}
.inline-end {margin-top: 15px;}

/* Horizontal Rule For Internet Explorer */	
hr {height: 1px; color: #bbb; border: none;}
/* Horizontal Rule For Gecko-based browsers */
html>body hr {height: 1px; background: #bbb; border: none;}
/* Horizontal Rule For Opera and Gecko-based browsers */
html>body hr {height: 1px; background: #bbb; border: 0px solid #999;}

/* Horizontal Rule For Internet Explorer */	
hr.brown {height: 1px; color: #D0A760; border: none;}
/* Horizontal Rule For Gecko-based browsers */
html>body hr.brown {height: 1px; background: #D0A760; border: none;}
/* Horizontal Rule For Opera and Gecko-based browsers */
html>body hr.brown {height: 1px; background: #D0A760; border: 0px solid #999;}

/* Horizontal Rule For Internet Explorer */	
hr.gold {height: 1px; color: #E7D19A; border: none;}
/* Horizontal Rule For Gecko-based browsers */
html>body hr.gold {height: 1px; background: #E7D19A; border: none;}
/* Horizontal Rule For Opera and Gecko-based browsers */
html>body hr.gold {height: 1px; background: #E7D19A; border: 0px solid #999;}

/* Horizontal Rule For Internet Explorer */	
hr.red {height: 1px; color: #820000; border: none;}
/* Horizontal Rule For Gecko-based browsers */
html>body hr.red {height: 1px; background: #820000; border: none;}
/* Horizontal Rule For Opera and Gecko-based browsers */
html>body hr.red {height: 1px; background: #820000; border: 0px solid #999;}

/* Default Link --------------------------------- */
sup a {text-decoration: none;}
sub a {text-decoration: none;}

/* Unordered List --------------------------------- */
ul {list-style: square;}
ul li {margin-bottom: 0px;}
ul.linebreak {list-style: square;}
ul.linebreak li {margin-bottom: 15px;}
ul.linebreak ol li {margin-bottom: 0px;}

ul.square {list-style: square;}
ul.square li {margin-bottom: 0px;}
ul.square-linebreak {list-style: square;}
ul.square-linebreak li {margin-bottom: 15px;}
ul.square-linebreak ol li {margin-bottom: 0px;}

ul.disc {list-style: disc;}
ul.disc li {margin-bottom: 0px;}
ul.disc-linebreak {list-style: disc;}
ul.disc-linebreak li {margin-bottom: 15px;}
ul.disc-linebreak ol li {margin-bottom: 0px;}

ul.circle {list-style: circle;}
ul.circle li {margin-bottom: 0px;}
ul.circle-linebreak {list-style: circle;}
ul.circle-linebreak li {margin-bottom: 15px;}
ul.circle-linebreak ol li {margin-bottom: 0px;}

ul.uncheck, ul li.uncheck {list-style-image: url("../images/unchecked-box-bullet.gif");}
ul.uncheck li {margin-bottom: 0px;}
ul.uncheck-linebreak {list-style-image: url("../images/unchecked-box-bullet.gif");}
ul.uncheck-linebreak li {margin-bottom: 15px;}
ul.uncheck-linebreak ol li {margin-bottom: 0px;}

ul.check, ul li.check {list-style-image: url("../images/checked-box-bullet.gif");}
ul.check li {margin-bottom: 0px;}
ul.check-linebreak {list-style-image: url("../images/checked-box-bullet.gif");}
ul.check-linebreak li {margin-bottom: 15px;}
ul.check-linebreak ol li {margin-bottom: 0px;}

ul.pdf {list-style-image: url("../images/download-pdf.gif");}
ul.pdf li {margin-bottom: 0px;}
ul.pdf-linebreak {list-style-image: url("../images/download-pdf.gif");}
ul.pdf-linebreak li {margin-bottom: 15px;}
ul.pdf-linebreak ol li {margin-bottom: 0px;}

ul.none {list-style: none;}
ul.none li {margin-bottom: 0px;}
ul.none-linebreak {list-style: none;}
ul.none-linebreak li {margin-bottom: 15px;}
ul.none-linebreak ol li {margin-bottom: 0px;}
	
/* Ordered List --------------------------------- */
ol {list-style: decimal; margin-top: 0px;}
ol li {margin-bottom: 0px;}
ol.linebreak {list-style: decimal;}
ol.linebreak li {margin-bottom: 15px;}
ol.linebreak ul li {margin-bottom: 0px;}

ol.decimal {list-style: decimal;}
ol.decimal li {margin-bottom: 0px;}
ol.decimal-linebreak {list-style: decimal;}
ol.decimal-linebreak li {margin-bottom: 15px;}
ol.decimal-linebreak ul li {margin-bottom: 0px;}

ol.lroman {list-style: lower-roman;}
ol.lroman li {margin-bottom: 0px;}
ol.lroman-linebreak {list-style: lower-roman;}
ol.lroman-linebreak li {margin-bottom: 15px;}
ol.lroman-linebreak ul li {margin-bottom: 0px;}

ol.uroman {list-style: upper-roman;}
ol.uroman li {margin-bottom: 0px;}
ol.uroman-linebreak {list-style: upper-roman;}
ol.uroman-linebreak li {margin-bottom: 15px;}
ol.uroman-linebreak ul li {margin-bottom: 0px;}

ol.lalpha {list-style: lower-alpha;}
ol.lalpha li {margin-bottom: 0px;}
ol.lalpha-linebreak {list-style: lower-alpha;}
ol.lalpha-linebreak li {margin-bottom: 15px;}
ol.lalpha-linebreak ul li {margin-bottom: 0px;}

ol.ualpha {list-style: upper-alpha;}
ol.ualpha li {margin-bottom: 0px;}
ol.ualpha-linebreak {list-style: upper-alpha;}
ol.ualpha-linebreak li {margin-bottom: 15px;}
ol.ualpha-linebreak ul li {margin-bottom: 0px;}

/* Definition Lists --------------------------------- */
dl dt {margin-bottom: 0.25em;}
dl dd {margin-top: 0px;}
dl.linebreak dd {margin-top: 0px; margin-bottom: 15px;}
dl.nobreak dd {margin-top: 0px; margin-bottom: 0px;}

dl.glossarywithlinks dt {
	color: #666;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 2px;
	}

dl.glossarywithlinks dd {
	color: #333;
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 20px;
	}
	
/* Table --------------------------------- */
table {border-collapse: collapse;}
table th {vertical-align: top; border: 1px solid #bbb; font-weight: bold;}
table td {vertical-align: top; border: 1px solid #bbb;}

table.sitemap {background: transparent; width: 100%; border: none; padding: 3px; line-height: 1.5em; margin-top: 0px;}
table.sitemap th {text-align: left; padding-bottom: 0.3em; padding-top: 1em; color: #820000;}
table.sitemap td {padding-left: 1em; vertical-align: top;}

table.noborder {background: transparent; margin: 0px 0px 15px 0px; border: none;}
table.noborder th {text-align: center; background: transparent; color: #333; padding: 0px 10px 0px 0px; border: none;}
table.noborder td {background: transparent; color: #333; padding: 0px 10px 0px 0px; vertical-align: top; border: none;}
table.noborder td ul {padding: 0px 0px 0px 0.8em; margin: 0px 0px 0px 0.8em;}
table.noborder td ol {padding: 0px 0px 0px 1em; margin: 0px 0px 0px 1em;}

table.red-header {width: 100%; background: #bbb; margin: 0px 0px 15px 0px; border: 1px solid #bbb;}
table.red-header th {text-align: center; background: #820000; color: #fff; padding: 2px; border: 1px solid #bbb;}
table.red-header th a {color: #fff; text-decoration:underline;}
table.red-header th a:link {color: #fff;}
table.red-header th a:visited {color: #fff;}
table.red-header th a:hover {color: #fff;}
table.red-header th a:active {color: #fff;}
table.red-header td {background: #fff; color: #333; padding: 2px; vertical-align: top; border: 1px solid #bbb;}
table.red-header td ul {padding: 0px 0px 0px 0.8em; margin: 0px 0px 0px 0.8em;}
table.red-header td ol {padding: 0px 0px 0px 1em; margin: 0px 0px 0px 1em;}

table.gray-header {width: 100%; background: #bbb; margin: 0px 0px 15px 0px; border: 1px solid #bbb;}
table.gray-header th {text-align: center; background: #ccc; color: #666; padding: 2px; border: 1px solid #bbb;}
table.gray-header th a {color: #666; text-decoration:underline;}
table.gray-header th a:link {color: #666;}
table.gray-header th a:visited {color: #666;}
table.gray-header th a:hover {color: #666;}
table.gray-header th a:active {color: #666;}
table.gray-header td {background: #fff; color: #333; padding: 2px; vertical-align: top; border: 1px solid #bbb;}
table.gray-header td ul {padding: 0px 0px 0px 0.8em; margin: 0px 0px 0px 0.8em;}
table.gray-header td ol {padding: 0px 0px 0px 1em; margin: 0px 0px 0px 1em;}

table.gold-header {width: 100%; background: #bbb; margin: 0px 0px 15px 0px; border: 1px solid #bbb;}
table.gold-header th {text-align: center; background: #E7D19A; color: #666; padding: 2px; border: 1px solid #bbb;}
table.gold-header th a {color: #666; text-decoration:underline;}
table.gold-header th a:link {color: #666;}
table.gold-header th a:visited {color: #666;}
table.gold-header th a:hover {color: #666;}
table.gold-header th a:active {color: #666;}
table.gold-header td {background: #fff; color: #333; padding: 2px; vertical-align: top; border: 1px solid #bbb;}
table.gold-header td ul {padding: 0px 0px 0px 0.8em; margin: 0px 0px 0px 0.8em;}
table.gold-header td ol {padding: 0px 0px 0px 1em; margin: 0px 0px 0px 1em;}

table th.side-header, table th.side-header-vertical {background: #F7F6EC; color: #5a5a5a;}
/* table th.side-header-vertical {writing-mode: tb-rl; filter: flipv() fliph(); background: #F7F6EC; color: #5a5a5a;} */
table th.alternate {background: #eee;}
table tr.alternate td {background: #eee;}
table td.alternate {background: #eee;}

/* Images--------------------------------- */
img {border: 0px;}
.right-noborder {float: right; margin: 0px 0px 5px 10px;}
.right-border {float: right; margin: 0px 0px 5px 10px; border: 1px solid #bbb;}
.left-noborder {float: left; margin: 0px 10px 5px 0px;}
.left-border {float: left; margin: 0px 10px 5px 0px; border: 1px solid #bbb;}

/* Text--------------------------------- */

.last {margin: 0px; padding: 0px;}
#content_main .box h1, #content_main .box h2, #content_main .box h3, #content_main .box h4, #content_main .box h5 {margin-top: 0px;}
#content_main .color-box h1, #content_main .color-box h2, #content_main .color-box h3, #content_main .color-box h4, #content_main .color-box h5 {margin-top: 0px;}
#content_main .center-box h1, #content_main .center-box h2, #content_main .center-box h3, #content_main .center-box h4, #content_main .center-box h5 {margin-top: 0px;}
#content_main .left-box h1, #content_main .left-box h2, #content_main .left-box h3, #content_main .left-box h4, #content_main .left-box h5 {margin-top: 0px;}
#content_main .right-box h1, #content_main .right-box h2, #content_main .right-box h3, #content_main .right-box h4, #content_main .right-box h5 {margin-top: 0px;}

/* Font Settings--------------------------------- */

.largest {font-size: 1.3em;}
.larger {font-size: 1.2em;}
.large {font-size: 1.1em;}
.medium {font-size: 1em;}
.small {font-size: 0.9em;}
.smaller {font-size: 0.8em;}
.smallest {font-size: 0.7em;}

.important {color: #820000; font-weight: bold;}
.highlight {background: #ffc; padding: 0px 2px 0px 2px;}
.select {color: #820000;}
.downloadable {font-size: 0.85em; font-weight: bold; text-transform: capitalize;}

/* Box--------------------------------- */

.box {border:1px solid #E7D19A; padding: 5px; width: auto; margin: 0px 0px 15px 0px; background: #fff;}
.color-box {border:1px solid #E7D19A; padding: 5px; width: auto; margin: 0px 0px 15px 0px; background: #F7F6EC;}
.center-box {border:1px solid #E7D19A; padding: 5px; width: 80%; margin: 0px auto 15px auto; background: #fff;}
.left-box {border:1px solid #E7D19A; padding: 5px; width: 200px; float: left; margin: 0px 10px 15px 0px; background: #fff;}
.right-box {border:1px solid #E7D19A; padding: 5px; width: 200px; float: right; margin: 0px 0px 15px 10px; background: #fff;}

/* Sitemap and links --------------------------------- */

#sitemap {background-color: transparent;}
#sitemap a {font-size: 0.9em; font-weight: bold; text-decoration: none;	color: #5a5a5a;}
#sitemap a:link {text-decoration: none;}
#sitemap a:visited {text-decoration: none;}
#sitemap a:hover {text-decoration: underline; color: #820000;}
#sitemap a:active {text-decoration: underline; color: #820000;}

/* Alphabetical anchor navigation for long index or glossary pages --------------------------------- */

#alphanav {line-height: 1.2500em/*thomas*/; text-align: center; margin-top: -10px; font-size: 1em; color: #666;}
#alphanav a {text-decoration: none; color: #039;}
#alphanav a:visited {text-decoration: none; color: #039;}

/* Pull Quotes --------------------------------- */

.pullquote {
	width: 35%;
	color: #666;
	font-family: Georgia, Times, serif;
	font-size : 120%;
	line-height : 150%;
	font-weight : bold;
	font-style : italic;
	margin:0px 0px 10px 10px;
	background: url("../images/closequote.gif") no-repeat bottom right !important;
	background /**/:url(); /* removing quote graphic in IE5+ */
	padding:0px 25px 0px 0px;
}
.pullquote:first-letter {
	background: url("../images/openquote.gif") no-repeat left top !important;
	padding:5px 2px 10px 35px!important;
	padding /**/:0px; 	/* resetting padding in IE5+ */
	background /**/: url(); /* removing quote graphic in IE5+ */
}


