<div>
    <h2>More About Us</h2>
    {{> lightbox image="/images/graphics/MemChuReh.jpg"
                 width=800
                 height=533
                 caption="Rehearsal, Memorial Church, 25 February 2010. Photo by R. A. Wilson"
                 img_width=149 }}

    <h3><a href="/MemberPage.html#c1">How to Join</a></h3>
    <p>See <em><a href="/MemberPage.html#c1">Joining the Chorus</a></em> for information on auditions and basic member requirements.</p>

    <h3><a href="/MemberPage.html">Member Information</a></h3>
    <p>See our member page for information about rehearsals, and information and member resources. </p>

    <h3><a href="/performances.html">Performances</a></h3>
    <p>Information about upcoming and past performances, including posters and photos and ticket information.</p>
</div>
