{{#_sentence (-union (-array) this)}}
    {{#with (ssc-findCollaborator this) }}
        {{#if this.link }}
            <a href="{{ this.link }}">
        {{/if}}
        {{ this.name }}
        {{~#if this.link ~}}
            </a>
        {{~/if~}}
    {{/with}}
{{/_sentence}}