<div>
    {{> lightbox image="/images/graphics/Sano.jpg"
                 width=220
                 height=291
                 caption="Director of Music and Conductor Stephen Sano"
                 img_width=149 }}
</div>
