<div id="footer" class="clear">
    <ul class="nav">
        <li><a href="http://www.stanford.edu" title="Stanford University">Stanford University</a></li>
        <li><a href="http://music.stanford.edu" title="Stanford Music Department">Stanford Music Department</a></li>
        <li><a href="http://music.stanford.edu/Ensembles/index.html">Stanford Music Ensembles</a></li>
        <li class="last"><a href="/index.html">Stanford Symphonic Chorus</a></li>
    </ul>
    <div class="copyright">
        <p class="vcard">
            Website work by
            {{> people_citation person='webmaster' subject="SSC Website feedback" }}
            .
        </p>
        {{#block "extra-vcards"}}
        {{/block}}
        <p class="vcard">
            &copy; <span class="fn org">Stanford University</span>.
            <span class="adr">450 Serra Mall,
                <span class="locality">Stanford</span>,
                <span class="region">California</span>
                <span class="postal-code">94305</span>.
                <span class="tel">(650) 723-2300</span>
            </span>.
            <a href="http://www.stanford.edu/site/terms.html">Terms of Use</a> | <a href="http://www.stanford.edu/site/copyright.html">Copyright Complaints</a>
        </p>
    </div>
</div>
