{{ -let '_style' (_default this.style "casual") }}

{{#with (ssc-findLocation this.loc) }}
    {{#if this.link}}<a href="{{ this.link }}">{{/if}}
        {{lookup this ../_style}}
    {{~#if this.link}}</a>{{/if~}}
{{/with}}