<div id="logo">
	<img src="/images/banner.gif" alt="Stanford University - Stanford Symphonic Chorus Department of Music" usemap="#Map">
	<map name="Map" id="Map">
		<area shape="rect" coords="0,0,263,60" href="http://www.stanford.edu" alt="Stanford University">
		<area shape="rect" coords="275,4,700,57" href="/index.html" alt="Stanford Symphonic Chorus Department of Music">
	</map>
</div>
