<div id="nav_topic">
	<!-- TemplateBeginEditable name="nav_topic" -->
	<ul>
		<li{{#if (eq path "index.html")}} class="current"{{/if}}><a href="/index.html">Symphonic Chorus Home</a></li>
		<li{{#if (eq path "about.hbs")}} class="current"{{/if}}><a href="/about.html">About the Chorus</a></li>
		<li{{#if (eq path "performances.html")}} class="current"{{/if}}><a href="/performances.html">Performances</a></li>
		<li{{#if (eq path "MemberPage.html")}} class="current"{{/if}}><a href="/MemberPage.html">Member Information</a></li>
		<li{{#if (eq path "contact.html")}} class="current"{{/if}}><a href="/contact.html">Contact</a></li>
	</ul>
	<!-- TemplateEndEditable -->
</div>
