---
---
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Stanford Symphonic Chorus</title>
<!-- Base stylesheet which imports typography, resets, header/footer layout, and other miscellaneous styles -->
<link rel="stylesheet" type="text/css" href="css/base.css">
<!-- Page specific stylesheet for middle layout section (sidebars and content_main) -->
<link rel="stylesheet" type="text/css" href="css/tertiary.css">
<script src="js/mootools.js" type="text/javascript"></script>
<script src="js/mediabox.js" type="text/javascript"></script>
<script src="js/functions.js" type="text/javascript"></script>
<script src="js/emus.js" type="text/javascript"></script>
<!--[if IE 6]>
	<style type="text/css">
		@import url(css/ie/ie_global.css);
		@import url(css/ie/ie_tertiary.css);
	</style>
<![endif]-->
<!--[if IE 7]>
	<style type="text/css">
		@import url(css/ie/ie7.css);
	</style>
<![endif]-->
</head>
<body>
<!-- TemplateBeginEditable name="top" -->
<!-- TemplateEndEditable -->
<div class="skip">
	<a href="#content_main">Skip to Content</a>
</div>
<div id="container">
	<div id="container_header">
		<div id="header">
			{% include logo_ssc.html %}
			{% include container_search.html %}
		</div>
	</div>
	{% include nav_topic.html %}
	<div id="title">
		<h1>
			<!-- TemplateBeginEditable name="Page Title" -->
			About Stanford Symphonic Chorus
			<!-- TemplateEndEditable -->
		</h1>
	</div>
	<div id="sidebar_introduction">
		<!-- TemplateBeginEditable name="sidebar_introduction" -->
		<div id="sidebar_navigation">
			<h2>Contents</h2>
			<ul>
				<li><a href="#c1">About the Chorus</a></li>
				<li><a href="#c2">About the Conductor</a></li>
			</ul>
		</div>
		<!-- TemplateEndEditable -->
	</div>
	<div id="content_main">
		<div id="breadcrumb">
			<p>
				<!-- TemplateBeginEditable name="breadcrumb" -->
				<a href="index.html">Symphonic Chorus Home</a>
				&raquo; About Symphonic Chorus
				<!-- TemplateEndEditable -->
			</p>
		</div>
		<!-- TemplateBeginEditable name="content_main" -->
		<!--Optional On this page Start-->
		<!--
		<div id="onthispage">
		</div>
		-->
		<!--Optional On this page End-->
		<h2 id="c1">About the Chorus</h2>
		<p>The Stanford Symphonic Chorus is the largest choral ensemble on the Stanford campus and comprises 200 singers including students, faculty, staff and community members at large, under the baton of Director of Music and Conductor Stephen M. Sano. The ensemble specializes in major masterworks for chorus and orchestra and has performed most of the standard corpus of masterworks literature. Students may take Chorus as a credit course within the Music Department (Music 162/Music 162Z).</p>
		<p>The Chorus generally presents three different concert programs per year, one each academic quarter, and collaborates regularly with the Peninsula Symphony and the Stanford Symphony Orchestra. A concert program typically features a major choral-orchestral masterwork, often alongside other choral or purely instrumental pieces. The summer term features the Stanford Summer Chorus, an unauditioned ensemble open to singers of all ages and ability levels, which  performs in early August.</p>

		<h2 id="c2">About the Conductor</h2>
		<p>Stephen M. Sano, Professor of Music at Stanford University, assumed the position of Director of Choral Studies in 1993. At Stanford, Dr. Sano directs the Stanford Chamber Chorale and Symphonic Chorus, where he has been described as “a gifted conductor,” and his work as “Wonderful music making! ... evident in an intense engagement with his charges: the musicians responded to this attention with wide-eyed musical acuity.” Other reviews have lauded, “It is difficult to believe that any choral group anywhere is capable of performing better than the Stanford chorus under the direction of Stephen M. Sano.”</p>
		<p>Dr. Sano has appeared as guest conductor with many of the world’s leading choral organizations including in collaborative concerts with the Choir of Trinity College, Cambridge; the Joyful Company of Singers (London); the Choir of Royal Holloway, University of London; the Kammerchor der Universität der Künste Berlin; and the Kammerchor der Universität Wien (Vienna). He often appears as guest conductor of the Peninsula Symphony Orchestra in its collaborative concerts with the Stanford Symphonic Chorus, and has served on the conducting faculty of the Wilkes University Encore Music Festival of Pennsylvania. He has studied at the Tanglewood Music Center and is in frequent demand as a master class teacher, conductor, and adjudicator in choral music. To date, he has taught master classes and conducted festival, honor, municipal, and collegiate choirs from over 20 states, as well as from England, Austria, Germany, Canada, Australia, and Japan.</p>
		<p>On Stanford campus, Dr. Sano’s accomplishments as a leader and educator have been recognized through his appointments as the inaugural chair holder of the Professor Harold C. Schmidt Directorship of Choral Studies and as the Rachford and Carlota A. Harris University Fellow in Undergraduate Education at Stanford University. He was also the recipient of the 2005 Dean’s Award for Distinguished Teaching.</p>
		<p>Outside of the choral world, Dr. Sano is a scholar and performer of kī hō ʻalu (Hawaiian slack key guitar), and an avid supporter of North American Taiko (Japanese American drumming). As a slack key artist, his recordings have been nominated as finalists for the prestigious Nā Hōkū Hanohano Award and the Hawaiian Music Award. His recording, Songs from the Taro Patch, was on the preliminary ballot for the 2008 Grammy Award. Dr. Sano’s recordings can be heard on the ARSIS Audio, Pictoria, and Daniel Ho Creations labels (choral); and the Daniel Ho Creations and Ward Records labels (slack key guitar).</p>
		<p>A native of Palo Alto, California, Dr. Sano holds Master’s and Doctoral  degrees in both orchestral and choral conducting from Stanford, and a Bachelor’s degree in piano performance and theory from San José State University.</p>
		<!-- TemplateEndEditable -->
	</div>
	<div id="sidebar_supplementary">
		<!-- TemplateBeginEditable name="sidebar_supplementary" -->
		<div id="related_pages">
			<h2>More About Us</h2>
			<a class="photo" href="images/graphics/MemChuReh.jpg" title="Rehearsal, Memorial Church, 25 February 2010. Photo by R. A. Wilson" rel="mediabox[800 533]">
				<img src="images/graphics/MemChuReh_small.jpg" class="framed" alt="Rehearsal, Memorial Church, 25 February 2010. Photo by R. A. Wilson">
			</a>

			<h3><a href="MemberPage.html#c1">How to Join</a></h3>
			<p>See <em><a href="MemberPage.html#c1">Joining the Chorus</a></em> for information on auditions and basic member requirements.</p>

			<h3><a href="MemberPage.html">Member Information</a></h3>
			<p>See our member page for information about rehearsals, and information and member resources. </p>
		</div>
		<!-- TemplateEndEditable -->
		<div>
			<a class="photo" href="images/graphics/Sano.jpg" title="Director of Music and Conductor Stephen Sano" rel="mediabox[220 291]">
				<img src="images/graphics/Sano.jpg" alt="Director of Music and Conductor Stephen Sano" class="framed" width="149">
			</a>
		</div>
		<div id="seal"></div>
	</div>
	{% include footer.html %}
</div>
<!-- TemplateBeginEditable name="bottom" -->
<!-- TemplateEndEditable -->
</body>
</html>
