---
layout: default

title: "Contact Information"

logo_include: "logo_ssc.html"

stylesheets:
-   "tertiary"

ie6_stylesheets:
-   "tertiary"

scripts:
-   "mootools"
-   "mediabox"
-   "functions"

---
<div id="sidebar_introduction">
	<!-- TemplateBeginEditable name="sidebar_introduction" -->
	<div id="sidebar_navigation">
		<h2>Contact</h2>
		<p>
			For information about the chorus or auditions, contact {% include people_citation.html person=site.data.people.director subject="Re: Information about SSC or auditions" %}.
		</p>
	</div>
	<!-- TemplateEndEditable -->
</div>

<div id="content_main">
	<div id="breadcrumb">
		<p>
			<!-- TemplateBeginEditable name="breadcrumb" -->
			<a href="{{ site.baseurl }}{% link index.html %}">Symphonic Chorus Home</a>
			» {{page.title}}
			<!-- TemplateEndEditable -->
		</p>
	</div>
	<!-- TemplateBeginEditable name="content_main" -->
	<!--center-->
	<p>
		<img src="{{ site.baseurl }}{% link images/graphics/SteveSano2014.jpg %}" width="323" height="201" alt="Sano conducting rehearsal">
	</p>
	<!--center-->
	<!-- TemplateEndEditable --> 
</div>

<div id="sidebar_supplementary">
	{% include about_us.html %}
	<div id="seal"></div>
</div>
