---
layout: default

title: "For Your Listening Pleasure"

logo_include: "logo_ssc.html"

stylesheets:
-   "secondary"

ie6_stylesheets:
-   "secondary"

scripts:

sections:
    supplement: |
        <div id="see_also">
            {% include china_2008_info.html %}
        </div>

---
{% assign fylp = site.fylp | group_by: "sort_name"
                           | sort: "name" %}
<div id="sidebar_introduction">
	<!-- TemplateBeginEditable name="sidebar_introduction" -->
	<div id="content_introduction">
		<h2>For Your Listening Pleasure</h2>
		<p class="introduction">Stanford Symphonic Chorus recommends recordings of other performances that you may enjoy, in addition to attending its concerts.</p>
	</div>
	<ul>
		{% for f in fylp %}
			{% assign f_pieces_ref = f.items[0].piece_ref %}
			{% assign f_pieces = site.data.pieces[ f_pieces_ref ] %}
			<li><a href="#{{ f_pieces.composer | slugify }}">{{ f_pieces.composer }}</a></li>
		{% endfor %}
	</ul>
	<!-- TemplateEndEditable -->
</div>
<div id="content_main">
	<div id="breadcrumb">
		<p>
			<!-- TemplateBeginEditable name="breadcrumb" -->
			<a href="{{ site.baseurl }}{% link index.html %}">Symphonic Chorus Home</a>
			» {{ page.title }}
			<!-- TemplateEndEditable -->
		</p>
	</div>
	{% for f in fylp %}
		{% assign f_pieces_ref = f.items[0].piece_ref %}
		{% assign f_pieces = site.data.pieces[f_pieces_ref] %}
		<br class="clear">
		<div id="{{ f_pieces.composer | slugify }}" class="middle">
			<h3>{{ f_pieces.composer }}</h3>
			<ul>
				{% for w in f.items %}
					{%- assign _fylp_f_item_piece = site.data.pieces[ w.piece_ref ] -%}
					<li><a href="{{ w.url | relative_url }}">{% include piece_citation.html piece=_fylp_f_item_piece style="title-only" %}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
	<br class="clear">
</div>
