---
---
{% assign fylp = site.fylp | group_by: "sort_name"
                           | sort: "name" %}
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Stanford Symphonic Chorus</title>
<!-- Base stylesheet which imports typography, resets, header/footer layout, and other miscellaneous styles -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{% link css/base.css %}">
<!-- Page specific stylesheet for middle layout section (sidebars and content_main) -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{% link css/secondary.css %}">
<script src="{{ site.baseurl }}{% link js/mootools.js %}" type="text/javascript"></script>
<script src="{{ site.baseurl }}{% link js/mediabox.js %}" type="text/javascript"></script>
<script src="{{ site.baseurl }}{% link js/functions.js %}" type="text/javascript"></script>
<script src="{{ site.baseurl }}{% link js/emus.js %}" type="text/javascript"></script>
<!--[if IE 6]>
	<style type="text/css">
		@import url(css/ie/ie_global.css);
		@import url(css/ie/ie_secondary.css);
	</style>
<![endif]-->
<!--[if IE 7]>
	<style type="text/css">
		@import url(css/ie/ie7.css);
	</style>
<![endif]-->
</head>
<body>
<!-- TemplateBeginEditable name="top" -->
<!-- TemplateEndEditable -->
<div class="skip">
	<a href="#content_main">Skip to Content</a>
</div>
<div id="container">
	<div id="container_header">
		<div id="header">
			{% include logo_ssc.html %}
			{% include container_search.html %}
		</div>
	</div>
	{% include nav_topic.html %}
	<div id="title">
		<h1>
			<!-- TemplateBeginEditable name="Page Title" -->
			For Your Listening Pleasure
			<!-- TemplateEndEditable -->
		</h1>
	</div>
	<div id="sidebar_introduction">
		<!-- TemplateBeginEditable name="sidebar_introduction" -->
		<div id="content_introduction">
			<h2>For Your Listening Pleasure</h2>
			<p class="introduction">Stanford Symphonic Chorus recommends recordings of other performances that you may enjoy, in addition to attending its concerts.</p>
		</div>
		<ul>
			{% for f in fylp %}
			<li><a href="#{{ f.items[0].composer | slugify }}">{{ f.items[0].composer }}</a></li>
			{% endfor %}
		</ul>
		<!-- TemplateEndEditable -->
	</div>
	<div id="content_main">
		<div id="breadcrumb">
			<p>
				<!-- TemplateBeginEditable name="breadcrumb" -->
				<a href="{{ site.baseurl }}{% link index.html %}">Symphonic Chorus Home</a>
				&raquo;
                For Your Listening Pleasure
				<!-- TemplateEndEditable -->
			</p>
		</div>
		{% for f in fylp %}
		<br class="clear">
		<div id="{{ f.items[0].composer | slugify }}" class="middle">
			<h3>{{ f.items[0].composer }}</h3>
			<ul>
				{% for w in f.items %}
				<li><a href="{{ w.url | relative_url }}"><em>{{ w.title }}</em></a></li>
				{% endfor %}
			</ul>
		</div>
		{% endfor %}
		<br class="clear">
	</div>
	
	<div id="sidebar_supplementary">
		<!-- TemplateBeginEditable name="sidebar_supplementary" -->
		<div id="see_also">
			<h2>Coverage of the 2008 China Music Tour</h2>
            {% include lightbox.html image="images/graphics/SupremeHarmony.jpg"
									width=600
									height=450
									caption="Near the Gate of Supreme Harmony at the Forbidden City in Beijing. Photo by Tom Sharp."
									img_width=149 %}

			<h3><a href="http://www.stanfordalumni.org/news/magazine/2008/sepoct/farm/news/chinatour.html">Stanford Alumni Magazine</a></h3>
			<p>The Alumni magazine featured a story.</p>

			<h3><a href="http://chorale.stanford.edu/2008_tour_china/index.html">Stanford Chamber Chorale 2008 China Tour</a></h3>
			<p>Photos by members of the Stanford Chamber Chorale.</p>

			<h3><a href="http://www.flickr.com/groups/840050@N22/">Flickr Photos</a></h3>
			<p>Photos posted by tour participants</p>
		</div>
		<!-- TemplateEndEditable -->
		<div id="seal"></div>
	</div>
	{% include footer.html %}
</div>
<!-- TemplateBeginEditable name="bottom" -->
<!-- TemplateEndEditable -->
</body>
</html>
