---
---
{% assign current_program = site.programs | where_exp: "item","item.concerts[0].start > site.time"
                                          | nested_sort: "concerts[0].start"
								          | reverse
									      | last %}
{% assign first_rehearsal = current_program.schedule | sort: "start"
                                                     | reverse
													 | last %}
{% assign concerts = current_program.concerts | sort: "start" %}
{% assign current_events = site.data.program.events %}

{% assign concert_times = concerts | map: "start" %}
{% assign event_times = current_events | map: "start"
									   | concat: concert_times
									   | unshift: first_rehearsal.start
									   | sort %}
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Stanford Symphonic Chorus</title>
<!-- Base stylesheet which imports typography, resets, header/footer layout, and other miscellaneous styles -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{% link css/base.css %}">
<!-- Page specific stylesheet for middle layout section (sidebars and content_main) -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{% link css/primary.css %}">
<script src="{{ site.baseurl }}{% link js/mootools.js %}" type="text/javascript"></script>
<script src="{{ site.baseurl }}{% link js/mediabox.js %}" type="text/javascript"></script>
<script src="{{ site.baseurl }}{% link js/functions.js %}" type="text/javascript"></script>
<script src="{{ site.baseurl }}{% link js/emus.js %}" type="text/javascript"></script>
<!--[if IE 6]>
	<style type="text/css">
		@import url(css/ie/ie_global.css);
		@import url(css/ie/ie_primary.css);
	</style>
<![endif]-->
<!--[if IE 7]>
	<style type="text/css">
		@import url(css/ie/ie7.css);
	</style>
<![endif]-->
</head>
<body>
<!-- TemplateBeginEditable name="top" -->
<!-- TemplateEndEditable -->
<div class="skip">
	<a href="#content_main">Skip to Content</a>
</div>
<div id="container">
	<div id="container_header">
		<div id="header">
			{% include logo_stanford.html %}
			{% include container_search.html %}
		</div>
	</div>
	{% include nav_topic.html %}
	<div id="title">
		<h1>
			<!-- TemplateBeginEditable name="Page Title" -->
			Stanford Symphonic Chorus
			<!-- TemplateEndEditable -->
		</h1>
	</div>
	<div id="content_main">
		<!-- TemplateBeginEditable name="banner" -->
		<div id="spotlight">
			<div id="banner">
				<div>
					<a class="photo" href="{{ site.baseurl }}{% link performances/W2010/FullChorus27Feb2010.JPG %}" title="Performance of Beethoven Mass in C on 27 February 2010. Photo by R. A. Wilson." rel="mediabox[800 518]">
						<img src="{{ site.baseurl }}{% link images/graphics/ChorusBanner.jpg %}" width="754" height="160" alt="Performance of Beethoven Mass in C on 27 February 2010. Photo by R. A. Wilson." class="image_banner">
					</a>
				</div>
			</div>
		</div>
		<!-- TemplateEndEditable -->
		<div id="content_left">
			<!-- TemplateBeginEditable name="content_left" -->
			<div id="events">
				<h2>Events</h2>
				<a class="photo" href="{{ site.baseurl }}{% link images/graphics/MemChu.jpg %}" title="Memorial Church, 22 February 2010. Photo by R. A. Wilson." rel="mediabox[1314 852]">
					<img class="framed" src="{{ site.baseurl }}{% link images/graphics/MemChu.jpg %}" width="149" height="96" alt="Memorial Church evening. Photo by R. A. Wilson.">
				</a>
				{% for et in event_times %}
					{% assign et_events = current_events | where_exp: "item","item.start == et" %}
					{% assign et_concerts = concerts | where_exp: "item","item.start == et" %}
					{% assign collaborator = "" %}
					{% if current_program.collaborator %}
					{% assign collaborator = current_program.collaborator | prepend: " with " %}
					{% endif %}
					
					{% if first_rehearsal.start == et %}
					<div>
						<h3><span class="event_day">{{et | date: "%-e"}}</span><span class="event_month">{{et | date: "%b"}}<br>{{et | date: "%Y"}}</span></h3>
						<div class="event_list">
							<p>First rehearsal: <span class="event_time">{% include piece_citation.html piece=current_program.main_piece %}</span></p>
							<p>{{et | date: "%-l:%M%P"}} {{first_rehearsal.location}}; <em>registration starts at {{first_rehearsal.registration | date: "%-l:%M%P"}}</em></p>
						</div>
					</div>
					{% endif %}
					
					{% for ev in et_events %}
					<div>
						<h3><span class="event_day">{{ev.start | date: "%-e"}}</span><span class="event_month">{{ev.start | date: "%b"}}<br>{{ev.start | date: "%Y"}}</span></h3>
						<div class="event_list">
							<p>{{ev.title}}</p>
							<p>{{ev.start | date: "%-l:%M%P"}} {{ev.location}}</p>
						</div>
					</div>
					{% endfor %}
					
					{% for c in et_concerts %}
					<div>
						<h3><span class="event_day">{{c.start | date: "%-e"}}</span><span class="event_month">{{c.start | date: "%b"}}<br>{{c.start | date: "%Y"}}</span></h3>
						<div class="event_list">
							<p>Symphonic Chorus Performance: <span class="event_time">{% include piece_citation.html piece=current_program.main_piece %}{{collaborator}}</span></p>
							<p>{{c.start | date: "%-l:%M%P"}} {{c.location}}</p>
						</div>
					</div>
					{% endfor %}
				{% endfor %}
			</div>
			<!-- TemplateEndEditable -->
			<hr class="clearer">
		</div>
		<div id="content_center">
			<!-- TemplateBeginEditable name="content_center" -->
			<h2>Welcome</h2>
				<div>

					<h3>The Chorus</h3>
					<div>
						<a class="photo pgraph" href="{{ site.baseurl }}{% link images/graphics/SmallW10.jpg %}" title="Performance of Beethoven's Mass in C, 27 February 2010. Photo by R. A. Wilson." rel="mediabox[700 448]">
							<img class="framed" src="{{ site.baseurl }}{% link images/graphics/SmallW10.jpg %}" width="139" height="89" alt="Performance of Beethoven's Mass in C, 27 February 2010. Photo by R. A. Wilson.">
						</a>

						<p>
							The Stanford Symphonic Chorus is a group of
							approximately 180 students, faculty, staff, and
							members of the community led by Director of Music
							and Conductor Stephen Sano. The Chorus generally
							performs three works a year, one each academic
							quarter. Each performance typically features a large
							choral work, and includes other choral or
							instrumental pieces. See our <a href="{{ site.baseurl }}{% link performances.html %}">
							Performances</a> page for information about past
							performances.
						</p>
					</div>

					<hr class="clearer">

					<h3><a href="{{ site.baseurl }}{% link performances.html %}">Fall 2017 Concert</a></h3>
					<div>
						{% if current_program.image %}
						{% assign image = current_program.image %}
						{% assign image_path = "performances/" | append: current_program.label
						                                       | append: "/"
															   | append: image.file
															   | relative_url %}
						<a class="photo pgraph" href="{{ image_path }}" rel="mediabox[{{ image.width }} {{ image.height }}]" title="{{ image.citation }}">
							<img class="framed" src="{{ image_path }}" width="109" height="{{image.height | times: 109 | divided_by: image.width}}" alt="{{ image.citation }}">
						</a>
						{% endif %}
						{{ current_program.content }}
						<p>
							Performances at
							{% for c in concerts %}
							{% if forloop.first %}
							{{ c.location }} on {% comment %}TODO use formal location {% endcomment %}
							{% else %}
							{% if forloop.length == 2 %}
							and
							{% else %}
							,
							{% if forloop.last %} and {% endif %}
							{% endif %}
							{% endif %}
							{{ c.start | date: "%A, %-e %B" }}
							{% endfor %}
						</p>
						<br>
						<ul class="paragh">
							<!-- <li><a
								href="http://liveticket.stanford.edu/single/SelectSeatingSYOS.aspx?p=4634&z=182&pt=47,2,4,5,12,16">
									Tickets for Friday 15 March</a></li>
									<li><a href="http://liveticket.stanford.edu/single/SelectSeatingSYOS.aspx?p=4635&z=182&pt=47,2,4,5,12,16">
							Tickets for Sunday 17 March</a></li> -->
						</ul>
					</div>
				</div>
			<!-- TemplateEndEditable -->
		</div>
	</div>
	<div id="sidebar">
		<!-- TemplateBeginEditable name="sidebar" -->
		<!--
		<div id="site_navigation">
			<h2>Site Navigation</h2>
			<ul>
				<li class="current"><a href="index.html">Home</a></li>
				<li><a href="performances.html">Performances</a></li>
				<li><a href="MemberPage.html">Member Information</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
		-->
		<div id="related_pages">
			<h2>Helpful links</h2>
			<a class="photo" href="{{ site.baseurl }}{% link images/graphics/steve_altos.jpg %}"
				title="Alto section in rehearsal, 25 February 2010. Photo by R. A. Wilson."
				rel="mediabox[800 533]"> <img class="framed"
				src="{{ site.baseurl }}{% link images/graphics/steve_altos_sm.jpg %}" width="149" height="99"
				alt="Alto section in rehearsal, 25 February 2010. Photo by R. A. Wilson.">
			</a>
			<h3>Symphonic Chorus</h3>
			<ul>
				<li><a href="{{ site.baseurl }}{% link performances.html %}">SSC Performances</a></li>
				<li><a href="{{ site.baseurl }}{% link fylp.html %}">For your listening pleasure</a></li>
				<li><a href="{{ "MemberPage.html#auditions" | relative_url}}">Joining the Chorus</a></li>
				<li><a href="{{ site.baseurl }}{% link schedule.html %}">Rehearsal Schedule</a></li>
			</ul>
			<a class="photo" href="{{ site.baseurl }}{% link images/graphics/rehearsal_front.jpg %}"
				title="Rehearsal, 25 February 2010. Photo by R. A. Wilson."
				rel="mediabox[800 533]"> <img class="framed"
				src="{{ site.baseurl }}{% link images/graphics/rehearsal_front_sm.jpg %}"
				alt="Rehearsal in Memorial Church, 25 February 2010. Photo by R. A. Wilson.">
			</a>
			<h3>Stanford Arts</h3>
			<ul>
				<li><a href="http://music.stanford.edu/Home/index.html">Music Department</a></li>
				<li><a href="http://music.stanford.edu/Ensembles/index.html">Stanford Ensembles</a></li>
				<li><a href="http://live.stanford.edu/">Stanford Live</a></li>
				<li><a href="http://arts.stanford.edu/">Stanford Arts</a></li>
				<li><a href="/group/tickets/index.html">Stanford Ticket Office</a></li>
			</ul>
		</div>
		<!-- TemplateEndEditable -->
		<div id="seal"></div>
	</div>
	<div id="footer" class="clear">
		<hr class="hide">
		<!-- TemplateBeginEditable name="footer" -->
		<ul id="nav_footer">
			<li><a href="http://www.stanford.edu" title="Stanford University">Stanford University</a></li>
			<li><a href="http://music.stanford.edu" title="Stanford Music Department">Stanford Music Department</a></li>
			<li><a href="http://music.stanford.edu/Ensembles/index.html">Stanford Music Ensembles</a></li>
			<li class="last"><a href="{{ site.baseurl }}{% link index.html %}">Stanford Symphonic Chorus</a></li>
		</ul>
		<div id="copyright">
			<p class="vcard">
				Website work by
				<script type="text/javascript">
					unScramble("berdahl","serendipity.organize","Eric Berdahl","SSC Website feedback");
				</script>
				<noscript>Eric Berdahl: berdahl/AT/serendipity/DOT/-o-r-g-/</noscript>
				.
				Chorus photos this page by
				<script type="text/javascript">
					unScramble("R.A.Wilson", "gmail.commuter", "R. A. Wilson", "Chorus photos on the SSC Website");
				</script>
				<noscript>R. A. Wilson: R.A.Wilson/AT/g-mail/DOT/-c-o-m-/</noscript>
				.
			</p>
			<p class="vcard">
				&copy; <span class="fn org">Stanford University</span>.
				<span class="adr">450 Serra Mall,
					<span class="locality">Stanford</span>,
					<span class="region">California</span>
					<span class="postal-code">94305</span>.
					<span class="tel">(650) 723-2300</span>
				</span>.
				<a href="http://www.stanford.edu/site/terms.html">Terms of Use</a> | <a href="http://www.stanford.edu/site/copyright.html">Copyright Complaints</a>
			</p>
		</div>
		<!-- TemplateEndEditable -->
	</div>
</div>
<!-- TemplateBeginEditable name="bottom" -->
<!-- TemplateEndEditable -->
</body>
</html>
