---
layout: default

title: "Performances"

logo_include: "logo_ssc.html"

stylesheets:
-   "secondary"

ie6_stylesheets:
-   "secondary"

scripts:

sections:
    supplement: |
        <div id="see_also">
            {% include china_2008_info.html %}
        </div>

---
{% assign current_program = site.programs | where_exp: "item","item.quarter == site.data.utils.current_quarter"
                                          | first %}
{% assign past_programs = site.programs | where_exp: "item","item.first_concert.start <= current_program.first_concert.start" %}
{% assign programs = past_programs | sort: "first_concert.start"
                                   | reverse %}
{% assign first_concerts = programs | map: "first_concert" %}
{% assign year_nav_programs = site.data.utils.empty_array | unshift: current_program %}
{% assign ynp_current_year = current_program.first_concert.start | date: "%Y" %}
{% for p in programs %}
    {% assign p_year = p.first_concert.start | date: "%Y" %}
    {% if p_year != ynp_current_year %}
        {% assign year_nav_programs = year_nav_programs | unshift: p %}
        {% assign ynp_current_year = p_year %}
    {% endif %}
{% endfor %}
{% assign year_nav_programs = year_nav_programs | sort: "first_concert.start"
                                                | reverse %}
<div id="sidebar_introduction">
	<!-- TemplateBeginEditable name="sidebar_introduction" -->
	<div id="content_introduction">
		<h2>Performances</h2>
		<p class="introduction">Stanford Symphonic Chorus performs symphonic works three times a year - each academic quarter.</p>
	</div>
	<h3>Years</h3>
	<ul>
		{% for ynp in year_nav_programs %}
			<li><a href="#{{ynp.label}}">{{ynp.first_concert.start | date: "%Y"}}</a></li>
		{% endfor %}
	</ul>
	<!-- TemplateEndEditable -->
</div>
<div id="content_main">
	<div id="breadcrumb">
		<p>
			<!-- TemplateBeginEditable name="breadcrumb" -->
			<a href="{{ site.baseurl }}{% link index.html %}">Symphonic Chorus Home</a>
			» {{page.title}}
			<!-- TemplateEndEditable -->
		</p>
	</div>
	<!-- TemplateBeginEditable name="content_main" -->
	{% for p in programs %}
		{% assign p_path = "performances/" | append: p.label
											| append: "/"  %}
		<br class="clear">
		<div id="{{ p.label }}" class="middle">
			{% if p.poster %}
				{% assign lightbox_image = p.poster.pdf | default: p.poster.jpg.file %}
				{% assign lightbox_display = p.poster.jpg %}
			{% elsif p.images %}
				{% assign lightbox_image = p.images[0].file %}
				{% assign lightbox_display = p.images[0] %}
			{% else %}
				{% assign lightbox_image = nil %}
				{% assign lightbox_display = nil %}
			{% endif %}
			
			{% if lightbox_image %}
				{% assign image_file = lightbox_image | prepend: p_path
														| uri_escape %}
				{% assign display_file = lightbox_display.file | prepend: p_path
																| uri_escape %}
				{% include lightbox.html image=image_file
										display=display_file
										width=lightbox_display.width
										height=lightbox_display.height
										caption=lightbox_display.caption
										img_width=107 %}
			{% else %}
				<img src="images/M@S-roundedges.gif" alt="">
			{% endif %}
			<div class="middle_content">
				<h3>{{ p.quarter }}</h3>
				
				{% for r in p.repertoire %}
					{% if forloop.first %}
						<p>Repertoire:</p>
						<ul class="artists">
					{% endif %}
							<li>{% include piece_citation.html piece=r style="em-tagged" %}</li>
					{% if forloop.last %}
						</ul>
					{% endif %}
				{% endfor %}
				
				{% for s in p.soloists %}
					{% if forloop.first %}
						<p>With soloists:</p>
						<ul class="artists">
					{% endif %}
							<li>{{ s.name }}, {{ s.part }}</li>
					{% if forloop.last %}
						</ul>
					{% endif %}
				{% endfor %}
				
				{% if p.collaborators.size %}
					<p>Performed with {% include collab_array_citation.html collaborators=p.collaborators %}.</p>
				{% endif %}

				{% if p.directors.size > 0 %}
					<p>Directed by {{ p.directors | array_to_sentence_string }}.</p>
				{% endif %}
				
				<h4>Concerts:</h4>
				{% for c in p.concerts %}
					<p>{{ c.start | date: "%A %-e %B %Y, %-l:%M%P" }}, {% include loc_citation.html loc=c.location %}</p>
				{% endfor %}
			</div>
			<ul class="middle_links">
				{% if p.poster %}
					{% assign posters = site.data.utils.empty_array | unshift: p.poster.jpg.file
																	| unshift: p.poster.pdf
																	| compact %}
					{% assign link_label = p.quarter | append: " poster" %}
					<li>Poster {% include file_links.html label=link_label versions=posters path=p_path %}</li>
				{% endif %}
				{% for r in p.repertoire %}
					{% assign fylp = site.fylp | where: "piece_ref",r.ref
												| first %}
					{% if r.ref and fylp %}
						<li><a href="{{fylp.url | relative_url}}">For your listening pleasure: {% include piece_citation.html piece=r style="em-tagged" %}</a></li>
					{% endif %}
				{% endfor %}
				{% for l in p.links %}
					{% if l.file %}
						{% assign link_url = l.file | prepend: p_path
													| uri_escape
													| relative_url %}
					{% else %}
						{% assign link_url = l.url %}
					{% endif %}
					<li><a href="{{link_url}}">{{l.text}}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
	<!-- ====================================================================== -->
	<br class="clear">
	<!-- TemplateEndEditable -->
</div>
