---
---
{% assign current_program = site.programs | where_exp: "item","item.first_concert.start > site.time"
                                          | sort: "first_concert.start"
									      | first %}
{% assign past_programs = site.programs | where_exp: "item","item.first_concert.start <= site.time" %}
{% assign programs = past_programs | unshift: current_program
                                   | sort: "first_concert.start"
                                   | reverse %}
{% assign first_concerts = programs | map: "first_concert" %}
{% assign year_nav_programs = site.data.utils.empty_array | unshift: current_program %}
{% assign ynp_current_year = current_program.first_concert.start | date: "%Y" %}
{% for p in programs %}
    {% assign p_year = p.first_concert.start | date: "%Y" %}
    {% if p_year != ynp_current_year %}
        {% assign year_nav_programs = year_nav_programs | unshift: p %}
        {% assign ynp_current_year = p_year %}
    {% endif %}
{% endfor %}
{% assign year_nav_programs = year_nav_programs | sort: "first_concert.start"
                                                | reverse %}
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Stanford Symphonic Chorus</title>
<!-- Base stylesheet which imports typography, resets, header/footer layout, and other miscellaneous styles -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{% link css/base.css %}">
<!-- Page specific stylesheet for middle layout section (sidebars and content_main) -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{% link css/secondary.css %}">
<script src="{{ site.baseurl }}{% link js/mootools.js %}" type="text/javascript"></script>
<script src="{{ site.baseurl }}{% link js/mediabox.js %}" type="text/javascript"></script>
<script src="{{ site.baseurl }}{% link js/functions.js %}" type="text/javascript"></script>
<script src="{{ site.baseurl }}{% link js/emus.js %}" type="text/javascript"></script>
<!--[if IE 6]>
	<style type="text/css">
		@import url(css/ie/ie_global.css);
		@import url(css/ie/ie_secondary.css);
	</style>
<![endif]-->
<!--[if IE 7]>
	<style type="text/css">
		@import url(css/ie/ie7.css);
	</style>
<![endif]-->
</head>
<body>
<!-- TemplateBeginEditable name="top" -->
<!-- TemplateEndEditable -->
<div class="skip">
	<a href="#content_main">Skip to Content</a>
</div>
<div id="container">
	<div id="container_header">
		<div id="header">
			{% include logo_ssc.html %}
			{% include container_search.html %}
		</div>
	</div>
	{% include nav_topic.html %}
	<div id="title">
		<h1>
			<!-- TemplateBeginEditable name="Page Title" -->
			Performances
			<!-- TemplateEndEditable -->
		</h1>
	</div>
	<div id="sidebar_introduction">
		<!-- TemplateBeginEditable name="sidebar_introduction" -->
		<div id="content_introduction">
			<h2>Performances</h2>
			<p class="introduction">Stanford Symphonic Chorus performs symphonic works three times a year - each academic quarter.</p>
		</div>
		<h3>Years</h3>
		<ul>
            {% for ynp in year_nav_programs %}
                <li><a href="#{{ynp.label}}">{{ynp.first_concert.start | date: "%Y"}}</a></li>
            {% endfor %}
			<li><a href="#f2007">2007</a></li>
			<li><a href="#f2006">2006</a></li>
			<li><a href="#f2005">2005</a></li>
			<li><a href="#f2004">2004</a></li>
			<li><a href="#f2003">2003</a></li>
			<li><a href="#f2002">2002</a></li>
			<li><a href="#f2001">2001</a></li>
			<li><a href="#f2000">2000</a></li>
			<li><a href="#f1999">1999</a></li>
			<li><a href="#f1998">1998</a></li>
			<li><a href="#f1997">1997</a></li>
			<li><a href="#f1996">1996</a></li>
			<li><a href="#f1995">1995</a></li>
		</ul>
		<!-- TemplateEndEditable -->
	</div>
	<div id="content_main">
		<div id="breadcrumb">
			<p>
				<!-- TemplateBeginEditable name="breadcrumb" -->
				<a href="{{ site.baseurl }}{% link index.html %}">Symphonic Chorus Home</a>
				» Performances
				<!-- TemplateEndEditable -->
			</p>
		</div>
		<!-- TemplateBeginEditable name="content_main" -->
		{% for p in programs %}
            {% assign p_path = "performances/" | append: p.label
                                               | append: "/"  %}
    		<br class="clear">
    		<div id="{{ p.label }}" class="middle">
                {% if p.poster %}
                    {% assign lightbox_image = p.poster.pdf | default: p.poster.jpg.file %}
                    {% assign lightbox_display = p.poster.jpg %}
                {% elsif p.images %}
                    {% assign lightbox_image = p.images[0].file %}
                    {% assign lightbox_display = p.images[0] %}
                {% else %}
                    {% assign lightbox_image = nil %}
                    {% assign lightbox_display = nil %}
                {% endif %}
                
                {% if lightbox_image %}
                    {% assign image_file = lightbox_image | prepend: p_path
                                                          | uri_escape %}
                    {% assign display_file = lightbox_display.file | prepend: p_path
                                                                   | uri_escape %}
                    {% include lightbox.html image=image_file
                                            display=display_file
        									width=lightbox_display.width
        									height=lightbox_display.height
        									caption=lightbox_display.caption
        									img_width=107 %}
                {% else %}
                    <img src="images/M@S-roundedges.gif" alt="">
                {% endif %}
    			<div class="middle_content">
    				<h3>{{ p.quarter }}</h3>
    				
    				{% for r in p.repertoire %}
        				{% if forloop.first %}
            				<p>Repertoire:</p>
            				<ul class="artists">
        				{% endif %}
    					        <li>{% include piece_citation.html piece=r %}</li>
        				{% if forloop.last %}
        				    </ul>
        				{% endif %}
    				{% endfor %}
    				
    				{% for s in p.soloists %}
        				{% if forloop.first %}
            				<p>With soloists:</p>
            				<ul class="artists">
        				{% endif %}
    					        <li>{{ s.name }}, {{ s.part }}</li>
        				{% if forloop.last %}
        				    </ul>
        				{% endif %}
    				{% endfor %}
    				
                    {% if p.collaborators.size %}
                        <p>Performed with {% include collab_array_citation.html collaborators=p.collaborators %}.</p>
    				{% endif %}

    				{% if p.directors.size > 0 %}
                        <p>Directed by {{ p.directors | array_to_sentence_string }}.</p>
                    {% endif %}
                    
    				<h4>Concerts:</h4>
    				{% for c in p.concerts %}
    				    <p>{{ c.start | date: "%A %-e %B %Y, %-l:%M%P" }}, {% include loc_citation.html loc=c.location %}</p>
    				{% endfor %}
    			</div>
    			<ul class="middle_links">
                    {% if p.poster %}
                        {% assign posters = site.data.utils.empty_array | unshift: p.poster.jpg.file
                                                                        | unshift: p.poster.pdf
                                                                        | compact %}
                        {% assign link_label = p.quarter | append: " poster" %}
                        <li>Poster {% include file_links.html label=link_label versions=posters path=p_path %}</li>
                    {% endif %}
                    {% for r in p.repertoire %}
                        {% assign fylp = site.fylp | where: "piece_ref",r.ref
                                                   | first %}
                        {% if fylp %}
                            <li><a href="{{fylp.url | relative_url}}">For your listening pleasure: {% include piece_citation.html piece=r style="simple" %}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% for l in p.links %}
                        {% if l.file %}
                            {% assign link_url = l.file | prepend: p_path
                                                        | uri_escape
                                                        | relative_url %}
                        {% else %}
                            {% assign link_url = l.url %}
                        {% endif %}
                        <li><a href="{{link_url}}">{{l.text}}</a></li>
                    {% endfor %}
    			</ul>
    		</div>
		{% endfor %}
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="s2008.2" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Spring 2008 (Program #2)</h3>
				<p>Zhou Long, <em>Cosmic Flames</em></p>
				<h4>Concerts:</h4>
				<p>8 p.m. Friday 30 May and Saturday 31 May</p>
				<p>
					With the {% include collab_citation.html collab="SSO" %},
					Jindong Cai, music director and conductor, and {% include collab_citation.html collab="taiko" %}.
				</p>
			</div>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="s2008.1" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Spring 2008 (Program #1)</h3>
				<p>{% include piece_citation.html piece_ref="orff/carmina burana" %}</p>
				<h4>Concerts:</h4>
				<p>8 p.m. Saturday 26 April, and 1:30 p.m. Sunday 27 April</p>
				<p>
					With the {% include collab_citation.html collab="SSO" %},
					Jindong Cai, music director and conductor, and the
					Jin Xing Dance Company.
					These concerts are part of Stanford's <a href="http://livelyarts.stanford.edu/">Lively Arts</a> concert series.
				</p>
			</div>
			<ul class="middle_links">
				<li><a href="fylp/orff-carmina-burana.html">For your listening pleasure: {% include piece_citation.html piece_ref="orff/carmina burana" style="simple" %}</a></li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="w2008" class="middle">
			<a class="photo" href="performances/W2008/SSC-E-PosterW2008.jpg" title="Carl Orff, Carmina Burana, Winter 2008" rel="mediabox[800 517]">
				<img class="framed" src="performances/W2008/SSC-E-PosterW2008_thumb.jpg" alt="Winter 2008, Carl Orff, Carmina Burana">
			</a>
			<div class="middle_content">
				<h3>Winter 2008</h3>
				<p>{% include piece_citation.html piece_ref="orff/carmina burana" %}</p>
				<ul class="artists">
					<li>Diane Squires, <em>soprano</em></li>
					<li>Brian Staufenbiel, <em>tenor</em></li>
					<li>Jeffrey Fields, <em>bass</em></li>
					<li>Cantabile Youth Singers, Elena Sharkova, director</li>
				</ul>
				<p>Henri Vieuxtemps, <em>Violin Cncerto</em></p>
				<ul class="artists">
					<li>Christina Ho, <em>violin</em></li>
				</ul>
				<h4>Concerts:</h4>
				<p>8 p.m. Friday 8 February, and 2:30 p.m. Sunday 10 February, {% include loc_citation.html loc="Dink" %}.</p>
				<p>
					With the {% include collab_citation.html collab="SSO" %}, Jindong Cai, music director and conductor, and the
					{% include collab_citation.html collab="university singers" %}, Martin Fraile, conductor.
				</p>
			</div>
			<ul class="middle_links">
				<li>Poster (<a href="performances/W2008/SSC-E-PosterW2008.jpg">JPG</a>)</li>
				<li><a href="fylp/orff-carmina-burana.html">For your listening pleasure: {% include piece_citation.html piece_ref="orff/carmina burana" style="simple" %}</a></li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="f2007" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Fall 2007</h3>
				<p>Ralph Vaughn Williams, <em>Fantasia on Greensleeves</em></p>
				<p>Maurice Ravel, <em>Pavane pour une infante defunte (Pavane for a Dead Princess)</em></p>
				<p>Gustav Holst, <em>Brook Green Suite</em></p>
				<p>Maurice Ravel, <em>Ma Mere l'Oye (Mother Goose Suite)</em></p>
				<p>{% include piece_citation.html piece_ref="poulenc/gloria" %}</p>
				<h4>Concerts:</h4>
				<p>8 p.m. Friday 30 November, and 1:30 p.m. Sunday 2 December</p>
				<p>
					With the {% include collab_citation.html collab="PSO" %},
					<a href="http://www.peninsulasymphony.org/conductors.php">Mitchell Sardou Klein</a>, music director and conductor.
				</p>
			</div>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="s2007" class="middle">
			<a class="photo" href="performances/S2007/E-FlyerSpring2007.jpg" title="Stanford Symphonic Chorus, Rutter, Requiem, Spring 2007" rel="mediabox[387 600]">
				<img class="framed" src="performances/S2007/E-FlyerSpring2007_thumb.jpg" alt="Spring 2007, Stanford Symphonic Chorus, Rutter Requiem, Spring 2007">
			</a>
			<div class="middle_content">
				<h3>Spring 2007</h3>
				<p>William Walton, <em>Crown Imperial</em></p>
				<p>Ralph Vaughan Williams, <em>Five Mystical Songs</em></p>
				<p>John Rutter, <em>Requiem</em></p>
				<ul class="artists">
					<li>Stephen M. Sano, <em>conductor</em></li>
					<li>Georgia Duan, <em>soprano</em></li>
					<li>Kenneth Goodson, <em>baritone</em></li>
				</ul>
				<h4>Concerts:</h4>
				<p>8 p.m. Friday 18 May, {% include loc_citation.html loc="MemChu" %}</p>
			</div>
			<ul class="middle_links">
				<li>Poster (<a href="performances/S2007/E-FlyerSpring2007.jpg">JPG</a>)</li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="w2007" class="middle">
			<a class="photo" href="performances/W2007/SSC_W2007_E-Flyer.jpg" title="Stanford Symphonic Chorus, Tippet, A Child of Our Time, Winter 2007" rel="mediabox[899 517]">
				<img class="framed" src="performances/W2007/SSC_W2007_E-Flyer_thumb.jpg" alt="Stanford Symphonic Chorus, Tippet, A Child of Our Time, Winter 2007">
			</a>
			<div class="middle_content">
				<h3>Winter 2007</h3>
				<p>Sir Michael Tippett, <em>A Child of Our Time</em></p>
				<ul class="artists">
					<li>Juyeon Song, <em>soprano</em></li>
					<li>Kendall Gladen, <em>mezzo soprano</em></li>
					<li>Noah Stewart, <em>tenor</em></li>
					<li>Jeremy Galyon, <em>bass</em></li>
				</ul>
				<p>Gustav Mahler, <em>Adagietto from Symphony No. 5</em></p>
				<h4>Concerts:</h4>
				<p>8 p.m. Friday and Saturday, 9 and 10 March, 8 p.m., {% include loc_citation.html loc="MemChu" %}</p>
				<p>With the {% include collab_citation.html collab="SSO" %}, Jindong Cai, music director and conductor.</p>
			</div>
			<ul class="middle_links">
				<li>Poster (<a href="performances/W2007/SSC-E-PosterW2007.jpg">JPG</a>)</li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="f2006" class="middle">
			<a class="photo" href="performances/F2006/SSCFlyerFall06.jpg" title="Dvorak, Mass in D Major, Fall 2006" rel="mediabox[899 517]">
				<img class="framed" src="performances/F2006/SSCFlyerFall06_thumb.jpg" alt="Dvorak, Mass in D Major, Fall 2006">
			</a>
			<div class="middle_content">
				<h3>Fall 2006</h3>
				<p>Dvorák, <em>Mass in D Major, Op. 86</em></p>
				<ul class="artists">
					<li>Emily Ford Dirks, <em>soprano</em></li>
					<li>Janet Campbell, <em>mezzo soprano</em></li>
					<li>Trey Costerisan, <em>tenor</em></li>
					<li>Michael Morris, <em>bass</em></li>
				</ul>
				<p>Handel, <em>Messiah</em> excerpts</p>
				<h4>Concerts:</h4>
				<p>8 p.m. Friday 1 December, and 1:30 p.m. Sunday 3 December</p>
				<p>
					With the {% include collab_citation.html collab="PSO" %},
					<a href="http://www.peninsulasymphony.org/conductors.php">Mitchell Sardou Klein</a>, music director and conductor.
				</p>
			</div>
			<ul class="middle_links">
				<li>Poster (<a href="performances/F2006/SSCFlyerFall06.jpg">JPG</a>)</li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="s2006" class="middle">
			<a class="photo" href="performances/S2006/Spring06_E-Flyer.jpg" title="Mozart, Requiem, Spring 2006" rel="mediabox[392 600]">
				<img class="framed" src="performances/S2006/Spring06_E-Flyer_thumb.jpg" width="109" height="166" alt="Mozart, Requiem, Spring 2006">
			</a>
			<div class="middle_content">
				<h3>Spring 2006</h3>
				<p>Mozart, <em>Requiem</em> KV 626</p>
				<ul class="artists">
					<li>Vivian Krich-Brinton, <em>soprano</em></li>
					<li>Amy Schneider, <em>mezzo soprano</em></li>
					<li>Brian Thorsett, <em>tenor</em></li>
					<li>Matthew Trevino, <em>bass</em></li>
				</ul>
				<h4>Concert:</h4>
				<p>8 p.m. Friday 19 May</p>
			</div>
			<ul class="middle_links">
				<li>Poster (<a href="performances/S2006/Spring06_Poster.pdf">PDF</a>&nbsp;|&nbsp;<a href="performances/S2006/Spring06_E-Flyer.jpg">JPG</a>)</li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="w2006" class="middle">
			<a class="photo" href="performances/W2006/SSC_PosterWinter2006.jpg" title="Brahms, Ein Deutsches Requiem, Winter 2006" rel="mediabox[387 600]">
				<img class="framed" src="performances/W2006/SSC_PosterWinter2006_thumb.jpg" alt="Brahms, Ein Deutsches Requiem, Winter 2006">
			</a>
			<div class="middle_content">
				<h3>Winter 2006</h3>
				<p>{% include piece_citation.html piece_ref="brahms/academic festival overture" %}</p>
				<p>{% include piece_citation.html piece_ref="brahms/requiem" %}</p>
				<ul class="artists">
					<li>Kathryn Gresham, <em>soprano</em></li>
					<li>Kenneth Goodson, <em>baritone</em></li>
				</ul>
				<p>
					With the {% include collab_citation.html collab="university singers" %} and the
					{% include collab_citation.html collab="SSO" %}.
				</p>
			</div>
			<ul class="middle_links">
				<li>Poster (<a href="performances/W2006/SSC_PosterWinter2006.jpg">JPG</a>)</li>
                <li><a href="fylp/brahms-requiem.html">For your listening pleasure: {% include piece_citation.html piece_ref="brahms/requiem" style="simple" %}</a></li>
				<li><a href="performances/S1995/text.html">Text</a></li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="f2005" class="middle">
			<a class="photo" href="performances/F2005/SSC_E-FlyerFall2005.jpg" title="Holiday celebration, Fall 2005" rel="mediabox[899 517]">
				<img class="framed" src="performances/F2005/SSC_E-FlyerFall2005_thumb.jpg" width="109" height="71" alt="Holiday celebration, Fall 2005">
			</a>
			<div class="middle_content">
				<h3>Fall 2005—A Holiday Celebration!</h3>
				<p>Brahms, <em>Festé und Gedenksprüche</em>, Op. 109, arr. for brass by Fred W. Teuber</p>
				<ul class="artists">
					<li>Geoffrey Gallegos, <em>conductor</em></li>
				</ul>
				<p>Aquilanti, <em>Prima Missa</em></p>
				<ul class="artists">
					<li>Mary Linduska, <em>soprano</em></li>
					<li>Reed Criddle, <em>tenor</em></li>
					<li>Giancarlo Aquilanti, <em>conductor</em></li>
				</ul>
				<p>Arcangel Correli, <em>Concerto Grosso in G minor, Fatto per la note de natale</em>, Op. 6 No. 8</p>
				<ul class="artists">
					<li><a href="http://www.peninsulasymphony.org/conductors.php">Mitchell Sardou Klein</a>, conductor</li>
				</ul>
				<p>{% include piece_citation.html piece_ref="vaughan williams/fantasia on christmas carols" %}</p>
				<ul class="artists">
					<li>Kenneth Goodson, baritone</li>
					<li><a href="http://www.peninsulasymphony.org/conductors.php">
							Mitchell Sardou Klein</a>, conductor</li>
				</ul>
				<p>Rutter: <em>Star Carol, The 12 Days of Christmas</em></p>
				<ul class="artists">
					<li>Stephen M. Sano, conductor</li>
				</ul>
				<h4>Concerts:</h4>
				<p>8 p.m. Friday 2 December, and 1:30 p.m. Sunday 4 December, {% include loc_citation.html loc="MemChu" %}</p>
			</div>
			<ul class="middle_links">
				<li>Poster (<a href="performances/F2005/SSC_E-FlyerFall2005.jpg">JPG</a>)</li>
				<li><a href="fylp/vaughan-williams-fantasia-on-christmas-carols.html">For your listening pleasure: {% include piece_citation.html piece_ref="vaughan williams/fantasia on christmas carols" style="simple" %}</a></li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="s2005" class="middle">
			<a class="photo" href="performances/S2005/SSC_Flyer_S2005.jpg" title="Haydn, Harmonie Messe, Spring 2005" rel="mediabox[480 600]">
				<img class="framed" src="performances/S2005/SSC_Flyer_S2005_thumb.jpg" width="109" height="136" alt="Haydn, Harmonie Messe, Spring 2005">
			</a>
			<div class="middle_content">
				<h3>Spring 2005</h3>
				<p>{% include piece_citation.html piece_ref="haydn/harmonie messe" %}</p>
				<h4>Concert:</h4>
				<p>8 p.m. Friday 20 May, {% include loc_citation.html loc="MemChu" %}</p>
			</div>
			<ul class="middle_links">
				<li>Poster (<a href="performances/S2005/SSC_Flyer_S2005.jpg">JPG</a>)</li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="w2005" class="middle">
			<a class="photo" href="performances/W2005/Verdi_Poster.jpg" title="Verdi, Requiem, Winter 2005" rel="mediabox[504 378]">
				<img class="framed" src="performances/W2005/Verdi_Poster_thumb.jpg" width="109" height="81" alt="Verdi, Requiem, Winter 2005">
			</a>
			<div class="middle_content">
				<h3>Winter 2005</h3>
				<p>{% include piece_citation.html piece_ref="verdi/requiem" %}</p>
				<h4>Concerts:</h4>
				<p>8 p.m. Friday 4 March, and 1:30 p.m. Sunday 6 March, {% include loc_citation.html loc="MemChu" %}</p>
				<p>With the {% include collab_citation.html collab="SSO" %}, Jindong Cai, music director and conductor.</p>
			</div>
			<ul class="middle_links">
				<li>Poster (<a href="performances/W2005/Verdi_Poster.jpg">JPG</a>)</li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="f2004" class="middle">
			<a class="photo" href="performances/F2004/SSC_Poster_Fall_2004.jpg" title="Fall 2004" rel="mediabox[899 517]">
				<img class="framed" src="performances/F2004/SSC_Poster_Fall_2004_thumb.jpg" width="109" height="87" alt="Kudo, Mendelssohn, Bloch, Bruckner, Zeisl, Fall 2004">
			</a>
			<div class="middle_content">
				<h3>Fall 2004</h3>
				<p>Takeo Kudo, <em>Interlude</em></p>
				<p>{% include piece_citation.html piece_ref="mendelssohn/psalm 114" %}</p>
				<p>Ernest Bloch, <em>Psalm 114</em></p>
				<p>{% include piece_citation.html piece_ref="bruckner/psalm-150" %}</p>
				<p>{% include piece_citation.html piece_ref="zeisl/requiem ebraico" %}</p>
				<h4>Concerts:</h4>
				<ul class="concerts">
					<li>8 p.m. Thursday 18 November, {% include loc_citation.html loc="MemChu" %}</li>
					<li>1:30 p.m. Sunday 21 November, {% include loc_citation.html loc="MemChu" %}</li>
					<li>7:30 p.m. Monday 22 November, {% include loc_citation.html loc="emanuelsf" %}</li>
				</ul>
				<p>
					With the {% include collab_citation.html collab="PSO" %},
					<a href="http://www.peninsulasymphony.org/conductors.php">Mitchell Sardou Klein</a>, music director and conductor.
				</p>
			</div>
			<ul class="middle_links">
				<li>Poster (<a href="performances/F2004/SSC_Poster_Fall_2004.pdf">PDF</a>&nbsp;|&nbsp;<a href="performances/F2004/SSC_Poster_Fall_2004.jpg">JPG</a>)</li>
                <li><a href="fylp/bruckner-psalm150.html">For your listening pleasure: {% include piece_citation.html piece_ref="bruckner/psalm-150" style="simple" %}</a></li>
                <li><a href="fylp/mendelssohn-psalm114.html">For your listening pleasure: {% include piece_citation.html piece_ref="mendelssohn/psalm 114" style="simple" %}</a></li>
                <li><a href="fylp/zeisl-requiem-ebraico.html">For your listening pleasure: {% include piece_citation.html piece_ref="zeisl/requiem ebraico" style="simple" %}</a></li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="s2004" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Spring 2004</h3>
				<p>{% include piece_citation.html piece_ref="mendelssohn/lobgesang" %}</p>
				<h4>Concerts:</h4>
				<p>8 p.m. Friday 21 May, and 2 p.m. Sunday 23 May, {% include loc_citation.html loc="MemChu" %}</p>
			</div>
			<ul class="middle_links">
				<li><a href="fylp/mendelssohn-symphony-no2.html">For your listening pleasure: {% include piece_citation.html piece_ref="mendelssohn/lobgesang" style="simple" %}</a></li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="w2004" class="middle">
			<a class="photo" href="performances/W2004/SSC_Poster_Winter_2004.jpg" title="Ralph Vaughan Williams, Winter 2004" rel="mediabox[899 517]">
				<img class="framed" src="performances/W2004/SSC_Poster_Winter_2004_thumb.jpg" alt="Ralph Vaughan Williams, Winter 2004">
			</a>
			<div class="middle_content">
				<h3>Winter 2004</h3>
				<p>{% include piece_citation.html piece_ref="vaughan williams/fantasia on theme of thomas tallis" %}</p>
				<p>{% include piece_citation.html piece_ref="vaughan williams/dona nobis pacem" %}</p>
				<p>Benjamin Britten, <em>Four Sea Interludes</em></p>
				<h4>Concerts:</h4>
				<p>8 p.m. Friday 5 March, and 8 p.m. Saturday 6 March, {% include loc_citation.html loc="MemChu" %}</p>
				<p>With the {% include collab_citation.html collab="SSO" %}.</p>
			</div>
			<ul class="middle_links">
				<li>Poster (<a href="performances/W2004/SSC_Poster_Winter_2004.jpg">JPG</a>)</li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="f2003" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Fall 2003</h3>
				<p>Puccini, <em>Messa di Gloria</em></p>
				<p>{% include piece_citation.html piece_ref="faure/requiem" %}</p>
				<h4>Concerts:</h4>
				<p>8 p.m. Friday 21 November, and 1:30 p.m. Sunday 23 November, {% include loc_citation.html loc="MemChu" %}</p>
			</div>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="s2003" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Spring 2003</h3>
				<p>{% include piece_citation.html piece_ref="orff/carmina burana" %}</p>
				<h4>Concerts:</h4>
				<ul class="concerts">
					<li>8 p.m. Friday 23 May, {% include loc_citation.html loc="SMPAC" %}</li>
					<li>8 p.m. Saturday 24 May, {% include loc_citation.html loc="Flint" %}</li>
					<li>2:30 p.m. Sunday 25 May, {% include loc_citation.html loc="Dink" %}</li>
				</ul>
				<p>With the {% include collab_citation.html collab="PSO" %}.</p>
			</div>
			<ul class="middle_links">
				<li><a href="fylp/orff-carmina-burana.html">For your listening pleasure: {% include piece_citation.html piece_ref="orff/carmina burana" style="simple" %}</a></li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="w2003" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Winter 2003</h3>
				<p>Ludwig von Beethoven, <em>Piano Concerto No. 4</em></p>
				<p>Stravinsky, <em>Symphony of Psalms</em></p>
				<p>Ludwig von Beethoven, <em>Choral Fantasy</em></p>
				<p>Featuring Thomas Schultz, <em>piano</em></p>
				<h4>Concerts:</h4>
				<p>8 p.m. Friday 28 February, and 8 p.m. Saturday 1 March, {% include loc_citation.html loc="Dink" %}</p>
			</div>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="f2002" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Fall 2002</h3>
				<p>Gerald Finzi, <em>In Terra Pax</em></p>
				<p>Edward Elgar, <em>Serenade for Strings</em></p>
				<p>Percy Grainger, <em>Lincolnshire Posy</em> for wind ensemble</p>
				<p>Ludwig von Beethoven, <em>Magnificat</em></p>
				<p>Featuring:</p>
				<ul class="artists">
					<li>Elyse Nakajima, <em>soprano</em></li>
					<li>Scott Bearden, <em>baritone</em></li>
				</ul>
				<h4>Concerts:</h4>
				<p>8 p.m. Friday 22 November, and 2 p.m. Sunday 24 November, {% include loc_citation.html loc="MemChu" %}</p>
				<p>
					With the {% include collab_citation.html collab="PSO" %},
					<a href="http://www.peninsulasymphony.org/conductors.php">Mitchell Sardou Klein</a>.
				</p>
			</div>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="s2002" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Spring 2002</h3>
				<p>Schubert, <em>Rosamunde Overture</em></p>
				<p>Brahms, <em>Gesang der Parzen</em></p>
				<p>Bruckner, <em>Te Deum</em></p>
				<ul class="artists">
					<li>Kristin Genis-Lund, <em>soprano</em></li>
					<li>Claire Giovanetti, <em>mezzo-soprano</em></li>
					<li>Jonathon Hodel, <em>tenor</em></li>
					<li>Kenneth Goodson, <em>baritone</em></li>
				</ul>
				<h4>Concerts:</h4>
				<p>8 p.m. 30 and 31 May, {% include loc_citation.html loc="MemChu" %}</p>
			</div>

			<ul class="middle_links">
				<li><a href="performances/S2003/parzen.html">Text and translation of <em>Gesang der Parzen</em></a></li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="w2002" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Winter 2002</h3>
				<p>Gabrielli, <em>Canzon Primi Toni, Sacrae Symphoniae</em></p>
				<p>Barber, <em>Violin Concerto</em></p>
				<ul class="artists">
					<li>Caroline Campbell, <em>violin</em></li>
				</ul>
				<p>{% include piece_citation.html piece_ref="mozart/mass in c minor" %}</p>
				<ul class="artists">
					<li>Suzanne Ramo, <em>soprano</em></li>
					<li>Twyla Robinson, <em>soprano</em></li>
					<li>Brian Anderson, <em>tenor</em></li>
					<li>Kenneth Goodson, <em>baritone</em></li>
				</ul>
				<h4>Concerts:</h4>
				<p>8 p.m. 1 and 2 March, {% include loc_citation.html loc="MemChu" %}</p>
				<p>With the {% include collab_citation.html collab="SSO" %}, Karla Lemon, conductor.</p>
			</div>
			<ul class="middle_links">
				<li><a href="performances/W2002/cminormass.html">A Preface</a></li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="f2001" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Fall 2001</h3>
				<p>{% include piece_citation.html piece_ref="berlioz/requiem" %}</p>
				<h4>Concerts:</h4>
				<p>18 and 19 November, {% include loc_citation.html loc="MemChu" %}</p>
				<p>
					With the {% include collab_citation.html collab="PSO" %},
					<a href="http://www.peninsulasymphony.org/conductors.php">Mitchell Sardou Klein</a>.
				</p>
			</div>
            <div class="middle_links">
                <ul>
                    <li><a href="fylp/berlioz-requiem.html">For your listening pleasure: {% include piece_citation.html piece_ref="berlioz/requiem" style="simple" %}</a></li>
                </ul>
            </div>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="s2001" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Spring 2001</h3>
				<p>Mechem, <em>The Songs of the Slave</em> from the opera <em>John Brown</em></p>
				<h4>Concerts:</h4>
				<p>23 and 25 May, {% include loc_citation.html loc="MemChu" %}</p>
				<p>
					With the {% include collab_citation.html collab="PSO" %},
					<a href="http://www.peninsulasymphony.org/conductors.php">Mitchell Sardou Klein</a>.
				</p>
			</div>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="w2001" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Winter 2001</h3>
				<p>Handel, <em>Zadok the Priest</em></p>
				<p>Finzi, <em>Let us garlands bring</em></p>
				<ul class="artists">
					<li>Kenneth Goodson, <em>baritone</em></li>
				</ul>
				<p>{% include piece_citation.html piece_ref="elgar/music makers" %}</p>
				<ul class="artists">
					<li>Jennifer Lane, <em>mezzo-soprano</em></li>
				</ul>
				<h4>Concerts:</h4>
				<p>18 and 19 November</p>
			</div>
            <ul class="middle_links">
                <li><a href="/group/SymCh/fylp/elgar-music-makers.html">For your listening pleasure: {% include piece_citation.html piece_ref="elgar/music makers" style="simple" %}</a></li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="f2000" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Fall 2000</h3>
				<p>{% include piece_citation.html piece_ref="brahms/requiem" %}</p>
				<h4>Concerts:</h4>
				<p>17 and 19 November, {% include loc_citation.html loc="MemChu" %}</p>
			</div>
			<ul class="middle_links">
                <li><a href="fylp/brahms-requiem.html">For your listening pleasure: {% include piece_citation.html piece_ref="brahms/requiem" style="simple" %}</a></li>
				<li><a href="performances/S1995/text.html">Text</a></li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="s2000" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Spring 2000</h3>
				<p>{% include piece_citation.html piece_ref="beethoven/9th" %}</p>
				<h4>Concerts:</h4>
				<p>8 p.m. 18 and 19 May</p>
			</div>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="w2000" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Winter 2000</h3>
				<p>{% include piece_citation.html piece_ref="mozart/a musical joke" %}</p>
				<p>Mozart, <em>Exsultate, jubilate</em></p>
				<p>{% include piece_citation.html piece_ref="haydn/lord nelson mass" %}</p>
				<ul class="artists">
					<li>Suzanne Beane, <em>soprano</em></li>
					<li>Claire Giovanetti, <em>mezzo-soprano</em></li>
					<li>Gregory Wait, <em>tenor</em></li>
					<li>Kenneth Goodson, <em>baritone</em></li>
				</ul>
				<h4>Concerts:</h4>
				<p>3 March, {% include loc_citation.html loc="MemChu" %}</p>
			</div>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="f1999" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Fall 1999</h3>
				<p>{% include piece_citation.html piece_ref="bernstein/chichester" %}</p>
				<p>Brian Holmes, <em>Now is the Time</em></p>
				<ul class="artists">
					<li>Douglas Lawrence, <em>baritone</em></li>
				</ul>
				<h4>Concerts:</h4>
				<p>18 and 21 November, {% include loc_citation.html loc="MemChu" %}</p>
				<p>
					With the {% include collab_citation.html collab="PSO" %},
					<a href="http://www.peninsulasymphony.org/conductors.php">Mitchell Sardou Klein</a>.
				</p>
			</div>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="s1999.2" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Spring 1999 (Program #2)</h3>
				<p>{% include piece_citation.html piece_ref="copland/suite from our town" %}</p>
				<p>{% include piece_citation.html piece_ref="glazunov/violin concerto" %}</p>
				<p>Arvo Pärt, <em>Credo</em></p>
				<p>Works for taiko drum</p>
				<p>{% include piece_citation.html piece_ref="borodin/polovtsian dances" %}</p>
				<p>{% include piece_citation.html piece_ref="hui/always" %}</p>
				<h4>Concert:</h4>
				<p>2 p.m. Sunday 23 May, {% include loc_citation.html loc="Dink" %}</p>
			</div>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="s1999.1" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Spring 1999 (Program #1)</h3>
				<p>{% include piece_citation.html piece_ref="copland/suite from our town" %}</p>
				<p>{% include piece_citation.html piece_ref="glazunov/violin concerto" %}</p>
				<ul class="artists">
					<li>Stephanie Chase, <em>violin</em></li>
				</ul>
				<p>{% include piece_citation.html piece_ref="ravel/tzigane" %}</p>
				<ul class="artists">
					<li>Stephanie Chase, <em>violin</em></li>
				</ul>
				<p>{% include piece_citation.html piece_ref="borodin/polovtsian dances" %}</p>
				<p>{% include piece_citation.html piece_ref="hui/always" %}</p>
				<h4>Concerts:</h4>
				<ul class="concerts">
					<li>8 p.m. Friday 21 May, {% include loc_citation.html loc="Flint" %}</li>
					<li>8 p.m. Saturday 22 May, {% include loc_citation.html loc="SMPAC" %}</li>
				</ul>
			</div>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="w1999" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Winter 1999</h3>
				<p>Felix Mendelssohn, <em>Elijah</em></p>
				<ul class="artists">
					<li>Mary Linduska, <em>soprano</em></li>
					<li>Wendy Hillhouse, <em>mezzo-soprano</em></li>
					<li>Gregory Wait, <em>tenor</em></li>
					<li>Kenneth Goodson, <em>baritone</em></li>
				</ul>
				<h4>Concert:</h4>
				<p>12 March, {% include loc_citation.html loc="MemChu" %}</p>
			</div>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="f1998" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Fall 1998</h3>
				<p>Hector Berlioz, <em>Te Deum</em></p>
				<ul class="artists">
					<li>Gregory Wait, <em>tenor</em></li>
				</ul>
				<h4>Concerts:</h4>
				<p>21 and 22 November</p>
				<p>
					With the {% include collab_citation.html collab="PSO" %},
					<a href="http://www.peninsulasymphony.org/conductors.php">Mitchell Sardou Klein</a>.
				</p>
			</div>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="s1998" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Spring 1998</h3>
				<p>{% include piece_citation.html piece_ref="vaughan williams/sea symphony" %}</p>
				<h4>Concerts:</h4>
				<p>21 and 22 May, {% include loc_citation.html loc="MemChu" %}</p>
			</div>
			<ul class="middle_links">
				<li><a href="fylp/vaughan-williams-sea-symphony.html">For your listening pleasure: {% include piece_citation.html piece_ref="vaughan williams/sea symphony" style="simple" %}</a></li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="w1998" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Winter 1998</h3>
				<p>{% include piece_citation.html piece_ref="brahms/nanie-schicksalslied" %}</p>
				<p>Mahler, <em>Lieder eines fahrenden Gesellen</em></p>
				<h4>Concerts:</h4>
				<p>27 and 28 February</p>
			</div>
			<ul class="middle_links">
				<li><a href="fylp/brahms-nanie-schicksalslied.html">For your listening pleasure: {% include piece_citation.html piece_ref="brahms/nanie-schicksalslied" style="simple" %}</a></li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="f1997" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Fall 1997</h3>
				<p>Verdi, <em>Manzoni Requiem</em></p>
				<ul class="artists">
					<li>Margo Sherelle Alexander, <em>soprano</em></li>
					<li>Jennifer Lane, <em>mezzo-soprano</em></li>
					<li>Stephen Guggenheim, <em>tenor</em></li>
					<li>Douglas Lawrence, <em>baritone</em></li>
				</ul>
				<h4>Concerts:</h4>
				<p>8 p.m. 20 November, and 2 p.m. 23 November</p>
				<p>
					With the {% include collab_citation.html collab="PSO" %},
					<a href="http://www.peninsulasymphony.org/conductors.php">Mitchell Sardou Klein</a>.
				</p>
			</div>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="w1997" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Winter 1997</h3>
				<p>Schubert, Overture to <em>Alfonso and Estrella</em></p>
				<p>Wagner, <em>Siegfried Idyll</em></p>
				<p>Schumann, <em>Requiem Mass</em></p>
				<ul class="artists">
					<li>Nancy Wait Kromm, <em>soprano</em></li>
					<li>Claire Giovannetti, <em>mezzo-soprano</em></li>
					<li>Gregory Wait, <em>tenor</em></li>
					<li>Leroy Kromm, <em>bass</em></li>
				</ul>
				<h4>Concerts:</h4>
				<p>8 p.m. 27 and 28 February</p>
			</div>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="f1996" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Fall 1996—Music for the Spirit</h3>
				<p>{% include piece_citation.html piece_ref="bloch/sacred service" %}</p>
				<p>Antonin Dvorak, <em>Te Deum</em></p>
				<ul class="artists">
					<li>Boris Kazansky</li>
					<li>Susan Gundunas</li>
					<li>Douglas Nagel</li>
					<li>
						Stanford Symphonic Chorus, directed by
						<a href="../../group/Music/faculty.html#Sano">Stephen M. Sano</a>
					</li>
					<li>
						{% include collab_citation.html collab="PSO" %}, directed by
						<a href="http://www.peninsulasymphony.org/conductors.php">Mitchell Sardou Klein</a>
					</li>
				</ul>
				<h4>Concerts:</h4>
				<p>8 p.m. Saturday 23 November, and 2 p.m. Sunday 24 November</p>
			</div>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="s1996" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Spring 1996</h3>
				<p>{% include piece_citation.html piece_ref="orff/carmina burana" %}</p>
				<h4>Concerts:</h4>
				<p>8 p.m. 21 May and 1 June, {% include loc_citation.html loc="Dink" %}</p>
			</div>
			<ul class="middle_links">
				<li><a href="fylp/orff-carmina-burana.html">For your listening pleasure: {% include piece_citation.html piece_ref="orff/carmina burana" style="simple" %}</a></li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="w1996" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Winter 1996</h3>
				<p>Ludwig von Beethoven, <em>Egmont Overture</em></p>
				<p>Ludwig von Beethoven, <em>Meeresstille und glückliche Fahrt</em></p>
				<p>{% include piece_citation.html piece_ref="beethoven/mass in c" %}</p>
				<ul class="artists">
					<li>Kristin Genis, <em>soprano</em></li>
					<li>Claire Giovannetti, <em>mezzo-soprano</em></li>
					<li>Gregory Wait, <em>tenor</em></li>
					<li>Michael Morris, <em>baritone</em></li>
				</ul>
				<h4>Concerts:</h4>
				<p>8 p.m. Friday 1 March and Saturday 2 March, {% include loc_citation.html loc="MemChu" %}</p>
			</div>
            <div class="middle_links">
                <ul>
                    <li><a href="fylp/beethoven-mass-in-c.html">For your listening pleasure: {% include piece_citation.html piece_ref="beethoven/mass in c" style="simple" %}</a></li>
                </ul>
            </div>

		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="f1995" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Fall 1995—A French Christmas</h3>
				<p>Hector Berlioz, Scenes from <em>L'enfance du Christ</em></p>
				<ul class="artists">
					<li>Nancy Wait Kromm, <em>soprano</em></li>
					<li>Leroy Kromm, <em>baritone</em></li>
				</ul>
				<p>{% include piece_citation.html piece_ref="poulenc/gloria" %}</p>
				<ul class="artists">
					<li>Nancy Wait Kromm, <em>soprano</em></li>
				</ul>
				<h4>Concerts:</h4>
				<p>8 p.m. Saturday 2 December, and 2 p.m. Sunday 3 December, {% include loc_citation.html loc="MemChu" %}</p>
			</div>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<div id="s1995" class="middle">
			<img src="images/M@S-roundedges.gif" alt="">
			<div class="middle_content">
				<h3>Spring 1995</h3>
				<p>{% include piece_citation.html piece_ref="brahms/academic festival overture" %}</p>
				<p>{% include piece_citation.html piece_ref="brahms/requiem" %}</p>
				<ul class="artists">
					<li>Mary Linduska, <em>soprano</em></li>
					<li>Kenneth Goodson, <em>baritone</em></li>
				</ul>
				<h4>Concerts:</h4>
				<p>8 p.m. Monday 22 May and Tuesday 23 May, {% include loc_citation.html loc="MemChu" %}</p>
			</div>
			<ul class="middle_links">
                <li><a href="fylp/brahms-requiem.html">For your listening pleasure: {% include piece_citation.html piece_ref="brahms/requiem" style="simple" %}</a></li>
				<li><a href="performances/S1995/text.html">Text</a></li>
			</ul>
		</div>
		<!-- ====================================================================== -->
		<br class="clear">
		<!-- TemplateEndEditable -->
	</div>

	<div id="sidebar_supplementary">
		<!-- TemplateBeginEditable name="sidebar_supplementary" -->
		<div id="see_also">
			<h2>Coverage of the 2008 China Music Tour</h2>
            {% include lightbox.html image="images/graphics/SupremeHarmony.jpg"
									width=600
									height=450
									caption="Near the Gate of Supreme Harmony at the Forbidden City in Beijing. Photo by Tom Sharp."
									img_width=149 %}

			<h3><a href="http://www.stanfordalumni.org/news/magazine/2008/sepoct/farm/news/chinatour.html">Stanford Alumni Magazine</a></h3>
			<p>The Alumni magazine featured a story.</p>

			<h3><a href="http://chorale.stanford.edu/2008_tour_china/index.html">Stanford Chamber Chorale 2008 China Tour</a></h3>
			<p>Photos by members of the Stanford Chamber Chorale.</p>

			<h3><a href="http://www.flickr.com/groups/840050@N22/">Flickr Photos</a></h3>
			<p>Photos posted by tour participants</p>
		</div>
		<!-- TemplateEndEditable -->
		<div id="seal"></div>
	</div>
	{% include footer.html %}
</div>
<!-- TemplateBeginEditable name="bottom" -->
<!-- TemplateEndEditable -->
</body>
</html>
