---
layout: default

title: "Rehearsal and Performance Schedule"

logo_include: "logo_ssc.html"

stylesheets:
-   "tertiary"

ie6_stylesheets:
-   "tertiary"

scripts:

sections:
    supplement: |
        <div id="related_pages">
            {% include about_us.html %}
        </div>

---
{% assign upcoming = site.data.programs | where_exp: "item","item.first_concert.start > site.data.programs.current.first_concert.start"
                                   | sort: "first_concert.start" %}
<div id="sidebar_introduction">
	<!-- TemplateBeginEditable name="sidebar_introduction" -->
	<div id="sidebar_navigation">
		<h2>Contents</h2>
		<ul>
			<li><a href="#this">Overview</a></li>
			<li><a href="#rehearsals">Rehearsals</a></li>
			<li><a href="#dress">Dress Rehearsals</a></li>
			<li><a href="#concerts">Concerts</a></li>
			{% if site.data.programs.current.events %}
			<li><a href="#events">Events</a></li>
			{% endif %}
			<li><a href="#season">Looking Ahead</a></li>
		</ul>
	</div>
	<!-- TemplateEndEditable -->
</div>
<div id="content_main">
	<div id="breadcrumb">
		<p>
			<!-- TemplateBeginEditable name="breadcrumb" -->
			<a href="{{ site.baseurl }}{% link index.html %}">Symphonic Chorus Home</a>
			» <a href="{{ site.baseurl }}{% link MemberPage.html %}">Member Information</a>
			» {{page.title}}
			<!-- TemplateEndEditable -->
		</p>
	</div>
	<!-- TemplateBeginEditable name="content_main" -->
	<h2 id="this">Overview</h2>
	<table class="noborder">
		{% include schedule_overview.html program=site.data.programs.current showAuditions=true %}
	</table>

	<h2 id="rehearsals">Rehearsals</h2>
	<table>
		<tr>
			<th>Day</th>
			<th class="right">Date</th>
			<th>Location</th>
			<th>Time</th>
			<th>Description</th>
		</tr>
		{% assign display_schedule = site.data.programs.current.rehearsals | concat: site.data.programs.current.sectionals
														| sort: 'start' %}
		{% for rehearsal in display_schedule %}
		<tr>
			<td>{{rehearsal.start | date: "%A"}}</td>
			<td class="right">{{rehearsal.start | date: "%-e %B %Y"}}</td>
			<td>{% include loc_citation.html loc=rehearsal.location %}</td>
			<td>{{rehearsal.start | date: "%-l:%M%P"}} - {{rehearsal.end | date: "%-l:%M%P"}}
				{%- if forloop.first -%}
				<br>Registration starts at {{rehearsal.registration | date: "%-l:%M%P"}}
				{%- endif -%}
			</td>
			<td>{{rehearsal.event}}</td>
		</tr>
		{% endfor %}
	</table>

	<h2 id="dress">Dress Rehearsals</h2>
	<table>
		<tr>
			<th>Day</th>
			<th class="right">Date</th>
			<th>Location</th>
			<th>Time</th>
			<th>Description</th>
		</tr>
		{% for dress in site.data.programs.current.dresses %}
		<tr class="dress">
			<td>{{dress.start | date: "%A"}}</td>
			<td class="right">{{dress.start | date: "%-e %B %Y"}}</td>
			<td>{% include loc_citation.html loc=dress.location %}</td>
			<td>{{dress.start | date: "%-l:%M%P"}}</td>
			<td>Dress rehearsal</td>
		</tr>
		{% endfor %}
	</table>

	<h2 id="concerts">Concerts</h2>
	<table>
		<tr>
			<th>Day</th>
			<th class="right">Date</th>
			<th>Location</th>
			<th>Time</th>
			<th>Description</th>
		</tr>
		{% for concert in site.data.programs.current.concerts %}
		<tr>
			<td>{{concert.start | date: "%A"}}</td>
			<td class="right">{{concert.start | date: "%-e %B %Y"}}</td>
			<td>{% include loc_citation.html loc=concert.location %}</td>
			<td>{{concert.call | date: "%-l:%M%P"}}</td>
			<td>Concert call for {{concert.start | date: "%-l:%M%P"}} concert</td>
		</tr>
		{% endfor %}
	</table>

	{% if site.data.programs.current.events %}
	<h2 id="events">Events</h2>
	<table>
		<tr>
			<th>Day</th>
			<th class="right">Date</th>
			<th>Location</th>
			<th>Time</th>
			<th>Description</th>
		</tr>
		{% for e in site.data.programs.current.events %}
		<tr>
			<td>{{e.start | date: "%A"}}</td>
			<td class="right">{{e.start | date: "%-e %B %Y"}}</td>
			<td>{{e.start | date: "%-l:%M%P"}}</td>
			<td>{% include loc_citation.html loc=e.location %}</td>
			<td>{{ e.title }}</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
			
	<div>
		<h2 id="season">Looking Ahead</h2>
		<table class="noborder">
			{% for ahead in upcoming %}
			<tbody>
				<tr>
					<td class="emph" colspan="3">{{ahead.quarter}}</td>
				</tr>
				{% include schedule_overview.html program=ahead %}
			</tbody>
			{% endfor %}
		</table>
	</div>
</div>
