<!-- TemplateBeginEditable name="sidebar_supplementary" -->
<div id="related_pages">
    <h2>More About Us</h2>
    {% include lightbox.html image="images/graphics/MemChuReh.jpg"
                            width=800
                            height=533
                            caption="Rehearsal, Memorial Church, 25 February 2010. Photo by R. A. Wilson"
                            img_width=149 %}

    <h3><a href="{{ site.baseurl }}{% link MemberPage.html %}#c1">How to Join</a></h3>
    <p>See <em><a href="{{ site.baseurl }}{% link MemberPage.html %}#c1">Joining the Chorus</a></em> for information on auditions and basic member requirements.</p>

    <h3><a href="{{ site.baseurl }}{% link MemberPage.html %}">Member Information</a></h3>
    <p>See our member page for information about rehearsals, and information and member resources. </p>
</div>
<!-- TemplateEndEditable -->
<div>
    {% include lightbox.html image="images/graphics/Sano.jpg"
                            width=220
                            height=291
                            caption="Director of Music and Conductor Stephen Sano"
                            img_width=149 %}
</div>
<div id="seal"></div>
