{%- assign versions = include.versions -%}
{%- assign prefix_path = include.path | default: "" -%}
{%- assign label = include.label -%}
{%- for version in versions -%}
    {%- if forloop.first -%}({%- endif -%}
    {%- assign format = version | split: "."
                                | last
                                | upcase -%}
    {%- if format == 'DOCX' -%}
        {%- assign format = 'Word' -%}
    {%- endif -%}
    {%- unless forloop.first -%}&nbsp;|&nbsp;{%- endunless -%}<a href="{{version | prepend: prefix_path | uri_escape | relative_url}}" title="{{label}} in {{format}} format">{{format}}</a>
    {%- if forloop.last -%}){%- endif -%}
{%- endfor -%}
