<div id="footer" class="clear">
    <hr class="hide">
    <!-- TemplateBeginEditable name="footer" -->
    <ul id="nav_footer">
        <li><a href="http://www.stanford.edu" title="Stanford University">Stanford University</a></li>
        <li><a href="http://music.stanford.edu" title="Stanford Music Department">Stanford Music Department</a></li>
        <li><a href="http://music.stanford.edu/Ensembles/index.html">Stanford Music Ensembles</a></li>
        <li class="last"><a href="{{ site.baseurl }}{% link index.html %}">Stanford Symphonic Chorus</a></li>
    </ul>
    <div id="copyright">
        <p class="vcard">
            Website work by
            <script type="text/javascript">
                unScramble("berdahl","serendipity.organize","Eric Berdahl","SSC Website feedback");
            </script>
            <noscript>Eric Berdahl: berdahl/AT/serendipity/DOT/-o-r-g-/</noscript>
            .
        </p>
        <p class="vcard">
            &copy; <span class="fn org">Stanford University</span>.
            <span class="adr">450 Serra Mall,
                <span class="locality">Stanford</span>,
                <span class="region">California</span>
                <span class="postal-code">94305</span>.
                <span class="tel">(650) 723-2300</span>
            </span>.
            <a href="http://www.stanford.edu/site/terms.html">Terms of Use</a> | <a href="http://www.stanford.edu/site/copyright.html">Copyright Complaints</a>
        </p>
    </div>
    <!-- TemplateEndEditable -->
</div>
