{%- assign _people_citation__display = include.display | default: include.image -%}
{%- assign _people_citation__img_height = include.img_height | default: -1 -%}
{%- case include.style | default: "plain" -%}
    {%- when "leadin" -%}
        {%- assign _people_citation__anchor_class = "photo pgraph" -%}
        {%- assign _people_citation__display_class = "" -%}
    {%- when "banner" -%}
        {%- assign _people_citation__anchor_class = "photo" -%}
        {%- assign _people_citation__display_class = "image_banner" -%}
    {%- else -%}
        {%- assign _people_citation__anchor_class = "photo" -%}
        {%- assign _people_citation__display_class = "framed" -%}
{%- endcase -%}
{%- if _people_citation__img_height == -1 -%}
    {%- assign _people_citation__img_height = include.height | times: include.img_width | divided_by: include.width -%}
{%- endif -%}
<a class="{{_people_citation__anchor_class}}" href="{{include.image | relative_url}}" title="{{include.caption}}" rel="mediabox[{{include.width}} {{include.height}}]">
    <img class="{{_people_citation__display_class}}" src="{{_people_citation__display | relative_url}}" width="{{include.img_width}}" height="{{_people_citation__img_height}}" alt="{{include.caption}}">
</a>