{%- assign loc = include.loc -%}
{%- assign style = include.style | default: "casual" -%}
{%- if loc -%}
    {%- assign location = site.data.locations | where: "key",loc
                                              | first -%}
{%- else -%}
    {%- assign location = nil -%}
{%- endif -%}
{%- if location -%}
    {%- case style -%}
        {%- when "formal" -%}
            {%- assign loc = location.formal -%}
        {%- else -%}
            {%- assign loc = location.casual -%}
    {%- endcase -%}
{%- endif -%}
{%- if location.link -%}
<a href="{{location.link}}">
{%- endif -%}
{{loc}}
{%- if location.link -%}
</a>
{%- endif -%}
