<div id="logo">
    <!-- TemplateBeginEditable name="logo" -->
    <img src="{{ site.baseurl }}{% link images/graphics/SSCCollage.jpg %}" alt="Stanford Symphonic Chorus" usemap="#Map">
    <map name="Map" id="Map">
        <area shape="rect" coords="0,0,107,63" href="{{ site.baseurl }}{% link images/graphics/collage/P1060915.jpg %}" alt="Chorus in rehearsal">
        <area shape="rect" coords="108,0,190,63" href="{{ site.baseurl }}{% link images/graphics/collage/Altos.jpg %}" alt="Altos in rehearsal">
        <area shape="rect" coords="191,0,297,63" href="{{ site.baseurl }}{% link images/graphics/collage/SoprCenter.jpg %}" alt="Sopranos in rehearsal">
        <area shape="rect" coords="298,0,425,63" href="{{ site.baseurl }}{% link images/graphics/collage/P1070103.jpg %}" alt="Rehearsal in MemChu">
        <area shape="rect" coords="426,0,532,63" href="{{ site.baseurl }}{% link images/graphics/collage/SteveSano2002.jpg %}" alt="Steve in rehearsal">
        <area shape="rect" coords="533,0,667,63" href="{{ site.baseurl }}{% link images/graphics/collage/BeethovenW10.jpg %}" alt="Performance in MemChu">
        <area shape="rect" coords="668,0,749,63" href="{{ site.baseurl }}{% link images/graphics/collage/Tenors.jpg %}" alt="Tenors in rehearsal">
    </map>
    <!-- TemplateEndEditable -->
</div>
