<div id="logo">
    <!-- TemplateBeginEditable name="logo" -->
    <img src={{ "/images/graphics/SSCCollage.jpg" | relative_url }} alt="Stanford Symphonic Chorus" usemap="#Map">
    <map name="Map" id="Map">
        <area shape="rect" coords="0,0,107,63" href={{ "/images/graphics/collage/P1060915.jpg" | relative_url }} alt="Chorus in rehearsal">
        <area shape="rect" coords="108,0,190,63" href={{ "/images/graphics/collage/Altos.jpg" | relative_url }} alt="Altos in rehearsal">
        <area shape="rect" coords="191,0,297,63" href={{ "/images/graphics/collage/SoprCenter.jpg" | relative_url }} alt="Sopranos in rehearsal">
        <area shape="rect" coords="298,0,425,63" href={{ "/images/graphics/collage/P1070103.jpg" | relative_url }} alt="Rehearsal in MemChu">
        <area shape="rect" coords="426,0,532,63" href={{ "/images/graphics/collage/SteveSano2002.jpg" | relative_url }} alt="Steve in rehearsal">
        <area shape="rect" coords="533,0,667,63" href={{ "/images/graphics/collage/BeethovenW10.jpg" | relative_url }} alt="Performance in MemChu">
        <area shape="rect" coords="668,0,749,63" href={{ "/images/graphics/collage/Tenors.jpg" | relative_url }} alt="Tenors in rehearsal">
    </map>
    <!-- TemplateEndEditable -->
</div>
