{%- assign piece = include.piece -%}
{%- assign style = include.style | default: "em-tagged" -%}
{%- assign composer = piece.composer -%}
{%- if piece.arranger -%}
    {%- assign composer = composer | append: ", arr. "
                                  | append: {{piece.arranger}} -%}
{%- endif -%}
{%- assign title = piece.title -%}
{%- case style -%}
    {%- when "plain" -%}
        {%- assign composer = composer | append: ":" -%}
    {%- else -%}
        {%- assign title = title | prepend: "<em>"
                                 | append: "</em>" -%}
{%- endcase -%}
{{composer}} {{title}}