{%- assign piece_ref = include.piece_ref | default: include.piece.ref -%}
{%- assign prefix = include.piece.prefix -%}
{%- assign suffix = include.piece.suffix -%}
{%- if piece_ref -%}
    {%- assign piece = site.data.pieces[piece_ref] -%}
{%- else -%}
    {%- assign piece = include.piece -%}
{%- endif -%}
{%- assign style = include.style | default: "em-tagged" -%}
{%- assign composer = piece.composer_citation | default: piece.composer -%}
{%- if piece.citation -%}
    {%- assign citation = piece.citation -%}
{%- else -%}
    {%- assign citation = piece.title | prepend: "<em>"
                                      | append: "</em>" -%}
{%- endif -%}
{%- if style == "plain" -%}
    {%- assign composer = composer | append: ":" -%}
    {%- assign citation = citation | strip_html -%}
{% elsif style == "title-only" -%}
    {%- assign composer = nil -%}
{%- endif -%}
{{ site.data.utils.empty_array | unshift: suffix
                               | unshift: citation
                               | unshift: prefix
                               | unshift: composer
                               | compact
                               | join: " " }}