{% assign program = include.program %}
{% assign first_rehearsal = program.first_rehearsal %}
{% assign isPrimary = include.showAuditions | default: false %}
<tr>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>Repertoire:</td>

    <td>
        <ul>
            {% for p in program.repertoire %}
            <li>{% include piece_citation.html piece=p style="em-tagged" %}</li>
            {% endfor %}
        </ul>
    </td>
</tr>
{% for soloist in program.soloists %}
{% if forloop.first %}
<tr>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>With:</td>
    <td>
        <ul>
{% endif %}
            <li>{{soloist.name}}, {{soloist.part}}</li>
{% if forloop.last %}
        </ul>
    </td>
</tr>
{% endif %}
{% endfor %}
{% for pc in program.collaborators %}
{% if forloop.first %}
<tr>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>In collaboration with:</td>
    <td><ul>
{% endif %}
        <li>{% include collab_citation.html collab=pc %}</li>
{% if forloop.last %}
    </ul></td>
</tr>
{% endif %}
{% endfor %}
<tr>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>{% if isPrimary %}<a href="#rehearsals">{% endif %}First rehearsal{% if isPrimary %}</a>{% endif %}:</td>
    <td><ul>
        <li>
            {{first_rehearsal.start | date: "%A %-e %B %Y at %-l:%M%P"}}, {% include loc_citation.html loc=first_rehearsal.location %}.
            Registration starts at {{first_rehearsal.registration | date: "%-l:%M%P"}}
        </li>
    </ul></td>
</tr>
{% if isPrimary %}
<tr>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>{% if isPrimary %}<a href="{{ site.baseurl }}{% link MemberPage.html %}#auditions">{% endif %}Auditions{% if isPrimary %}</a>{% endif %}:</td>
    <td><ul>
        <li>See the <a href="{{ site.baseurl }}{% link MemberPage.html %}#auditions">Auditions</a> section of our Member Page for information about how to audition.</li>
    </ul></td>
</tr>
{% endif %}
<tr>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>{% if isPrimary %}<a href="#dress">{% endif %}Dress rehearsals{% if isPrimary %}</a>{% endif %}:</td>
    <td><ul>
        {% for dress in program.dresses %}
        <li>{{dress.start | date: "%-l:%M%P %A %-e %B %Y"}}, {% include loc_citation.html loc=dress.location %}</li>
        {% endfor %}
    </ul></td>
</tr>
<tr>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>{% if isPrimary %}<a href="#concerts">{% endif %}Concerts{% if isPrimary %}</a>{% endif %}:</td>
    <td><ul>
        {% for concert in program.concerts %}
        <li>{{ concert.start | date: "%-l:%M%P, %A %-e %B %Y" }} in {% include loc_citation.html loc=concert.location %} ({{ concert.call | date: "%-l:%M%P" }} call)</li>
        {% endfor %}
    </ul>
    </td>
</tr>
