<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="generator" content="Jalbum 8.7 with the lightBox2 3.9 skin">
<meta name="copyright" content="2010, R. A. Wilson">
<title>Beethoven Mass in C, Winter 2010</title>
<!-- Base stylesheet which imports typography, resets, header/footer layout, and other miscellaneous styles -->
<link rel="stylesheet" type="text/css" href="/css/base.css">
<!-- Page specific stylesheet for middle layout section (sidebars and content_main) -->
<link rel="stylesheet" type="text/css" href="/css/tertiary.css">
<link rel="stylesheet" type="text/css" href="/css/tertiary_nocol.css">
<link rel="stylesheet" type="text/css" href="/css/custom.css">

<script src="/js/emus.js" type="text/javascript"></script>
<!--[if IE 6]>
  <style type="text/css">
    @import url(css/ie/ie_global.css);
  </style> <![endif]--> <!--[if IE 7]>
  <style type="text/css"> 	@import url(css/ie/ie7.css);
  </style> <![endif]-->
<!-- Jalbum 8.7 with the lightBox2 3.9 skin -->
<!-- js --> 
<script type="text/javascript">
var	CB_ScriptDir='res/js/clearbox';
var	CB_Language='en';
</script>
<script src="res/js/clearbox.js" type="text/javascript"></script>
<style type="text/css">
.topnav { 
 	font-size: 0.9em;
  color: #666;
 	background-color: transparent;
 	padding: 0.3em;
}
.topnav a{ 
 	font-size: 0.85em;
  color: #000;
 	padding: 0.3em;
}
.topnav a:hover{ 
 	font-size: 0.85em;
  color: #F60;
 	padding: 0.3em;
}
</style>

<script type="text/javascript">
var
// CB layout:

	CB_Config='default';
	
	CB_WindowColor='#fff',				// color of the CB window (note: you have to change the rounded-corner PNGs too!)
	
	CB_ImgMinWidth=120,				// minimum / initial width of CB window
	CB_ImgMinHeight=120,				// minimum / initial heigth of CB window
	
	CB_WinPadd=15,					// Padding of the CB window from sides of the browser 
	CB_RoundPix=12,					// change this setting only if you are generating new PNGs for rounded corners
	CB_ImgBorder=0,					// border size around the picture in CB window
	CB_ImgBorderColor='#ffffff',			// border color around the picture in CB window
	CB_Padd=3,					// padding around inside the CB window
	CB_TextH=35,					// default height of the text area under the content in CB window (adding a comment will modify this setting)
	CB_PadT=10,					// space in pixels between the content and the title / caption line

	CB_BodyMarginLeft=0,				//
	CB_BodyMarginRight=0,				// if you set margin to body,
	CB_BodyMarginTop=0,				// please change these settings!
	CB_BodyMarginBottom=0,				//

	CB_ShowThumbnails='auto',			// it tells CB how to show the thumbnails (auto / always / off) thumbnails are only in picture-mode!
	CB_ThumbsBGColor='#000000',			// color of the thumbnail layer
	CB_ThumbsBGOpacity=.35,				// opacity of the thumbnail layer

	CB_SlideShowBarColor='#ffffff',			// color of the slideshow bar
	CB_SlideShowBarOpacity=.50,			// opacity of the slideshow bar
	
	

	CB_SlideShowBarPadd=17,				// padding of the slideshow bar (left and right)
	CB_SlideShowBarTop=2,				// position of the slideshow bar from the top of the picture in px

	CB_SimpleDesign='off',				// If it's 'on', CB doesn't show the frame but only the image / content - really nice ;)


	CB_CloseBtnTop=-10,				// vertical position of the close button in picture mode
	CB_CloseBtnRight=-14,				// horizontal position of the close button in picture mode
	CB_CloseBtn2Top=-20,				// vertical position of the close button in content mode
	CB_CloseBtn2Right=-30,				// horizontal position of the close button in content mode
	
	CB_OSD='on',						// turns on OSD

// CB font, text and navigation (at the bottom of CB window) settings:

	CB_FontT='Verdana',				//
	CB_FontSizeT=12,				// These variables are referring to the title / caption line
	CB_FontColorT='black',				// 
	CB_FontWeightT='bold',			//

	CB_FontC='Verdana',				//
	CB_FontSizeC=11,				// These variables are referring to
	CB_FontColorC='black',				// comment lines under the title
	CB_FontWeightC='normal',			//
	CB_TextAlignC='justify',			//
      	CB_TxtHMax=50,					// maximum height of the comment box in pixels

	CB_FontG='Verdana',				//
	CB_FontSizeG=11,				// These variables are referring to the gallery name
	CB_FontColorG='#999',				// under the title and / or the comment
	CB_FontWeightG='normal',			//

	CB_ShowURL='off',				// It shows url of the content
	CB_ImgNum='on',					// It shows the ordinal number of the content in galleries
	CB_ImgNumBracket='()',				// whatever you want ;)

	CB_ShowGalName='on',				// It shows gallery name
	CB_TextNav='on',				// It shows previous and next navigation
	CB_NavTextImgPrvNxt='on',			// It shows previous and next buttons instead of text
	CB_ShowDL='on',					// It shows download / fullsize / open in new window navigation
	CB_NavTextImgDL='on',				// It shows download / fullsize / open in new window buttons instead of text
	
	CB_ImgRotation='off',				// it shows the image rotation controls
	CB_NavTextImgRot='on',				// it shows the image rotation buttons instead of text

// Document-hiding layer's settings:

	CB_HideColor='#000000',				// color of layer
	CB_HideOpacity=.85,				// opacity (0 is invisible, 1 is 100% color) of layer
	CB_HideOpacitySpeed=400,			// speed of fading
	CB_CloseOnH='on',				// CB will close, if you click on background

// CB animation settings:

	CB_Animation='double',				// double, normal, off, warp or grow (high cpu usage)
	CB_ImgOpacitySpeed=450,				// speed of picture / html page fading (in ms)
	CB_TextOpacitySpeed=350,			// speed of text fading under the picture (in ms)
	CB_AnimSpeed=600,				// speed of CB window's resizing animation (in ms)
	CB_ImgTextFade='on',				// turns on or off the fading of image or other contents and text
	CB_FlashHide='off',				// CB hides flash animations on the page before CB starts
	CB_SelectsHide='on',				// CB hides select boxes on the page before CB starts
	CB_SlShowTime=3,				// default speed of the slideshow (in sec)

// CB picture settings:

	CB_PictureStart='start.png',			// filename of start image
	CB_PicturePause='pause.png',			// filename of pause image
	CB_PictureClose='close.png',			// filename of close image
	CB_PictureNext='next.png',			// filename of next image
	CB_PicturePrev='prev.png',			// filename of previous image
	CB_Preload='on',				// preload neighbour pictures in galleries

// CB professional settings:

	CB_PicDir=CB_ScriptDir+'/config/'+CB_Config+'/pic/',	// CHANGE ONLY IF YOU CHANGED THE DEFAULT DIRECTORY OF CB!

	CB_AllowedToRun='on',					// if off, CB won't start (you can change this variable without reload!)
	CB_AllowExtFunctLoad='off',				// if on, CB will run a function named CB_ExternalFunctionLoad(); every time after a new content has loaded (useful for audit, etc)
	CB_AllowExtFunctPageLoad='off',				// if on, CB will run a function named CB_ExternalFunctionPageLoad(); after your html page has fully loaded
	CB_AllowExtFunctCBClose='off'				// if on, CB will run a function named CB_ExternalFunctionCBClose(); after CB window has closed

;

</script>
<script src="res/js/yui.js" type="text/javascript"></script>
<script type="text/javascript" src="res/js/all-min.js"></script>
<style type="text/css">  
	  
				  
.thumbcontainer {

width:  830px;
margin: 15px auto;
position: relative;
}	


.item {
color: #666666;
width: 105px;
height: 110px;
padding: 2px;
display: inline;
float: left;

}   
.item img {
padding: 5px;
border: 1px solid #cccccc;
	}
                     
}
.paginator-controls {
width:          400px;
margin:         20px auto;
text-align:     center;
}
.paginator-controls .previous,
.paginator-controls .next,
.paginator-controls .pages {
display:        inline;
}

/*#990000 red; #E7D19A: sandstone; darker: #DOA760 */

.paginator-controls .previous,
.paginator-controls .next,
.paginator-controls .pages span {
border:         1px solid #ccc;
cursor:         pointer;
font:           bold 12px Arial, sans-serif;
margin:         0 4px;
padding:        2px 4px;
background-image: url(res/icons/sprite.png);
background-repeat: repeat-x;
background-position: 0px 0px;
color: #666666; /* Color of page numbers and Next */
}
            
.paginator-controls .disabled {
color:          #ccc;
cursor:         default;
}

.paginator-controls .hovered {
background-image: url(res/icons/sprite.png);
background-position: 0px -1300px;
}

.paginator-controls .pages .selected {
background-image: url(res/icons/sprite.png);
background-repeat: repeat-x;
background-position: 0px -1400px;
border-color:   #000;
color:          #ffffff;
}
				  
.slider {
position:       absolute;
right:          -30px;
top:            25px;
background:     url(res/slider-bg.gif) 9px 0 no-repeat;
width:          30px;
height:         240px;
}

.slider div {
    width:          29px;
    height:         28px;
    /* Fix slider image in IE6 */
    _filter:        progid:DXImageTransform.Microsoft.AlphaImageLoader(
                        src='res/slider-thumb.png', sizingMethod='image');
}

/* IE6 only */
.slider img { _display: none; }

.item a img {
	padding:3px;
	border:1px solid #cccccc;
	filter:alpha(opacity=80);
	-moz-opacity:0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
}

.item a:hover img, .item a:active img {
padding:3px;
border:1px solid #cccccc;
filter:alpha(opacity=99);
-moz-opacity:0.99;
-khtml-opacity: 0.99;
opacity: 0.99;
}

.item img {
padding:5px;
border:1px solid #cccccc;

-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
border-radius: 3px;

-moz-box-shadow: rgb(0,0,0) 0px 0px 3px;
	-webkit-box-shadow: rgb(0,0,0) 0px 0px 3px;
	box-shadow: rgb(0,0,0) 0px 0px 3px;
	behavior: url(res/js/ie-css3.htc);

}
a img { border: none; }
 </style>

</head>
<body>
<!-- TemplateBeginEditable name="top" -->
<!-- TemplateEndEditable -->
<div class="skip"><a href="#content_main">Skip to Content</a></div> 
<div id="container">
	<div id="container_header">
    	<div id="header">
			{{> logo_ssc }}
			{{> container_search }}
		</div>
	</div>
	{{> nav_topic }} 
  <div id="title">
    
<h1>
<!-- TemplateBeginEditable name="Page Title" -->
Beethoven <em>Mass in C,</em> Winter 2010, Memorial Church
<!-- TemplateEndEditable -->
</h1>
  </div>
  <div id="content_main">
    <div id="breadcrumb">
      
<p>
<!-- TemplateBeginEditable name="breadcrumb" -->
      
<a href="/index.html">Symphonic Chorus Home</a> 
      » 
<a href="/performances.html">Performances</a> 
      » Winter 2010 Gallery
<!-- TemplateEndEditable --></p>
    </div>
    
<!-- TemplateBeginEditable name="content_main" -->

<div class="thumbcontainer"> 
<div id="thumbnails">
<!-- Iterate through images and produce an index table -->
<div class="item">
<a href="slides/P1060915.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Ensemble" class="photo"><img src="thumbs/P1060915.jpg"  width="80" height="80" alt="Ensemble"></a><br> <br> </div><div class="item">
<a href="slides/P1060918.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Violinists" class="photo"><img src="thumbs/P1060918.jpg"  width="80" height="80" alt="Violinists"></a><br> <br> </div><div class="item">
<a href="slides/P1060920.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Violinists" class="photo"><img src="thumbs/P1060920.jpg"  width="80" height="80" alt="Violinists"></a><br> <br> </div><div class="item">
<a href="slides/P1060922.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Violinists" class="photo"><img src="thumbs/P1060922.jpg"  width="80" height="80" alt="Violinists"></a><br> <br> </div><div class="item">
<a href="slides/P1060925.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Megan Stetson, mezzo-soprano" class="photo"><img src="thumbs/P1060925.jpg"  width="80" height="80" alt="Megan Stetson, mezzo-soprano"></a><br> <br> </div><div class="item">
<a href="slides/P1060930.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Brian Thorsett, tenor; Michael Morris, baritone" class="photo"><img src="thumbs/P1060930.jpg"  width="80" height="80" alt="Brian Thorsett, tenor; Michael Morris, baritone"></a><br> <br> </div><div class="item">
<a href="slides/P1060932.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Ensemble" class="photo"><img src="thumbs/P1060932.jpg"  width="80" height="80" alt="Ensemble"></a><br> <br> </div><div class="item">
<a href="slides/P1060933.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen Sano conducting" class="photo"><img src="thumbs/P1060933.jpg"  width="80" height="80" alt="Stephen Sano conducting"></a><br> <br> </div><div class="item">
<a href="slides/P1060934.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen Sano conducting" class="photo"><img src="thumbs/P1060934.jpg"  width="80" height="80" alt="Stephen Sano conducting"></a><br> <br> </div><div class="item">
<a href="slides/P1060936.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Megan Stetson, mezzo-soprano; Nova Jiménez, soprano" class="photo"><img src="thumbs/P1060936.jpg"  width="80" height="80" alt="Megan Stetson, mezzo-soprano; Nova Jiménez, soprano"></a><br> <br> </div><div class="item">
<a href="slides/P1060940.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen Sano conducting" class="photo"><img src="thumbs/P1060940.jpg"  width="80" height="80" alt="Stephen Sano conducting"></a><br> <br> </div><div class="item">
<a href="slides/P1060941.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen Sano conducting" class="photo"><img src="thumbs/P1060941.jpg"  width="80" height="80" alt="Stephen Sano conducting"></a><br> <br> </div><div class="item">
<a href="slides/P1060943.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen Sano conducting" class="photo"><img src="thumbs/P1060943.jpg"  width="80" height="80" alt="Stephen Sano conducting"></a><br> <br> </div><div class="item">
<a href="slides/P1060947.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen Sano conducting" class="photo"><img src="thumbs/P1060947.jpg"  width="80" height="80" alt="Stephen Sano conducting"></a><br> <br> </div><div class="item">
<a href="slides/P1060948.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen Sano conducting" class="photo"><img src="thumbs/P1060948.jpg"  width="80" height="80" alt="Stephen Sano conducting"></a><br> <br> </div><div class="item">
<a href="slides/P1060952.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen, Brian, Michael" class="photo"><img src="thumbs/P1060952.jpg"  width="80" height="80" alt="Stephen, Brian, Michael"></a><br> <br> </div><div class="item">
<a href="slides/P1060956.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Soloists" class="photo"><img src="thumbs/P1060956.jpg"  width="80" height="80" alt="Soloists"></a><br> <br> </div><div class="item">
<a href="slides/P1060957.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen Sano conducting" class="photo"><img src="thumbs/P1060957.jpg"  width="80" height="80" alt="Stephen Sano conducting"></a><br> <br> </div><div class="item">
<a href="slides/P1060963.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Directions to Sopranos" class="photo"><img src="thumbs/P1060963.jpg"  width="80" height="80" alt="Directions to Sopranos"></a><br> <br> </div><div class="item">
<a href="slides/P1060965.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Ensemble" class="photo"><img src="thumbs/P1060965.jpg"  width="80" height="80" alt="Ensemble"></a><br> <br> </div><div class="item">
<a href="slides/P1060968.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Soloists and orchestra" class="photo"><img src="thumbs/P1060968.jpg"  width="80" height="80" alt="Soloists and orchestra"></a><br> <br> </div><div class="item">
<a href="slides/P1060973.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen with Violinists" class="photo"><img src="thumbs/P1060973.jpg"  width="80" height="80" alt="Stephen with Violinists"></a><br> <br> </div><div class="item">
<a href="slides/P1060974.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Basses and altos" class="photo"><img src="thumbs/P1060974.jpg"  width="80" height="80" alt="Basses and altos"></a><br> <br> </div><div class="item">
<a href="slides/P1060975.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Basses and altos" class="photo"><img src="thumbs/P1060975.jpg"  width="80" height="80" alt="Basses and altos"></a><br> <br> </div><div class="item">
<a href="slides/P1060976.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Ensemble" class="photo"><img src="thumbs/P1060976.jpg"  width="80" height="80" alt="Ensemble"></a><br> <br> </div><div class="item">
<a href="slides/P1060979.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Soloists" class="photo"><img src="thumbs/P1060979.jpg"  width="80" height="80" alt="Soloists"></a><br> <br> </div><div class="item">
<a href="slides/P1060981.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Megan Stetson and Nova Jiménez" class="photo"><img src="thumbs/P1060981.jpg"  width="80" height="80" alt="Megan Stetson and Nova Jiménez"></a><br> <br> </div><div class="item">
<a href="slides/P1060983.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Brian Thorsett and Michael Morris" class="photo"><img src="thumbs/P1060983.jpg"  width="80" height="80" alt="Brian Thorsett and Michael Morris"></a><br> <br> </div><div class="item">
<a href="slides/P1060985.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Musicians and chorus" class="photo"><img src="thumbs/P1060985.jpg"  width="80" height="80" alt="Musicians and chorus"></a><br> <br> </div><div class="item">
<a href="slides/P1060987.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Musicians and chorus" class="photo"><img src="thumbs/P1060987.jpg"  width="80" height="80" alt="Musicians and chorus"></a><br> <br> </div><div class="item">
<a href="slides/P1060989.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Tenors singing Beethoven" class="photo"><img src="thumbs/P1060989.jpg"  width="80" height="80" alt="Tenors singing Beethoven"></a><br> <br> </div><div class="item">
<a href="slides/P1060991.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Megan Stetson and Nova Jiménez" class="photo"><img src="thumbs/P1060991.jpg"  width="80" height="80" alt="Megan Stetson and Nova Jiménez"></a><br> <br> </div><div class="item">
<a href="slides/P1060998.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen conducting 1" class="photo"><img src="thumbs/P1060998.jpg"  width="80" height="80" alt="Stephen conducting 1"></a><br> <br> </div><div class="item">
<a href="slides/P1070001.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen conducting 2" class="photo"><img src="thumbs/P1070001.jpg"  width="80" height="80" alt="Stephen conducting 2"></a><br> <br> </div><div class="item">
<a href="slides/P1070002.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen conducting 3" class="photo"><img src="thumbs/P1070002.jpg"  width="80" height="80" alt="Stephen conducting 3"></a><br> <br> </div><div class="item">
<a href="slides/P1070010.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Brian Thorsett" class="photo"><img src="thumbs/P1070010.jpg"  width="80" height="80" alt="Brian Thorsett"></a><br> <br> </div><div class="item">
<a href="slides/P1070012.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen conducting 4" class="photo"><img src="thumbs/P1070012.jpg"  width="80" height="80" alt="Stephen conducting 4"></a><br> <br> </div><div class="item">
<a href="slides/P1070013.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Megan Stetson and Stephen" class="photo"><img src="thumbs/P1070013.jpg"  width="80" height="80" alt="Megan Stetson and Stephen"></a><br> <br> </div><div class="item">
<a href="slides/P1070016.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Brian Thorsett singing" class="photo"><img src="thumbs/P1070016.jpg"  width="80" height="80" alt="Brian Thorsett singing"></a><br> <br> </div><div class="item">
<a href="slides/P1070019.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Soloists and Stephen" class="photo"><img src="thumbs/P1070019.jpg"  width="80" height="80" alt="Soloists and Stephen"></a><br> <br> </div><div class="item">
<a href="slides/P1070021.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Megan Stetson singing" class="photo"><img src="thumbs/P1070021.jpg"  width="80" height="80" alt="Megan Stetson singing"></a><br> <br> </div><div class="item">
<a href="slides/P1070024.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Musicians including Kim" class="photo"><img src="thumbs/P1070024.jpg"  width="80" height="80" alt="Musicians including Kim"></a><br> <br> </div><div class="item">
<a href="slides/P1070031.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Basses and altos" class="photo"><img src="thumbs/P1070031.jpg"  width="80" height="80" alt="Basses and altos"></a><br> <br> </div><div class="item">
<a href="slides/P1070033.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Tenors and altos" class="photo"><img src="thumbs/P1070033.jpg"  width="80" height="80" alt="Tenors and altos"></a><br> <br> </div><div class="item">
<a href="slides/P1070034.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Ensemble" class="photo"><img src="thumbs/P1070034.jpg"  width="80" height="80" alt="Ensemble"></a><br> <br> </div><div class="item">
<a href="slides/P1070038.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen conducting violins" class="photo"><img src="thumbs/P1070038.jpg"  width="80" height="80" alt="Stephen conducting violins"></a><br> <br> </div><div class="item">
<a href="slides/P1070053.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen conducting 1" class="photo"><img src="thumbs/P1070053.jpg"  width="80" height="80" alt="Stephen conducting 1"></a><br> <br> </div><div class="item">
<a href="slides/P1070056.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen conducting 2" class="photo"><img src="thumbs/P1070056.jpg"  width="80" height="80" alt="Stephen conducting 2"></a><br> <br> </div><div class="item">
<a href="slides/P1070057.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen conducting 3" class="photo"><img src="thumbs/P1070057.jpg"  width="80" height="80" alt="Stephen conducting 3"></a><br> <br> </div><div class="item">
<a href="slides/P1070062.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen conducting 4" class="photo"><img src="thumbs/P1070062.jpg"  width="80" height="80" alt="Stephen conducting 4"></a><br> <br> </div><div class="item">
<a href="slides/P1070066.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen and soloists" class="photo"><img src="thumbs/P1070066.jpg"  width="80" height="80" alt="Stephen and soloists"></a><br> <br> </div><div class="item">
<a href="slides/P1070068.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Ensemble" class="photo"><img src="thumbs/P1070068.jpg"  width="80" height="80" alt="Ensemble"></a><br> <br> </div><div class="item">
<a href="slides/P1070069.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Orchestra and chorus" class="photo"><img src="thumbs/P1070069.jpg"  width="80" height="80" alt="Orchestra and chorus"></a><br> <br> </div><div class="item">
<a href="slides/P1070070.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Orchestra" class="photo"><img src="thumbs/P1070070.jpg"  width="80" height="80" alt="Orchestra"></a><br> <br> </div><div class="item">
<a href="slides/P1070071.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen and soloists" class="photo"><img src="thumbs/P1070071.jpg"  width="80" height="80" alt="Stephen and soloists"></a><br> <br> </div><div class="item">
<a href="slides/P1070073.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen conducting 5" class="photo"><img src="thumbs/P1070073.jpg"  width="80" height="80" alt="Stephen conducting 5"></a><br> <br> </div><div class="item">
<a href="slides/P1070076.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Chorus" class="photo"><img src="thumbs/P1070076.jpg"  width="80" height="80" alt="Chorus"></a><br> <br> </div><div class="item">
<a href="slides/P1070078.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Winds" class="photo"><img src="thumbs/P1070078.jpg"  width="80" height="80" alt="Winds"></a><br> <br> </div><div class="item">
<a href="slides/P1070079.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Strings and winds" class="photo"><img src="thumbs/P1070079.jpg"  width="80" height="80" alt="Strings and winds"></a><br> <br> </div><div class="item">
<a href="slides/P1070081.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Strings and horns" class="photo"><img src="thumbs/P1070081.jpg"  width="80" height="80" alt="Strings and horns"></a><br> <br> </div><div class="item">
<a href="slides/P1070082.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Sopranos and tenors" class="photo"><img src="thumbs/P1070082.jpg"  width="80" height="80" alt="Sopranos and tenors"></a><br> <br> </div><div class="item">
<a href="slides/P1070083.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Sopranos and tenors" class="photo"><img src="thumbs/P1070083.jpg"  width="80" height="80" alt="Sopranos and tenors"></a><br> <br> </div><div class="item">
<a href="slides/P1070084.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Tenors and basses" class="photo"><img src="thumbs/P1070084.jpg"  width="80" height="80" alt="Tenors and basses"></a><br> <br> </div><div class="item">
<a href="slides/P1070086.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Horns" class="photo"><img src="thumbs/P1070086.jpg"  width="80" height="80" alt="Horns"></a><br> <br> </div><div class="item">
<a href="slides/P1070090.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Orchestra and chorus" class="photo"><img src="thumbs/P1070090.jpg"  width="80" height="80" alt="Orchestra and chorus"></a><br> <br> </div><div class="item">
<a href="slides/P1070092.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Nova, Stephen, Brian, Michael" class="photo"><img src="thumbs/P1070092.jpg"  width="80" height="80" alt="Nova, Stephen, Brian, Michael"></a><br> <br> </div><div class="item">
<a href="slides/P1070100.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Altos" class="photo"><img src="thumbs/P1070100.jpg"  width="80" height="80" alt="Altos"></a><br> <br> </div><div class="item">
<a href="slides/P1070101.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Basses and altos" class="photo"><img src="thumbs/P1070101.jpg"  width="80" height="80" alt="Basses and altos"></a><br> <br> </div><div class="item">
<a href="slides/P1070102.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Tenors and basses" class="photo"><img src="thumbs/P1070102.jpg"  width="80" height="80" alt="Tenors and basses"></a><br> <br> </div><div class="item">
<a href="slides/P1070103.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Sopranos and basses" class="photo"><img src="thumbs/P1070103.jpg"  width="80" height="80" alt="Sopranos and basses"></a><br> <br> </div><div class="item">
<a href="slides/P1070104.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Sopranos and basses" class="photo"><img src="thumbs/P1070104.jpg"  width="80" height="80" alt="Sopranos and basses"></a><br> <br> </div><div class="item">
<a href="slides/P1070105.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Sopranos" class="photo"><img src="thumbs/P1070105.jpg"  width="80" height="80" alt="Sopranos"></a><br> <br> </div><div class="item">
<a href="slides/P1070106.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Sopranos, tenors, basses" class="photo"><img src="thumbs/P1070106.jpg"  width="80" height="80" alt="Sopranos, tenors, basses"></a><br> <br> </div><div class="item">
<a href="slides/P1070107.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Tenors" class="photo"><img src="thumbs/P1070107.jpg"  width="80" height="80" alt="Tenors"></a><br> <br> </div><div class="item">
<a href="slides/P1070108.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Altos" class="photo"><img src="thumbs/P1070108.jpg"  width="80" height="80" alt="Altos"></a><br> <br> </div><div class="item">
<a href="slides/P1070109.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Woodwinds and altos" class="photo"><img src="thumbs/P1070109.jpg"  width="80" height="80" alt="Woodwinds and altos"></a><br> <br> </div><div class="item">
<a href="slides/P1070110.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen, musicians, altos" class="photo"><img src="thumbs/P1070110.jpg"  width="80" height="80" alt="Stephen, musicians, altos"></a><br> <br> </div><div class="item">
<a href="slides/P1070119.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Megan and Nova" class="photo"><img src="thumbs/P1070119.jpg"  width="80" height="80" alt="Megan and Nova"></a><br> <br> </div><div class="item">
<a href="slides/P1070121.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen and strings" class="photo"><img src="thumbs/P1070121.jpg"  width="80" height="80" alt="Stephen and strings"></a><br> <br> </div><div class="item">
<a href="slides/P1070122.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Violinists" class="photo"><img src="thumbs/P1070122.jpg"  width="80" height="80" alt="Violinists"></a><br> <br> </div><div class="item">
<a href="slides/P1070129.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="From under the balcony 1" class="photo"><img src="thumbs/P1070129.jpg"  width="80" height="80" alt="From under the balcony 1"></a><br> <br> </div><div class="item">
<a href="slides/P1070130.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Megan and Nova" class="photo"><img src="thumbs/P1070130.jpg"  width="80" height="80" alt="Megan and Nova"></a><br> <br> </div><div class="item">
<a href="slides/P1070133.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="From under the balcony 2" class="photo"><img src="thumbs/P1070133.jpg"  width="80" height="80" alt="From under the balcony 2"></a><br> <br> </div><div class="item">
<a href="slides/P1070136.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="From deep under the balcony" class="photo"><img src="thumbs/P1070136.jpg"  width="80" height="80" alt="From deep under the balcony"></a><br> <br> </div><div class="item">
<a href="slides/P1070140.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Nova and Megan 1" class="photo"><img src="thumbs/P1070140.jpg"  width="80" height="80" alt="Nova and Megan 1"></a><br> <br> </div><div class="item">
<a href="slides/P1070143.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Nova and Megan 2" class="photo"><img src="thumbs/P1070143.jpg"  width="80" height="80" alt="Nova and Megan 2"></a><br> <br> </div><div class="item">
<a href="slides/P1070146.jpg" rel="clearbox[comment=Dress Rehearsal, Stanford Memorial Church, Thursday 25 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Kim and brother?" class="photo"><img src="thumbs/P1070146.jpg"  width="80" height="80" alt="Kim and brother?"></a><br> <br> </div><div class="item">
<a href="slides/P1070151.jpg" rel="clearbox[comment=Performance night, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Violinist and son" class="photo"><img src="thumbs/P1070151.jpg"  width="80" height="80" alt="Violinist and son"></a><br> <br> </div><div class="item">
<a href="slides/P1070164.jpg" rel="clearbox[comment=Arriving for the performance, Stanford oval, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Tom Sharp" class="photo"><img src="thumbs/P1070164.jpg"  width="80" height="80" alt="Tom Sharp"></a><br> <br> </div><div class="item">
<a href="slides/P1070169.jpg" rel="clearbox[comment=At the top of the oval, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Hoover Tower" class="photo"><img src="thumbs/P1070169.jpg"  width="80" height="80" alt="Hoover Tower"></a><br> <br> </div><div class="item">
<a href="slides/P1070170.jpg" rel="clearbox[comment=Arriving for the performance, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Outer quad" class="photo"><img src="thumbs/P1070170.jpg"  width="80" height="80" alt="Outer quad"></a><br> <br> </div><div class="item">
<a href="slides/P1070174.jpg" rel="clearbox[comment=Entrance to the quad,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stanford Memorial Church" class="photo"><img src="thumbs/P1070174.jpg"  width="80" height="80" alt="Stanford Memorial Church"></a><br> <br> </div><div class="item">
<a href="slides/P1070176.jpg" rel="clearbox[comment=Performance night, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Main aisle" class="photo"><img src="thumbs/P1070176.jpg"  width="80" height="80" alt="Main aisle"></a><br> <br> </div><div class="item">
<a href="slides/P1070179.jpg" rel="clearbox[comment=Performance night, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Organ loft above main aisle" class="photo"><img src="thumbs/P1070179.jpg"  width="80" height="80" alt="Organ loft above main aisle"></a><br> <br> </div><div class="item">
<a href="slides/P1070180.jpg" rel="clearbox[comment=Preparing for performance night, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen Sano" class="photo"><img src="thumbs/P1070180.jpg"  width="80" height="80" alt="Stephen Sano"></a><br> <br> </div><div class="item">
<a href="slides/P1070181.jpg" rel="clearbox[comment=Performance night, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Above the altar" class="photo"><img src="thumbs/P1070181.jpg"  width="80" height="80" alt="Above the altar"></a><br> <br> </div><div class="item">
<a href="slides/P1070185.jpg" rel="clearbox[comment=Performance night, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Empty church" class="photo"><img src="thumbs/P1070185.jpg"  width="80" height="80" alt="Empty church"></a><br> <br> </div><div class="item">
<a href="slides/P1070187.jpg" rel="clearbox[comment=Performance night, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Alto" class="photo"><img src="thumbs/P1070187.jpg"  width="80" height="80" alt="Alto"></a><br> <br> </div><div class="item">
<a href="slides/P1070188.jpg" rel="clearbox[comment=Performance night, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Alto" class="photo"><img src="thumbs/P1070188.jpg"  width="80" height="80" alt="Alto"></a><br> <br> </div><div class="item">
<a href="slides/P1070189.jpg" rel="clearbox[comment=Performance night, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Alto" class="photo"><img src="thumbs/P1070189.jpg"  width="80" height="80" alt="Alto"></a><br> <br> </div><div class="item">
<a href="slides/P1070191.jpg" rel="clearbox[comment=Performance night, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Basses" class="photo"><img src="thumbs/P1070191.jpg"  width="80" height="80" alt="Basses"></a><br> <br> </div><div class="item">
<a href="slides/P1070193.jpg" rel="clearbox[comment=Performance night, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Basses" class="photo"><img src="thumbs/P1070193.jpg"  width="80" height="80" alt="Basses"></a><br> <br> </div><div class="item">
<a href="slides/P1070194.jpg" rel="clearbox[comment=Performance night, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Basses" class="photo"><img src="thumbs/P1070194.jpg"  width="80" height="80" alt="Basses"></a><br> <br> </div><div class="item">
<a href="slides/P1070196.jpg" rel="clearbox[comment=Performance night, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Basses" class="photo"><img src="thumbs/P1070196.jpg"  width="80" height="80" alt="Basses"></a><br> <br> </div><div class="item">
<a href="slides/P1070198.jpg" rel="clearbox[comment=Performance night, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Andy Escobar" class="photo"><img src="thumbs/P1070198.jpg"  width="80" height="80" alt="Andy Escobar"></a><br> <br> </div><div class="item">
<a href="slides/P1070199.jpg" rel="clearbox[comment=Performance night, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Tom and Andy" class="photo"><img src="thumbs/P1070199.jpg"  width="80" height="80" alt="Tom and Andy"></a><br> <br> </div><div class="item">
<a href="slides/P1070202.jpg" rel="clearbox[comment=Performance night, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Alto" class="photo"><img src="thumbs/P1070202.jpg"  width="80" height="80" alt="Alto"></a><br> <br> </div><div class="item">
<a href="slides/P1070203.jpg" rel="clearbox[comment=Performance night, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Altos" class="photo"><img src="thumbs/P1070203.jpg"  width="80" height="80" alt="Altos"></a><br> <br> </div><div class="item">
<a href="slides/P1070205.jpg" rel="clearbox[comment=Gathering for the performance, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Sopranos" class="photo"><img src="thumbs/P1070205.jpg"  width="80" height="80" alt="Sopranos"></a><br> <br> </div><div class="item">
<a href="slides/P1070210.jpg" rel="clearbox[comment=Performance night, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Lectern" class="photo"><img src="thumbs/P1070210.jpg"  width="80" height="80" alt="Lectern"></a><br> <br> </div><div class="item">
<a href="slides/P1070212.jpg" rel="clearbox[comment=Ascending the stage for warming up, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Ascending the stage" class="photo"><img src="thumbs/P1070212.jpg"  width="80" height="80" alt="Ascending the stage"></a><br> <br> </div><div class="item">
<a href="slides/P1070214.jpg" rel="clearbox[comment=Arriving, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Rosters" class="photo"><img src="thumbs/P1070214.jpg"  width="80" height="80" alt="Rosters"></a><br> <br> </div><div class="item">
<a href="slides/P1070216.jpg" rel="clearbox[comment=Preparing for the performance, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen Sano, preparing" class="photo"><img src="thumbs/P1070216.jpg"  width="80" height="80" alt="Stephen Sano, preparing"></a><br> <br> </div><div class="item">
<a href="slides/P1070220.jpg" rel="clearbox[comment=Warming up the chorus, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Chorus with Stephen Sano, remote" class="photo"><img src="thumbs/P1070220.jpg"  width="80" height="80" alt="Chorus with Stephen Sano, remote"></a><br> <br> </div><div class="item">
<a href="slides/P1070222.jpg" rel="clearbox[comment=Warming up the chorus, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Chorus stage left" class="photo"><img src="thumbs/P1070222.jpg"  width="80" height="80" alt="Chorus stage left"></a><br> <br> </div><div class="item">
<a href="slides/P1070223.jpg" rel="clearbox[comment=Warming up the chorus, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Chorus with Stephen Sano" class="photo"><img src="thumbs/P1070223.jpg"  width="80" height="80" alt="Chorus with Stephen Sano"></a><br> <br> </div><div class="item">
<a href="slides/P1070224.jpg" rel="clearbox[comment=Warming up the chorus, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Chorus with Stephen Sano" class="photo"><img src="thumbs/P1070224.jpg"  width="80" height="80" alt="Chorus with Stephen Sano"></a><br> <br> </div><div class="item">
<a href="slides/P1070225.jpg" rel="clearbox[comment=Warming up the chorus, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Chorus with Stephen Sano" class="photo"><img src="thumbs/P1070225.jpg"  width="80" height="80" alt="Chorus with Stephen Sano"></a><br> <br> </div><div class="item">
<a href="slides/P1070227.jpg" rel="clearbox[comment=Warming up the chorus, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Chorus with Stephen Sano" class="photo"><img src="thumbs/P1070227.jpg"  width="80" height="80" alt="Chorus with Stephen Sano"></a><br> <br> </div><div class="item">
<a href="slides/P1070228.jpg" rel="clearbox[comment=Warming up the chorus, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Tenors" class="photo"><img src="thumbs/P1070228.jpg"  width="80" height="80" alt="Tenors"></a><br> <br> </div><div class="item">
<a href="slides/P1070229.jpg" rel="clearbox[comment=Warming up the chorus, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Altos" class="photo"><img src="thumbs/P1070229.jpg"  width="80" height="80" alt="Altos"></a><br> <br> </div><div class="item">
<a href="slides/P1070231.jpg" rel="clearbox[comment=Warming up the chorus, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Sopranos and men" class="photo"><img src="thumbs/P1070231.jpg"  width="80" height="80" alt="Sopranos and men"></a><br> <br> </div><div class="item">
<a href="slides/P1070232.jpg" rel="clearbox[comment=Warming up the chorus, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Men and altos" class="photo"><img src="thumbs/P1070232.jpg"  width="80" height="80" alt="Men and altos"></a><br> <br> </div><div class="item">
<a href="slides/P1070234.jpg" rel="clearbox[comment=Warming up the chorus, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Chorus with Stephen Sano" class="photo"><img src="thumbs/P1070234.jpg"  width="80" height="80" alt="Chorus with Stephen Sano"></a><br> <br> </div><div class="item">
<a href="slides/P1070237.jpg" rel="clearbox[comment=Warming up the chorus, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Chorus, middle section" class="photo"><img src="thumbs/P1070237.jpg"  width="80" height="80" alt="Chorus, middle section"></a><br> <br> </div><div class="item">
<a href="slides/P1070239.jpg" rel="clearbox[comment=Warming up the chorus, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Chorus with Stephen Sano" class="photo"><img src="thumbs/P1070239.jpg"  width="80" height="80" alt="Chorus with Stephen Sano"></a><br> <br> </div><div class="item">
<a href="slides/P1070242.jpg" rel="clearbox[comment=Warming up the chorus, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Stephen Sano" class="photo"><img src="thumbs/P1070242.jpg"  width="80" height="80" alt="Stephen Sano"></a><br> <br> </div><div class="item">
<a href="slides/P1070248.jpg" rel="clearbox[comment=Before the performance, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Ensemble" class="photo"><img src="thumbs/P1070248.jpg"  width="80" height="80" alt="Ensemble"></a><br> <br> </div>

<div class="item">
<a href="slides/P1070246V.jpg" rel="clearbox[comment=Performance, Beethoven, The Creatures of Prometheus Overture, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Orchestra performing Beethoven, The Creatures of Prometheus Overture" class="photo"><img src="thumbs/P1070246V.jpg"  width="80" height="80" alt="Orchestra"></a><br> <br> </div><div class="item">
<a href="slides/P1070247V.jpg" rel="clearbox[comment=Performance, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Robin Sharp, violinist, Mozart, Violin Concerto No. 3 in G Major" class="photo"><img src="thumbs/P1070247V.jpg"  width="80" height="80" alt="Robin Sharp, violinist, Mozart, Violin Concerto No. 3 in G Major"></a><br> <br> </div>
<div class="item">
<a href="slides/P1070249V.jpg" rel="clearbox[comment=Performance, Stanford Memorial Church, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Beethoven, Mass in C Major" class="photo"><img src="thumbs/P1070249V.jpg"  width="80" height="80" alt="Beethoven, Mass in C Major"></a><br> <br>  </div>

<div class="item">
<a href="slides/P1070251.jpg" rel="clearbox[comment=After the performance, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Nova Jiménez, soprano" class="photo"><img src="thumbs/P1070251.jpg"  width="80" height="80" alt="Nova Jiménez, soprano"></a><br> <br> </div><div class="item">
<a href="slides/P1070253.jpg" rel="clearbox[comment=After the performance, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Nova Jiménez, soprano" class="photo"><img src="thumbs/P1070253.jpg"  width="80" height="80" alt="Nova Jiménez, soprano"></a><br> <br> </div><div class="item">
<a href="slides/P1070254.jpg" rel="clearbox[comment=After the performance, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Nova Jiménez with friends" class="photo"><img src="thumbs/P1070254.jpg"  width="80" height="80" alt="Nova Jiménez with friends"></a><br> <br> </div><div class="item">
<a href="slides/P1070259.jpg" rel="clearbox[comment=After the performance, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Violinist" class="photo"><img src="thumbs/P1070259.jpg"  width="80" height="80" alt="Violinist"></a><br> <br> </div><div class="item">
<a href="slides/P1070262.jpg" rel="clearbox[comment=After the performance, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Nova Jiménez with friends" class="photo"><img src="thumbs/P1070262.jpg"  width="80" height="80" alt="Nova Jiménez with friends"></a><br> <br> </div><div class="item">
<a href="slides/P1070272.jpg" rel="clearbox[comment=After the performance, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Wine" class="photo"><img src="thumbs/P1070272.jpg"  width="80" height="80" alt="Wine"></a><br> <br> </div><div class="item">
<a href="slides/P1070277.jpg" rel="clearbox[comment=After the performance, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Steve" class="photo"><img src="thumbs/P1070277.jpg"  width="80" height="80" alt="Steve"></a><br> <br> </div><div class="item">
<a href="slides/P1070278.jpg" rel="clearbox[comment=After the performance, Saturday 27 February,,gallery=Winter 2010. Photo by R. A. Wilson,,slideshowtime=3]"  title="Steve" class="photo"><img src="thumbs/P1070278.jpg"  width="80" height="80" alt="Steve"></a><br> <br> </div>

</div></div>

<div id="info"><a href="res/info.html" title="info" rel="clearbox[width=600,,height=300]" class="photo"><img src="res/icons/Information-1.png" alt="info"></a></div></div>

<script type="text/javascript">    
                  var pager = new Ojay.Paginator('#thumbnails', {
                      width:      '855px',
                      height:     '899px',
                      direction:  'horizontal',
                      scrollTime: 0.8,
					  
                      easing:     'easeOutStrong'
					 
                  });
                  Ojay.History.manage(pager, 'gallery');
                  Ojay.History.initialize({asset: 'res/hello.html'});
                  pager.setup();
                  pager.addControls('after');			  
				  </script>

<!-- TemplateEndEditable --> </div>
	<div id="footer" class="clear">
		<hr class="hide">
		<!-- TemplateBeginEditable name="footer" -->
		<ul id="nav_footer">
			<li><a href="http://www.stanford.edu" title="Stanford University">Stanford University</a></li>
			<li><a href="http://music.stanford.edu" title="Stanford Music Department">Stanford Music Department</a></li>
			<li><a href="http://music.stanford.edu/Ensembles/index.html">Stanford Music Ensembles</a></li>
			<li class="last"><a href="/index.html">Stanford Symphonic Chorus</a></li>
		</ul>
		<div id="copyright">
			<p class="vcard">
				Website work by
				{{> people_citation person='webmaster' subject="SSC Website feedback" }}
				.
			</p>
			<p class="vcard">
				Photos by
				{{> people_citation person='w2010_photographer' subject="W2010 gallery on the SSC Website" }}
				.
			</p>
			<p class="vcard">
				&copy; <span class="fn org">Stanford University</span>.
				<span class="adr">450 Serra Mall,
					<span class="locality">Stanford</span>,
					<span class="region">California</span>
					<span class="postal-code">94305</span>.
					<span class="tel">(650) 723-2300</span>
				</span>.
				<a href="http://www.stanford.edu/site/terms.html">Terms of Use</a> | <a href="http://www.stanford.edu/site/copyright.html">Copyright Complaints</a>
			</p>
		</div>
		<!-- TemplateEndEditable -->
	</div>
</div>
<!-- TemplateBeginEditable name="bottom" -->
<!-- TemplateEndEditable -->
</body>
</html>
