---
sort_name: "Aquilanti"
piece_ref: "aquilanti/sanctus"

piece:
    composer: "Giancarlo Aquilanti"
    movement: "Sanctus"
    title:  "Mass: A Celebration of Life"

albums:
-   director: Stanford Chamber Chorale
    description: >
        <p>
            The <em>Sanctus</em> from Giancarlo Aquilanti's <em>Mass: A Celebration of Life</em> can be heard on the <a href="https://www.youtube.com/watch?v=iUvSboCdSUo">Stanford Chamber Chorale's recording</a>.
            This version uses a chamber orchestration, which is lighter than the one that we'll have for our concert, but it still gives you an idea of the orchestral colors Giancarlo has created to accompany the rollicking <em>Sanctus</em> choral parts.
        </p>
---
{{#extend "fylp_layout"}}{{/extend}}