---
piece_ref: "berlioz/requiem"

piece:
    composer: "Hector Berlioz"
    title: "Requiem"

albums:
-   director: Colin Davis
    label: Philips 415 283-2
    image:
        file: colin-davis-berlioz-requiem.jpg
        width: 300
        height: 300
    description: >
        <p>
            Colin Davis's reading has long been regarded as one of the strongest available
            (Philips 415 283-2, coupled with Berlioz' <em>Symphonie funèbre et triomphale,</em> op. 15).
            Davis directs the combined forces of the London Syphony Chorus, the John Alldis Choir, and the Wandsword School Boy's Choir (it was Davis' idea to add the boy's choir, not Berlioz') in a performance filled with passion and depth. 
            The grand scale of the work is enhanced by the surprisingly intimate sounding pianissimos contrasted with the most glorious of fortissimos.
            The orchestral planing is superb in tone and the 1969 recording has the characteristically warm, vintage Philips analog sound that has been well transferred to CD.
            There are only two factors that detract from making this recording the clear top recommendation. 
            Though recorded in the vast acoustic of Westminster Cathedral (London's Roman Catholic Cathedral), 
            the sound is suprisingly lacking in atmosphere.
            Alan Smythe attributes this partly to the building's unfinished brick interior surfaces, 
            though the close miking of the performers is a major contributing factor as well.
            The miking points up the recording's other weaknesses—the tone of the tenors in high-register,
            forte dynamic sections. The miking is in fact so close that individual voices in the tenors can be heard.
            Some of those voices are not very pretty singing up there above the staff (!).
            This is particularly problematic in the <em>Dies irae</em>, <em>Rex tremendae</em>, and <em>Lacrymosa</em>.
            Still, even with these minor caveats, this recording provides the listener with an extremely
            statisfying and musically uplifting experience.
        </p>

-   director: Robert Shaw
    label: Telarc CD-80109
    image:
        file: robert-shaw-berlioz-requiem.jpg
        width: 300
        height: 300
    description: >
        <p>
            More recently, Robert Shaw has recorded the <em>Requiem</em> with his Atlanta forces (Telarc CD-80109, coupled with Boïto's <em>Prolog to Mefistolfele</em> and Verdi's <em>Te Deum</em>). 
            Though a more straightforward, and perhaps less emotionally charged reading than Davis', Shaws' Atlanta Symphony Chorus is the ultimate in polish and percision.
            All sections sing with unfailing unity of tone and vowel, pitch is dead-center, and diction is immaculate.
            John Aler is the radiant, almost angelic tenor, and he floats effortlessly above the chorus in the <em>sanctus</em>.
            The orchestral playing is well up to standard though th esound o fthe instrumentalists seems oddly as if it were in a different acoustic than the choir.
            Where Davis' choir sounds too up-front, Shaw's seems recessed and even a bit cloudy in recorded sound compared to the orchestra.
            The strengths and weaknesses of the Davis and Shaw recordings are in complimentrary distribution, and the avid collector
            will no doubt desire both of them.
        </p>

-   director: Leonard Bernstein
    label: Sony M2YK 46461 or Sony SM2K 47526
    image:
        file: leonard-bernstein-berlioz-requiem.jpg
        width: 130
        height: 130
    description: >
        <p>
            For unbridled energy and visceral excitement, Bernstein's 1975 performance with the orchestre 
            Nationale de France and the French Radio/TV Chorus is unmatched (Sony M2YK 46461 or Sony SM2K 47526).
            The ascending chromatic scales in the <em>Dies irae</em> feel as if they are electrically charged,
            and the waves of sound in the <em>Lacrymosa</em> are urgent and unceasing. 
            Drama is the touchtone of this performance, and the recording is close and dramatic
            to match without sacrificing any of the ambience of the venue.
        </p>

-   director: James Levine
    label: Deutsche Grammophon 429 724-2
    image:
        file: james-levine-berlioz-requiem.jpg
        width: 300
        height: 300
    description: >
        <p>
            James Levine has the advantage of having Pavarotti as his tenor soloist fo rhte <em>Sanctus,</em> 
            and Luciano sounds as ravishing as one would expect (Deutsche Grammophon 429 724-2). 
            The Berlin Philharmonic is sterling in presentation, 
            but alas, the Ernst-Senff Choir is not up to snuff.
            <em>Penguin</em> cites the raggedness of some of hte choral entries as being problematic,
            and the unity of tone is definitely no tin the same class as the Atlanta ensemble.
        </p>

-   director: Seiji Ozawa
    label: RCA 09026-62544-2
    image:
        file: seiji-ozawa-berlioz-requiem.jpg
        width: 300
        height: 300
    description: >
        <p>
            Ozawa and French repertoire is often a rewarding match, and his 1994 recording of the <em>Messe des morts</em> 
            is no exception (RCA 09026-62544-2). The playing of the Boston Symphony Orchestra is beautiful as ever, 
            but it is the Tanglewood Festival Chorus that really makes this disc a pleasure to listen to. Clear, precise, 
            unified and committed singing are the hallmarks of this performance. The tone of the tenors in the upper registers is approropriately sweet or powerful as needed, without any hint of over-singing or edginess that detracts from other recordings. Diction, vowel color, entrances and cutoffs are delivered completely as one voice—such a pleasure to hear! Vinson Cole's contribution as tenor soloist is passionate and delivered with each phrase musically shaped, even though his intonation is not always spot-on.
        </p>

---
{{#extend "fylp_layout"}}
    {{#content "fylp-content"}}
        <p>
            There are several wonderful recordings of Berlioz's mighty <em>Requiem</em>
            currently available.
        </p>
    {{/content}}
{{/extend}}
