---
piece_ref: "bernstein/chichester"

piece:
    composer: "Leonard Bernstein"
    title: 'Chichester Psalms'

albums:
-   director: "Israel Philharmonic Orchestra"
    description: >
        <p>
            The most famous is with the Israel Philharmonic Orchestra, and the Wiener
            Jeunesse-Chor, and can be found at (the video portion is just a photograph of Bernstein
            conducting) {{> youtube-embed "1axCTkIfP9Q" }}.
        </p>

-   director: "Poznan Philharmonic Orchestra"
    description: >
        <p>
            There is also a video with the Poznan Philharmonic Orchestra with the Poznan Philharmonic
            Boys and Men’s Choir: {{> youtube-embed "7Yhnml4DW9g" }}.
        </p>
        <p>
            The video quality is poor and very low resolution, but it’s always wonderful to watch Lenny
            conduct!
        </p>

---
{{#extend "fylp_layout"}}
    {{#content "fylp-content"}}
        <p>
            There are two videos on YouTube of Bernstein’s Chichester Psalms with the composer
            conducting.
        </p>
    {{/content}}
{{/extend}}
