---
piece:
    composer: "Johannes Brahms"
    title:
    -   "Nänie"
    -   "Schicksalslied"

albums:
-   director: Herbert Blomstedt
    label: Decca 430281
    shopping:
        - http://www.arkivmusic.com/classical/album.jsp?album_id=141982
    image:
        file: herbert-blomstedt-nanie-schicksalslied.jpg
        width: 500
        height: 474
    description: >
        <p>
            There are four excellent recordings that contain both Nänie and Schicksalslied on a single disc. 
            Herbert Blomstedt's performance with the San Francisco Symphony Orchestra and Chorus 
            also includes the Alto Rhapsody (Jard van Nes, mezzo), Begräbnisgesang, 
            and Gesang der Parzen (London 430 281-2).
            Sterling singing and playing are hallmarks of this disc, one of the SFS's best ever.  
            The chorus sings with passion, warmth, precision, excellent blend, and a dynamic feel for declamation of text.
            There is more attention to the architecture of phrase in this recording 
            than on any other—both on micro and macro levels.  
            This is emotional, colorful, seductive, and engaging Brahms—outstanding!
        </p>

-   director: Helmuth Rilling
    label: Hänssler Classic CD 98.122
    shopping:
        - https://www.amazon.com/Schickalslied-Gesang-Parzen-Begrabnisgesang-Gesange/dp/B0000267B2/
    image:
        file: helmut-rilling-schicksalslied.jpg
        width: 305
        height: 305
    description: >
        <p>
            Among his conducting students, it is often said that "[Helmuth] Rilling is thrilling" – and 
            this is readily apparent in his recording of both Nänie and Schicksalslied 
            with the Gächinger Kantorei Stuttgart and Bach-Collegium Stuttgart (Hänssler Classic CD 98.122).  
            These are burnished, glowing, expansively molded performances with sensuous choral singing 
            and sterling orchestral playing (the opening soprano entrance in Nänie is to die for!).  
            Also on the disc are Brahms' Gesang der Parzen and Vier Gesänge für Frauenchor.  
            Highly recommended, though a little less convenient to obtain as it often needs to be imported from Europe.
        </p>

-   director: Gerd Albrecht
    label: Chandos CHAN 10165
    image:
        file: gerd-albrecht-brahms.jpg
        width: 500
        height: 474
    description: >
        <p>
            Gerd Albrecht conducts the Danish National Choir/DR and Danish National Symphony Orchestra 
            in a disc that includes both Nänie and Shicksalslied as well as Brahms' Triumphlied 
            and Ave Maria (Chandos CHAN 10165).  
            The performances are breathtakingly clean, and ensemble execution is precise–but oddly, 
            Nänie feels slower than the 13:22 timing would indicate, 
            and Schicksalslied definitely feels lighter and less weighty than the other recordings on this list 
            (e.g., 14:52 compared with Blomstedt's reading that clocks in at 17:11).  
            Stunning Chandos sound, as one would expect.
        </p>

-   director: Robert Shaw
    label: Telarc CD-801760
    image:
        file: robert-shaw-brahms.jpg
        width: 305
        height: 305
    description: >
        <p>
            Robert Shaw's recording of Nänie and Schicksalslied is also coupled with the Alto Rhapsody 
            (Marilyn Horne, mezzo–wow!), and Gesang der Parzen (Telarc CD-801760).  
            Clean, well-shaped, and with all the polish that one expects from Shaw's work.  
            An excellent choice that offers a great Alto Rhapsody as part of the package.  
            The only caveat is the recorded sound of the chorus, which is set somewhat distantly 
            in the sound stage relative to the other recordings on this list.
        </p>

-   director: Claudio Abbado
    label: Deutsche Grammophon 4357912
    shopping:
        - http://www.arkivmusic.com/classical/album.jsp?album_id=100669
    image:
        file: claudio-abbado-brahms.jpg
        width: 305
        height: 305
    description: >
        <p>
            Among recordings that include this quarter's repertoire as fill-ups, 
            Abbado's version of Nänie is warm and expansive (Deutsche Grammophon 435 349-2).  
            The main work on the disc is a great performance of Brahms' 4th Symphony, 
            and one also gets Brahms' Haydn Variations as a bonus.  
            The Rundfunkchor Berlin sings with a winning blend of emotion and technical precision.  
            The recorded sound is forward and brilliant but with no lack of warmth—though 
            with a strong sense of "podium perspective" as opposed to "back-in-the-house perspective."
        </p>

-   director: Klaus Tennstedt
    label: EMI 7243 5 69518 2 2
    shopping:
        - http://www.arkivmusic.com/classical/album.jsp?album_id=74204
    image:
        file: klaus-tennstedt-brahms.jpg
        width: 305
        height: 305
    description: >
        <p>
            German conductor Klaus Tennstedt passed away in 1998 – a year in which the Stanford Symphonic Chorus 
            last performed Brahms' Schicksalslied – 
            and his recording is a wonderful testament to his compelling musical vision.  
            This Schicksalslied is used as filler in a two-CD set 
            (for the price of one: EMI 7243 5 69518 2 2) with Brahms' 4th Symphony (Jochum conducting) 
            and Ein deutsches Requiem (Tennstedt conducting, with the fabulous Jessye Norman and Jorma Hynninen as soloists). 
            The choral tone of the BBC Symphony Chorus is bright—sometimes on the edge of disconcertingly so, 
            especially in the sopranos and tenors, but the attention to phrase and dynamics 
            is convincing and dramatic—some of the hushed passages are magical.  
            Be advised that Ein deutsches Requiem is split between the two discs—not ideal, 
            but only a slight annoyance for such a terrific performance.  
            This recording is technically no longer in the EMI catalog, but can still be found on-line.
        </p>

-   director: Wolfgang Sawallisch
    label: EMI Seraphim 73570
    shopping:
        - http://www.arkivmusic.com/classical/album.jsp?album_id=4666
    image:
        file: wolfgang-sawallisch-brahms.jpg
        width: 305
        height: 305
    description: >
        <p>
            Sawallisch's recording of Schicksalslied coupled with Brahms 4th Symphony 
            and the Academic Festival Overture is an attractively budget-priced entry (EMI 7243 5 69857 2 8).  
            Though the Ambrosian Singers are not always the most polished, there is still fine singing here.
        </p>

---
{{#extend "fylp_layout"}}
    {{#content "fylp-content"}}
        <p>
            Brahms' shorter large-scale choral/orchestral works are well-served among
            available recordings, though they are often inconvenient to collect as they
            often serve as fill-ups for longer works.
        </p>
    {{/content}}
{{/extend}}