---
piece_ref: "bruckner/mass-#3-f-minor"

piece:
    composer: "Anton Bruckner"
    title: "Mass No. 3 in F Minor"

albums:
-   director: Eugen Jochum
    label: DG 0289 447 4092 9
    image:
        file: eugen-jochum.jpg
        width: 500
        height: 474
    description: >
        <p>
            I grew up with LPs of Eugen Jochum's recordings of Bruckner's Masses 
            from the 1960's and early 1970's—recordings that are still available 
            re-mastered on CD or by digital download (DG 0289 447 4092 9).  
            The performance of the F minor <em>Mass</em> is still as taught and glowing as ever, 
            with a wonderful arc to the pacing—especially through the big <em>Gloria</em> and <em>Credo</em> compound movements.  
            Though the sound is rather on the compressed side when compared to contemporary recordings, 
            the reading is well worth having as a cornerstone to your Bruckner choral library.
        </p>

-   director: Matthew Best
    label: Helios CDH55332
    image:
        file: matthew-best.jpg
        width: 305
        height: 305
    description: >
        <p>
            Matthew Best and his Corydon Singers and Orchestra present one of the most satisfying 
            of the contemporary recordings available (though even this recording is now 20 years old!: 
            Helios CDH55332, or you may be able to find used versions on the Hyperion label CDA66599).  
            Jean Rigby is arresting in the mezzo-soprano solos, and tenor John Mark Ainsley sings 
            with a dramatic range of color and heft.  The Corydon Singers, as always, 
            are perfect in ensemble, intonation, blend when needed (the <em>piannisimo</em> passages are breathtaking), 
            and vibrant, fruity color when the music demands it.
        </p>

-   director: "Other recordings"
    description: >
        <p>
            There are other excellent recordings available conducted by Celibidache 
            (Munich Philharmonic Orchestra and Choir on EMI), 
            Rilling (Gächinger Kantorei Stuttgart and Radio-Sinfonieorchester Stuttgart on Hänssler), 
            and Davis (Bavarian Radio Symphony Orchestra and Choir on Philips).
        </p>

---
{{#extend "fylp_layout"}}{{/extend}}