---
sort_name: "Finzi"
piece_ref: "finzi/god is gone up"

albums:
-   director: Stanford Chamber Chorale
    description: >
        <p>
            To hear my tempi and phrasing for Finzi’s God is gone up, there is a performance by the Stanford
            Chamber Chorale form winter term 2008 available on our <a href="https://www.youtube.com/watch?v=84mrFdSJZi0">YouTube channel</a>, though with organ
            accompaniment rather than orchestra.
        </p>

---
{{#extend "fylp_layout"}}{{/extend}}