---
sort_name: "Rutter"
piece_ref: "rutter/magnificat"

albums:
-   director: John Rutter
    label: Collegium COLCD 114
    image:
        file: rutter-magnificat-rutter.jpg
        width: 500
        height: 500
    description: >
        <p>
            Although the last time the Stanford Symphonic Chorus performed John Rutter’s <em>Magnificat</em> was in
            2002, the best reference recording is still the same one as it was then: the composer’s performance
            with the Cambridge Singers and the City of London Sinfonia. It’s available on 
            <a href="https://www.youtube.com/playlist?list=PL3E536C109CC5106F">YouTube</a>.
            Each movement is a separate clip, and there is the convenient, scrolling vocal score that
            accompanies the music.
        </p>
        <p>
            If you still like to buy CDs, it’s odd that this version is currently out of print in the Collegium catalog
            (John Rutter’s home record label). But, it’s still available via amazon.com though from 3rd party
            vendors. One can find it in either (i) the original 1993 packaging (Collegium COLCD 114), which
            also includes The Falcon, along with two festival anthems, O praise the Lord of heaven, and Behold the
            tabernacle of God (ii) or the more recent 2011 compilation with his ever-popular Requiem (Collegium
            CSCD 504). The choral singing is first-rate (much of the choir being made up of alums of the Choir
            of Claire College, Cambridge from when Rutter was an undergrad there). And with the composer
            conducting, one presumes that the tempi and pacing are exactly as he intended.
        </p>

-   director: Stephen Cleobury
    label: EMI 7243 5 57952 2
    image:
        file: cleobury-magnificat-rutter.jpg
        width: 700
        height: 700
    description: >
        <p>
            A fine 2005 performance of the Magnificat performed by the Choir of King’s College, Cambridge and
            the City of Birmingham Symphony Orchestra, conducted by Stephen Cleobury is available on EMI
            (originally on CD: EMI 7243 5 57952 2, and now available for digital download from amazon.com).
            The boy trebles of King’s College, Cambridge are typically superb, though it’s interesting to hear
            them sing with a more brilliant and forward timbre than is typical (in this case, a good tool for
            overcoming the large orchestration). And as always, Stephen Cleobury is fastidiously dedicated to
            the written score. A winning performance!
        </p>

---
{{#extend "fylp_layout"}}{{/extend}}