---
sort_name: "Mascagni"
piece_ref: "mascagni/easter hymn"

piece:
    composer: "Mascagni"
    title: "Easter Hymn"

albums:
-   director: Tullio Serafin
    description:
        <p>
            An iconic performance of Mascagni's <em>Easter Hymn</em> from his opera <em>Cavalleria Rusticana</em> can be found in the famous <a href="https://www.youtube.com/watch?v=agaMf-flMQ4&t=25m45s">1954 recording from the Teatro alla Scala, Milan</a> with Tullio Serafin conducting the Chorus and Orchestra of the La Scala Opera.
            This is 1950's recording technology and a rather raw, but realistic opera chorus recording — wow, listen to those competing <em>vibrati</em> in the soprano sections!
            But it gives you an honest perspective of how the piece fits into the larger context of the opera. Also, note that true to the original score, the organ takes that which in our performance will be covered by the winds of the orchestra.
            Also, Maria Callas sings the part of Santuzza — how wonderful is that?!
        </p>

---
{{#extend "fylp_layout"}}{{/extend}}