---
piece:
    composer: "Felix Mendelssohn"
    title: "Psalm 114"

albums:
-   director: Frieder Bernius
    label: Carus 83.202
    description: >
        <p>
            Frieder Bernius conducting the Kammerchor Stuttgart with the Deutsche
            Kammerphilharmonie (Carus 83.202) is taut and lean with bright tempi.
            Textures are very cleanly etched, and there is terrific flow and forward
            momentum to the phrasing. The orchestral introduction to the first Allegro
            (m. 88) is immaculately played—stunning!
        </p>

-   director: Michel Corboz
    label: Erato 4509-94359-2
    description: >
        <p>
            Michel Corboz conducting the Choeur
            and Orchestre Gulbenkian de Lisbonne (Erato 4509-94359-2) is lush and
            expansive — "romantic". What this performance may lack in momentum,
            is more than made up for with a a sense of breath drama.
        </p>

---
{{#extend "fylp_layout"}}{{/extend}}