---
sort_name: "Stravinsky"
piece_ref: "stravinsky/symphony of psalms"

albums:
-   director: "Stravinsky"
    description: >
        <p>
            Stravinsky’s own recording of his Symphony of Psalms is available on YouTube, though the
            three movements are separate:
        </p>
        <ol style="list-style-type: none;">
            <li>1st Movement: {{> youtube-embed "B_ObvMrOjLA" }}</li>
            <li>2nd Movement: {{> youtube-embed "e40pD5DXvq0" }}</li>
            <li>3rd Movement: {{> youtube-embed "5DFixWvnm8I" }}</li>
        </ol>

-   director: "CBC Orchestra"
    label: CBS MK 42434
    description: >
        <p>
            If you’re a collector of hard-copy CDs, the recording is still in the CBS catalog (CBS MK
            42434). The program notes are written by Stravinsky himself, and provide fascinating insight
            into the compositional process in addition to discussing many musical and aesthetic issues in the
            piece. Recorded in 1963, the performance features the CBC Orchestra and the Festival Singers
            of Toronto. As it’s conducted by the composer, this recording is a critically important
            performance document.
        </p>

-   director: "George Solti"
    description: >
        <p>
            There is an exciting performance of this work with a scrolling score conducted by George Solti
            with the Chicago Symphony Orchestra and Chorus.
        </p>
        {{> youtube-embed "VUSfrgPQjRM" }}

-   director: "John Eliot Gardiner"
    description: >
        <p>
            Among John Eliot Gardiner’s most outstanding performances is his 2002 recording of the
            Symphony of Psalms with his Monteverdi Choir and the London Symphony orchestra. It’s
            stunning in its power, precision, clarity of texture, richness of colors and spell-binding
            musicality. This recording also has some of the most beautiful wind playing — the fugue that
            opens the second movement is arresting in its sheer beauty. On YouTube, each movement
            appears separately:
        </p>
        <ol style="list-style-type: none;">
            <li>1st Movement: {{> youtube-embed "_PgtW3IS2AU" }}</li>
            <li>2nd Movement: {{> youtube-embed "ahL-BmkhklU" }}</li>
            <li>3rd Movement: {{> youtube-embed "8YddFtgrs-E" }}</li>
        </ol>

---
{{#extend "fylp_layout"}}
    {{#content "fylp-content"}}
    {{/content}}
{{/extend}}
