---
piece:
    composer: "Ralph Vaughan Williams"
    composerFamilyName: "Vaughan Williams"
    title: "A Sea Symphony"

albums:
-   director: Adrian Boult
    label: EMI CDM 64016 2
    description: >
        <p>
            For the strongest recordins in the catalog, one would logically turn to
            conductors from the UK, and in this instance the results are most pleasing.
            Sir Adrian Boult recorded this work twice, once in 1954 and again in 1968,
            both times with the London Philharmonic Orchestra and Choir. A champion of
            Vaughan Williams' music, Boult premiered RVW's third, fourth, and sixth
            sympohnies. His later recording of <em>A Sea Symphony</em> (EMI CDM 64016 2)
            is still one of the finest available. There is always a keen sense of
            large-scale shape and direction, and tempi are never overly sentimental.
            Both chorus and orchestra are excellent (except for the first exclamation of
            the word "sea" that doesn't quite tune will into the chord), as are the
            soloists Sheila Armstrong and John Carol Case. Particularaly lovely are the
            extended duet passages in the last movement. Though the sound is somewhat
            close, the overall effect is clean and powerful. Boult's earlier mono
            recording (London 425 658-2) is a wonderful reference point--the composer
            was present at the recording sessions. A young, and, perhaps, "hotter"
            reading.
        </p>

-   director: Bryden Thomson
    label: Chandos CHAN 8764
    description: >
        <p>
            For an equally successful, though quite different experience, Bryden
            Thomson's recording (Chandos CHAN 8764) is a winner. Compelling and
            evocative, Thomson conducs a more expansive performance than Boult. Still,
            this is a reading that is never lacking in energy and excitement whwere
            needed. The London Symphony Orchestra and Chorus are in top form, and the
            choral singing is cleaner and more polished than in either of Boults's
            recordings. Baritone soloist Brian Rayner Cook is outstanding, with the
            right combination of heft and lyricism. Sonically, this is the finest of all
            available recordings — warm, rich, with exquisite detail and an almost
            uncanny depth to the soundstage. The opening of the first movement in this
            recording is truly audiophile demonstration stuff!
        </p>

-   director: Andrew Davis
    label: Teldec 4509-94550-2
    description: >
        <p>
            Fans of baritone Thomas Hampson can hear him on Teldec's offering (Teldec
            4509-94550-2) conducted by Andrew Davis. With this recording the BBC
            Symphony Chorus and Orchestra, the third of the "Big Three" London choir and
            orchestra combinations, are given their chance to shine. With tempi that are
            slightly more brisk, this reading is full of energy and verve. One curious
            point is the recording itself that sounds at the same time close and
            somewhat woolly—perhaps made more apparent if one listens to this
            recording immediately following the previous Chandos disc.
        </p>

-   director: André Previn
    label: RCA 60580-2-RG
    description: >
        <p>
            A young André Previn conducts a young RVW on RCA's recording (RCA
            60580-2-RG). Lojng a strong recommendation in the catalog, this performance
            retains its freshness almost thirty years after it was recorded. Again, the
            London Symphony Orchestra and Chorus give an idiomatically spirited and
            colorful performance. Heather Harper and John Shirley-Quirk are simple and
            tender in their last movement pairing.
        </p>

-   director: "Other recordings"
    description: >
        <p>
            Other strong recordings include Vernon Handley conducting the Liverpool
            Philharmonic Orchestra and Chorus (Virgin VJ 759687-4), and Bernard Haitink
            conducting the London Philharmonic Choir and Orchestra (EMI CDC7 49911-2).
        </p>

---
{{#extend "fylp_layout"}}
    {{#content "fylp-content"}}
        <p>
            Happily, there are a good number of excellent recordings of all of Ralph
            Vaughan Williams symphonies. His first symphony, <em>A Sea Symphony</em>,
            was completed in 1909. A vast and majestic work of grand proportions, it is
            composed in the typical symphonic four movements and sets wonderful text by
            Walt Whitman.
        </p>
    {{/content}}
{{/extend}}