---
sort_name: "Verdi"
piece_ref: "verdi/te deum"

albums:
-   director: Claudio Abbado
    description: >
        <p>
            Verdi's <em>Te Deum</em> is well-served on <a href="https://www.youtube.com/watch?v=47tm6mSTOgg&t=25m26s">YouTube</a> with a recording with Claudio Abbado conducting the Vienna Philharmonic Orchestra, and the Wiener Konzertvereinigung and soprano soloist Cheryl Studer.
            Note, however, that this video is of all four of the <em>Sacred Pieces</em>, and the <em>Te Deum</em> starts at 25:26.
        </p>

-   director: John Eliot Gardiner
    description: >
        <p>
            In a completely different direction is John Eliot Gardiner's performance of the <a href="https://www.youtube.com/watch?v=sRxIv6zlRTs">Te Deum</a> with the Orchestre Révolutionnaire et Romantique and the Monteverdi Choir.
            The tempi are brisk — although closer to the tempo indications that Verdi himself preferred.
            And, there is a verve and trajectory that is mightily convincing here. Choral singing and orchestral playing are superbly polished — probably more so than any other commercial recording available.
            A very different experience than Ricardo Muti and Claudio Abbado, but definitely worth a listen!
        </p>

---
{{#extend "fylp_layout"}}{{/extend}}