/****************************************************************************************
Layout Stylesheet for Middle content: defines widths, margins, floats, and other
advanced display attributes for the middle section (sidebars and main content)
****************************************************************************************/

@import "reset";
@import "layout";
@import "custom";

/*********************************
Title
**********************************/
.primary #title * {
	/* hide the contents but not the element itself */
    display:none;
}

/*********************************
Main Content - Wrapper
**********************************/
.primary #content_container {
	margin: 0 0 30px 0;
	float: left;
	width: 784px;
	padding: 0;
	border-right: 1px solid @color-beige25;
}

.primary #content_main {
	margin: 0;
	padding: 0 20px;
	float: left;
	width: 568px;
	border-left: 1px solid @color-warmgray10;

	h2 {
		border-bottom: 6px solid @color-red;
		letter-spacing: 2px/*thomas*/;
		margin-top: 8px;
	}
	div {
		margin-bottom: 15px;
	}
}

/*********************************
Spotlight
*******************************************************************
Spotlight is the featured banner area of the main Stanford homepage
*******************************************************************/
.primary #spotlight {
	margin-bottom: 10px;

	a {
		border: none;
	}

	.image_banner {
		/*Style for spotlight feature image - determines distance between photo and background drop shadow */
		position: relative;
		left: -5px;
		top: 5px;
		margin-bottom: 10px;
		background-repeat: no-repeat;
	}
}

/*********************************
Events/Sports
**********************************/
.primary #introduction  {
	float: left;
	width: 155px;
	margin-right: 20px;
	margin-top: 8px;

	h2 {
		width: 155px;
		border-bottom: 6px solid @color-red;
		letter-spacing: 2px/*thomas*/;
	}

	div {
		margin-bottom: 10px;

		h3 {
			width: 22px;
			padding: 0px 10px 0px 10px;
			text-align: center;
		}

		p {
			margin-bottom: 7px;
			line-height: 1.2500em/*thomas*/;
		}
	}
}

/******************************
Sidebar - Supplementary
**********************************/
.primary #sidebar {
	padding-left: 20px;
	float: left;
	width: 155px;

	h2 {
		border-bottom: 6px solid @color-warmgray;
		color: @color-warmgray90;
		letter-spacing: 2px/*thomas*/;
	}

	h3 {
		color: @color-red;
		font-size: 0.7500em/*thomas*/;
		letter-spacing: 1px/*thomas*/;
		text-transform: uppercase;
		padding: 3px 0 0 0;
	}

	div {
		margin-bottom: 15px;
	}

	ul {
		padding-bottom: 5px;
	}

	li {
		list-style-image: url("../images/raquo.gif");
		margin-left: 15px;
		padding-bottom: 5px;
		font-size: 1.1667em/*thomas*/;
	}
}

.event {
	.event_list {
		margin-left: 42px;
		margin-top: -43px;
		border-left: 1px solid @color-warmgray10;
		padding-left: 10px;
		font-size: 1.1667em/*thomas*/;
		line-height: 1.1667em/*thomas*/;
	}

	.event_time {
		color: @color-red;
	}

	.event_month {
		color: @color-red;
		font-family: @font-family-serif;
		font-size: 14px;
		line-height: 16px;
		display: block;
	}

	.event_day {
		font-family: @font-family-serif;
		font-size: 24px;
		line-height: 27px;
		color: @color-warmgray90;
		display: block;
	}
}
