<template id="ssc-header">
	<style>
		#logo {
			float: left;
			margin-top: 15px;
		}

		#container_header {
			height: 90px;
			width: 100%;
			background-image: url("../../images/red_header_bg.jpg");
			background-repeat: repeat-x;
		}
		
		#container_search {
			float: right;
			margin-right: 2px;
			margin-top: 4px;
		}
		
		#searchformhome {
			width: 191px;
			float: right;
			margin-right: 2px;
			margin-top: 2px;
			color: white;
		}
		
		#search_filters {
			margin-bottom: 3px;
			margin-left: 10px;
		}
		
		#web, #people {
			vertical-align: middle;
			margin: 0;
		}
		
		#web_label, #people_label {
			/* font-size: 1em; */
			vertical-align: middle;
			margin-right: 9px;
		}
		
		.searchbox {
			background: url("../../images/search_box_bg.png") no-repeat left top;
			height: 24px;
			padding-left: 3px;
		}

		.search_button {
			border: 0;
			background: url("../../images/search_button.gif") no-repeat top left;
			width: 20px;
			text-indent: -9999px;
			margin-top: 1px;
			float: right;
			cursor: pointer;
		}
		
		.searchbox input {
			margin-left: 6px;
			margin-top: 0;
			padding-top:0;
			border:0;
			height:15px;
			margin-top: 2px;
		}
		
		#nav_topic ul {
			margin: 0 auto;
			border-left: 1px solid #8a887d;
			height: 24px;
			padding: 0;
		}
		
		#nav_topic li {
			float: left;
			height: 24px;
			list-style-type: none;
			border-right: 1px solid #8a887d;
			padding-left: 0.625em;
			padding-right: 0.625em;
			line-height: 1.3333em;
		}
		
		#nav_topic li a {
			display: block;
			padding-top: 5px;
			padding-left: 0.625em;
			padding-right:0.625em;
			font-size: 12px;
			border: none;
			color:#3f3c30;
			font-weight: 300;
			letter-spacing: 1px;
			text-decoration: none;
		}
	</style>
	
	<div id="container_header">
		<div id="header">
			<div id="logo">
				<img class="srcadjust" src="../../images/graphics/SSCCollage.jpg" alt="Stanford Symphonic Chorus" usemap="#Map">
				<map name="Map" id="Map">
					<area class="hrefadjust" shape="rect" coords="0,0,107,63" href="../../images/graphics/collage/P1060915.jpg" alt="Chorus in rehearsal">
					<area class="hrefadjust" shape="rect" coords="108,0,190,63" href="../../images/graphics/collage/Altos.jpg" alt="Altos in rehearsal">
					<area class="hrefadjust" shape="rect" coords="191,0,297,63" href="../../images/graphics/collage/SoprCenter.jpg" alt="Sopranos in rehearsal">
					<area class="hrefadjust" shape="rect" coords="298,0,425,63" href="../../images/graphics/collage/P1070103.jpg" alt="Rehearsal in MemChu">
					<area class="hrefadjust" shape="rect" coords="426,0,532,63" href="../../images/graphics/collage/SteveSano2002.jpg" alt="Steve in rehearsal">
					<area class="hrefadjust" shape="rect" coords="533,0,667,63" href="../../images/graphics/collage/BeethovenW10.jpg" alt="Performance in MemChu">
					<area class="hrefadjust" shape="rect" coords="668,0,749,63" href="../../images/graphics/collage/Tenors.jpg" alt="Tenors in rehearsal">
				</map>
			</div>
			<div id="container_search">
				<div id="search">
					<form action="http://www.stanford.edu/hpcgi/page-route.cgi" id="searchformhome" method="post">
						<div id="search_filters">
							<input name="search_type" id="web" type="radio" value="web" checked="checked">
							<label id="web_label" for="web" style="">Web</label>
							<input name="search_type" id="people" type="radio" value="people">
							<label id="people_label" for="people" style="">People</label>
						</div>
						<div class="searchbox">
							<input onFocus="this.value=''" type="text" value="Search…" name="search_string" id="search_string">
							<button type="submit" value="Submit" class="search_button">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="nav_topic">
		<ul>
			<li><a class="hrefadjust" href="../index.html">Symphonic Chorus Home</a></li>
			<li><a class="hrefadjust" href="../about.html">About the Chorus</a></li>
			<li><a class="hrefadjust" href="../performances.html">Performances</a></li>
			<li><a class="hrefadjust" href="../MemberPage.html">Member Information</a></li>
			<li><a class="hrefadjust" href="../contact.html">Contact</a></li>
		</ul>
	</div>
</template>

<script>
	(function(window, document, undefined) {
		var outerDocument = document;
		var thisDocument = (outerDocument._currentScript || ourterDocument.currentScript).ownerDocument;
		
		var template = thisDocument.querySelector('#ssc-header');

		var SSCHeader = Object.create(HTMLElement.prototype);
		SSCHeader.createdCallback = function() {
			var shadowRoot = this.createShadowRoot();
			
			var clone = document.importNode(template.content, true);
			shadowRoot.appendChild(clone);
		};
		
		window.SSCHeader = document.registerElement('ssc-header', {prototype: SSCHeader});
	})(window, document);
</script>

<template id="ssc-footer">
	<style>
		div.container {
			border-top: 1px solid #eae9e6;
			padding-top: 10px;
		}

		* {
			text-align: center;
		}
		a {
			text-decoration: none;
			border-bottom: 1px dotted #81785a;
			color: #565347;
		}
		p {
			color: #565347;
			line-height: 1.3333em;
		}
		ul {
			margin: 0px;
			padding: 0px;
			list-style: square;
			display: block;
		}
		li {
			display: inline;
			padding-left: 15px;
			padding-right: 15px;
			border-right: 1px solid #eae9e6;
			color: #565347;
			line-height: 1.3333em;
		}
		li.last {
			border: 0px;
		}
		li a {
			font-size: 1.1667em;
			text-decoration: none;
			color: #3f3c30;
			border: none;
		}
		li a:hover {
			color: #820000;
		}
	</style>
	
	<div class="container">
		<ul>
			<li><a href="http://www.stanford.edu" title="Stanford University">Stanford University</a></li>
			<li><a href="http://music.stanford.edu" title="Stanford Music Department">Stanford Music Department</a></li>
			<li><a href="http://music.stanford.edu/Ensembles/index.html">Stanford Music Ensembles</a></li>
			<li class="last"><a class="hrefadjust" href="../index.html">Stanford Symphonic Chorus</a></li>
		</ul>
		<div>
			<p>
				Website work by <ssc-email address="berdahl" domain="serendipity" tld="org" name="Eric Berdahl" subject="SSC Website feedback"></ssc-email>.
			</p>
			<p>
				&copy; <span class="fn org">Stanford University</span>.
				<span class="adr">450 Serra Mall,
					<span class="locality">Stanford</span>,
					<span class="region">California</span>
					<span class="postal-code">94305</span>.
					<span class="tel">(650) 723-2300</span>
				</span>.
				<a href="http://www.stanford.edu/site/terms.html">Terms of Use</a> | <a href="http://www.stanford.edu/site/copyright.html">Copyright Complaints</a>
			</p>
		</div>
	</div>
</template>

<script>
	(function(window, document, undefined) {
		var outerDocument = document;
		var thisDocument = (outerDocument._currentScript || ourterDocument.currentScript).ownerDocument;
		
		var template = thisDocument.querySelector('#ssc-footer');

		var SSCFooter = Object.create(HTMLElement.prototype);
		SSCFooter.createdCallback = function() {
			var shadowRoot = this.createShadowRoot();
			
			var clone = document.importNode(template.content, true);
			shadowRoot.appendChild(clone);
		};
		
		window.SSCFooter = document.registerElement('ssc-footer', {prototype: SSCFooter});
	})(window, document);
</script>

<template id="ssc-email">
	<style>
		a {
			text-decoration: none;
			border-bottom: 1px dotted #81785a;
			color: #565347;
		}
	</style>
	
	<a></a>
</template>

<script>
	(function(window, document, undefined) {
		var outerDocument = document;
		var thisDocument = (outerDocument._currentScript || ourterDocument.currentScript).ownerDocument;
		
		var template = thisDocument.querySelector('#ssc-email');

		var SSCEmail = Object.create(HTMLElement.prototype);
		SSCEmail.createdCallback = function() {
			var shadowRoot = this.createShadowRoot();
			
			var clone = document.importNode(template.content, true);
			shadowRoot.appendChild(clone);
			
			var anchor = shadowRoot.querySelector('a');
			anchor.href = 'mailto:' + this.getAttribute('address') + '@' + this.getAttribute('domain') + '.' + this.getAttribute('tld') + '?subject=' + escape(this.getAttribute('subject'));
			anchor.textContent = this.getAttribute('name');
		};
		
		window.SSCEmail = document.registerElement('ssc-email', {prototype: SSCEmail});
	})(window, document);
</script>

