#shadowbox_overlay
{
	display: block;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	visibility: hidden;
	z-index: 998;
}
#shadowbox_container
{
	height: 0;
	left: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 999;
}
#shadowbox
{
	display: none;
	font-family: 'Lucida Grande',Tahoma,sans-serif;
	margin: 0 auto;
	position: relative;
	text-align: left;
	visibility: hidden;
}
#shadowbox_title
{
	height: 25px;
	overflow: hidden;
	padding: 0;
}
#shadowbox_title_inner
{
	color: #fff;
	font-size: 1.3333em/*thomas*/;
	height: 16px;
	line-height: 1.3333em/*thomas*/;
	padding: 5px 0 4px 8px;
	white-space: nowrap;
}
#shadowbox_body
{
	background-color: #000;
	border: 2px solid #fff;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}
#shadowbox_body_inner
{
	overflow: hidden;
	position: relative;
}
#shadowbox_loading
{
	background-color: #222;
	height: 10000px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
#shadowbox_loading img
{
	float: left;
	margin: 10px 10px 0 10px;
}
#shadowbox_loading span
{
	float: left;
	font-size: 1.8333em/*thomas*/;
	margin-top: 16px;
}
#shadowbox_loading span a,#shadowbox_loading span a:link,#shadowbox_loading span a:visited
{
	color: #fff;
}
#shadowbox_content.html
{
	height: 100%;
	overflow: auto;
	width: 100%;
}
#shadowbox_toolbar
{
	height: 20px;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#shadowbox_toolbar_inner
{
	color: #fff;
	height: 20px;
}
#shadowbox_toolbar_inner div
{
	font-size: 1.8333em/*thomas*/;
	height: 10px;
	line-height: 1.8333em/*thomas*/;
	padding-bottom: 2px;
	padding-top: 4px;
}
#shadowbox_toolbar_inner div span.shortcut
{
	font-weight: bold;
	text-decoration: underline;
}
#shadowbox_toolbar_inner div a
{
	color: #fff;
	text-decoration: none;
}
#shadowbox_nav_close,#shadowbox_nav_previous,#shadowbox_nav_next
{
	float: right;
	padding-right: 10px;
}
#shadowbox_counter
{
	float: left;
	padding-left: 10px;
}
#shadowbox_counter a
{
	padding: 0 4px 0 0;
}
#shadowbox_counter a.shadowbox_counter_current
{
	font-weight: bold;
	text-decoration: underline;
}
div.shadowbox_message
{
	padding: 10px;
	text-align: center;
}
div.shadowbox_message a:link,div.shadowbox_message a:visited
{
	color: #bed333;
	text-decoration: none;
}
div.shadowbox_message a:hover,div.shadowbox_message a:focus
{
	text-decoration: underline;
}