/**********************************************************************************
IE6 Global-level override styles (involving search box, navbar, and expanded drawer)
***********************************************************************************/

/***********************
Nav bar
************************/
#nav_topic { height: 20px;   margin: 0; padding: 0;}
#nav_topic ul { height: 20px; margin: 0; padding: 0;}
#nav_topic ul li { height: 20px;  margin: 0; padding: 0;}
#nav_topic li a {  margin:0; display: block; height: 19px; width: 180px; text-decoration: none; padding-left: 10px; font-size: 12px }

/***********************
Drawer
************************/
#nav_expanded {  width: 958px; margin: 0; padding: 0; }
#expanded_content { margin: 0; padding: 0; }
#expanded_content img { display: none;}
#nav_expanded table { width: 958px; margin: 0; padding: 0; margin-left: 0px; margin-top: 8px; }
#expanded_table_header { visibility: hidden; display: none;}
.expanded li { padding-bottom: 5px; list-style-image:url("/images/raquo_ie.gif"); list-style-position:inside;}
.expanded li a { margin-left: 5px;}

