/**********************************************************************************
IE6 Seconday-level override styles 
***********************************************************************************/
/*******************************************************
Sidebars - Supplementary (generally the right-hand sidebar)
********************************************************/
#sidebar_supplementary { padding-left: 0; margin-left: 13px; margin-right: 0; padding-right: 0 }
#sidebar_supplementary img { margin-right: 0; padding-right: 5px }

/******************************************************
Sidebars - Introduction (generally the left-hand sidebar)
*******************************************************/
#sidebar_introduction { margin-right: 0; padding-right: 10px }

/***********************
Main/Middle Content
***********************/
#content_main { margin:0; padding-left: 20px;padding-right: 20px; margin-right: 0px }
.middle_content { height: 108px }
/* .middle img { height: 108px; width: 108px } */



