/**********************************************************************************
IE6 Tertiary-level override styles for Tertiary 2 column layout
***********************************************************************************/
/*******************************************************
Sidebars - Supplementary (generally the right-hand sidebar)
********************************************************/
#sidebar_supplementary { padding-left: 0; margin-left: 13px; margin-right: 0; padding-right: 0;}
#sidebar_supplementary img { margin-right: 0; padding-right: 5px;}

/*******************************************************
Sidebars - Introduction (generally the left-hand sidebar)
*******************************************************/
#sidebar_introduction { margin-right: 0; padding-right: 10px; }

/***********************
Main/Middle Content
***********************/
#content_main { margin:0; padding-left: 0;padding-right: 18px; margin-right: 0px;}
#breadcrumb { padding-bottom: 2px; }

/*********************************************************************
On The Stanford Web - this cleans up the list items on the /otsw/ page
*********************************************************************/
#otsw_content li.otsw_object { list-style-image: none; list-style-type: none; list-style: none;}
