---
# HOWTO: Set quarter to a single string that names the quarter and year. Use something like "Winter 1812",
# "Spring 1812", or "Fall 1812"
quarter: "Winter 2022"


# HOWTO: If this schedule is for the future (i.e. beyond the current quarter), set isFuture to true.
# If this schedule is for the present or past (i.e. either the current quarter or a prior quarter), set isFuture to false.
isFuture: false


# HOWTO: Set syllabus to an list of syllabi documents. These documents will live in the assets folder.
# Use something like "SSC Syllabus Spring 1812.pdf" and "SSC Syllabus Spring 1812.docx"
syllabus:
-   "SSC Syllabus Winter 2022.pdf"


# HOWTO: Set repertoire to a list of items that compose the program.
#
# A simple piece looks like this:
# -   composer: "Ludwig von Beethoven"
#     title: "Magnificat"
#
# For more complex piece formulae, look at the reference in piece_citation.hbs
#
# IMPORTANT: Exactly one piece MUST be labelled with the &main-piece anchor.
repertoire:
-   &main-piece
    composer: "Gustav Mahler"
    title: "Symphony No. 2"
    commonTitle: "Auferstehung"
    translation: "Resurrection"
-   composer: "Giancarlo Aquilanti"
    title: "Te Deum"
    suffix: "(World Premiere)"
    memberOnly: true
-   composer: "Aaron Copland"
    title: "The Promise of Living"
    memberOnly: true

supplements:
-   type: "section"
    title: "Practice files for Aquilanti's Te Deum"
    contents:
    -   type: "asset"
        title: "Soprano - Section 1"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/aquilanti/soprano/Te Deum 1_Soprano.mp3"
    -   type: "asset"
        title: "Soprano - Section 2"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/aquilanti/soprano/Te Deum 2_Soprano.mp3"
    -   type: "asset"
        title: "Soprano - Section 3"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/aquilanti/soprano/Te Deum 3_Soprano.mp3"
    -   type: "asset"
        title: "Alto - Section 1"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/aquilanti/alto/Te Deum 1_Alto.mp3"
    -   type: "asset"
        title: "Alto - Section 2"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/aquilanti/alto/Te Deum 2_Alto.mp3"
    -   type: "asset"
        title: "Alto - Section 3"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/aquilanti/alto/Te Deum 3_Alto.mp3"
    -   type: "asset"
        title: "Tenor - Section 1"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/aquilanti/tenor/Te Deum 1_Tenor.mp3"
    -   type: "asset"
        title: "Tenor - Section 2"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/aquilanti/tenor/Te Deum 2_Tenor.mp3"
    -   type: "asset"
        title: "Tenor - Section 3"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/aquilanti/tenor/Te Deum 3_Tenor.mp3"
    -   type: "asset"
        title: "Bass - Section 1"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/aquilanti/bass/Te Deum 1_Bass.mp3"
    -   type: "asset"
        title: "Bass - Section 2"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/aquilanti/bass/Te Deum 2_Bass.mp3"
    -   type: "asset"
        title: "Bass - Section 3"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/aquilanti/bass/Te Deum 3_Bass.mp3"
-   type: "section"
    title: "Practice files for Copland's The Promise of Living"
    contents:
    -   type: "asset"
        title: "Instructions - All Sections"
        linkName: "PDF"
        asset: "/assets/performanceSupplements/w2022/audioFiles/copland/Instructions-Copland-The PromiseOfLiving.pdf"
    -   type: "asset"
        title: "Soprano - Track 1"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/copland/soprano/01 Track 1.mp3"
    -   type: "asset"
        title: "Soprano - Track 2"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/copland/soprano/02 Track 2.mp3"
    -   type: "asset"
        title: "Soprano - Closing Announcement"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/copland/soprano/03-ClosingAnnouncement.mp3"
    -   type: "asset"
        title: "Alto - Track 1"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/copland/alto/01 Track 1.mp3"
    -   type: "asset"
        title: "Alto - Track 2"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/copland/alto/02 Track 2.mp3"
    -   type: "asset"
        title: "Alto - Closing Announcement"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/copland/alto/03-ClosingAnnouncement.mp3"
    -   type: "asset"
        title: "Tenor - Track 1"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/copland/tenor/01 Track 1.mp3"
    -   type: "asset"
        title: "Tenor - Track 2"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/copland/tenor/02 Track 2.mp3"
    -   type: "asset"
        title: "Tenor - Closing Announcement"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/copland/tenor/03-ClosingAnnouncement.mp3"
    -   type: "asset"
        title: "Bass - Track 1"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/copland/bass/01 Track 1.mp3"
    -   type: "asset"
        title: "Bass - Track 2"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/copland/bass/02 Track 2.mp3"
    -   type: "asset"
        title: "Bass - Track 3"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/copland/bass/03 Track 3.mp3"
    -   type: "asset"
        title: "Bass - Track 4"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/copland/bass/04 Track 4.mp3"
    -   type: "asset"
        title: "Bass - Closing Announcement"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/copland/bass/05-ClosingAnnouncement.mp3"
-   type: "section"
    title: "Practice files for Mahler's Symphony No. 2"
    contents:
    -   type: "asset"
        title: "Instructions - All Sections"
        linkName: "PDF"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/Instructions-Mahler-Symphony2.pdf"
    -   type: "asset"
        title: "Soprano - Track 1"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/soprano/01 Track 1.mp3"
    -   type: "asset"
        title: "Soprano - Track 2"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/soprano/02 Track 2.mp3"
    -   type: "asset"
        title: "Soprano - Track 3"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/soprano/03 Track 3.mp3"
    -   type: "asset"
        title: "Soprano - Track 4"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/soprano/04 Track 4.mp3"
    -   type: "asset"
        title: "Alto - Track 1"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/alto/01 Track 1.mp3"
    -   type: "asset"
        title: "Alto - Track 2"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/alto/02 Track 2.mp3"
    -   type: "asset"
        title: "Alto - Track 3"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/alto/03 Track 3.mp3"
    -   type: "asset"
        title: "Alto - Track 4"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/alto/04 Track 4.mp3"
    -   type: "asset"
        title: "Tenor - Track 1"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/tenor/01 Track 1.mp3"
    -   type: "asset"
        title: "Tenor - Track 2"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/tenor/02 Track 2.mp3"
    -   type: "asset"
        title: "Tenor - Track 3"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/tenor/03 Track 3.mp3"
    -   type: "asset"
        title: "Tenor - Track 4"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/tenor/04 Track 4.mp3"
    -   type: "asset"
        title: "Tenor - Track 5"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/tenor/05 Track 5.mp3"
    -   type: "asset"
        title: "Tenor - Track 6"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/tenor/06 Track 6.mp3"
    -   type: "asset"
        title: "Tenor - Track 7"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/tenor/07 Track 7.mp3"
    -   type: "asset"
        title: "Tenor - Track 8"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/tenor/08 Track 8.mp3"
    -   type: "asset"
        title: "Bass - Track 1"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/bass/01 Track 1.mp3"
    -   type: "asset"
        title: "Bass - Track 2"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/bass/02 Track 2.mp3"
    -   type: "asset"
        title: "Bass - Track 3"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/bass/03 Track 3.mp3"
    -   type: "asset"
        title: "Bass - Track 4"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/bass/04 Track 4.mp3"
    -   type: "asset"
        title: "Bass - Track 5"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/bass/05 Track 5.mp3"
    -   type: "asset"
        title: "Bass - Track 6"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/bass/06 Track 6.mp3"
    -   type: "asset"
        title: "Bass - Track 7"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/bass/07 Track 7.mp3"
    -   type: "asset"
        title: "Bass - Track 8"
        linkName: "MP3"
        asset: "/assets/performanceSupplements/w2022/audioFiles/mahler/bass/08 Track 8.mp3"

# HOWTO: soloists is a list of individuals and the part in which they solo.
# An individual soloist looks like this:
# -   name: "Plácido Domingo"
#     part: "tenor"
soloists:


# HOWTO: collaborators is a list of groups with whom we collaborate on this program.
# Each entry in the list should be a single string that matches the key field of a record in
# data/collaborators.yml
collaborators:
-   "SSO"


# HOWTO:
# A typical full poster record looks like this:
# poster:
#     pdf: "S2018-Poster.pdf"
#     jpg:
#         file: "S2018-Poster.jpg"
#         width: 492
#         height: 774
#         caption: "Haydn: Missa Sancti Bernardi von Offida (Heiligmesse)"
# Where pdf is a string naming the pdf version of the poster in the quarter's asset directory.
# Where jpg.file is a string naming the jpg version of the poster in the quarter's asset directory.
# Where jpg.width and jpg.height are the pixel width and height, respectively, of the jpg image.
# Where caption is a string to be used as hover text for the poster image when displayed on a web page.
#
# If either a pdf or jpg version of the poster is not available, omit that field completely from the poster
# record.
poster:


# HOWTO: directors is a list of strings that name the directors of this performance
directors:
-   "Paul Phillips"


# HOWTO: instructors is a list of strings that name the instructors for this quarter
instructors:
-   "Stephen M. Sano"


links:


# HOWTO: fees is a record where each field marks a specific fee for the quarter
# Common fees include registration.
fees:
    registration: "$65"


# HOWTO: limits is a record where each field lists the size of a specific limit
# Common limits include membership
limits:
    membership: 220


# HOWTO: preregister is a date in "YYYY-MM-DD" format by which the preregistration mail
# is expected to be sent out.
preregister: "2021-12-01"


# HOWTO: images is a list of image records associated with this quarter's program.
# A typical images entry looks like this:
# -   file: "Joseph_Haydn.jpg"
#     height: 626
#     width: 495
#     caption: "By Thomas Hardy - Unknown, Public Domain"
# Where file is a string naming the image file in the quarter's asset directory.
# Where width and height are the pixel width and height, respectively, of the image.
# Where caption is a string to be used as hover text for the image when displayed on a web page.
#
# If poster files are not present for a quarter, the first image in the image list will be used as a stand-in
# for presentations where a graphic for the quarter is used. If no images and no posters are provided for a
# quarter, the system will use a generic stand-in graphic.
images:


# HOWTO: rehearsals is a list of tutti rehearsals for the quarter
# A rehearsal entry looks like this:
# -   start: YYYY-MM-DD HH:MM:SS -TT
#     end: YYYY-MM-DD HH:MM:SS -TT
#     location: "CRH"
#     event: "Registration and Tutti rehearsal"
# Where start and end are the start time and end time for the rehearsal, respectively. The time is
# specified in YYYY-MM-DD for the date, HH:MM:SS for the local time, and TT is a two digit number that
# specifies the UTC offset for the time zone (N.B. 08 is the UTC offset for Pacific Standard Time and 07
# is the UTC offset for Pacific Daylight Time).
# Where location is a string that matches the key field of a record in data/locations.yml and specifies the
# venue in which the concert will be performed.
# Where event is a string describing the rehearsal. Typical values include "Tutti rehearsal" for most
# rehearsals, and "Registration and Tutti rehearsal" for rehearsals that are preceded by registration
# (typically only the first rehearsal)
#
# IMPORTANT: Exactly one rehearsal entry MUST be labelled with the &first-rehearsal anchor. The rehearsal so
# labelled should be the first rehearsal in this quarter's series, and should include a registration field,
# set to the time at which registration will open and which uses the same time format as the start and end
# fields.
rehearsals:
-   &first-rehearsal
    start: 2022-02-07 19:30:00 -08
    end: 2022-02-07 21:00:00 -08
    location: "CRH"
    event: "Registration and Tutti rehearsal"
    registration: 2022-01-10 18:30:00 -08
-   start: 2022-02-14 19:30:00 -08
    end: 2022-02-14 21:00:00 -08
    location: "CRH"
    event: "Tutti rehearsal"
-   start: 2022-02-21 19:30:00 -08
    end: 2022-02-21 21:00:00 -08
    location: "CRH"
    event: "Tutti rehearsal"
-   start: 2022-02-28 19:30:00 -08
    end: 2022-02-28 21:00:00 -08
    location: "CRH"
    event: "Tutti rehearsal"
-   start: 2022-03-07 19:30:00 -08
    end: 2022-03-07 21:00:00 -08
    location: "CRH"
    event: "Tutti rehearsal"


# HOWTO: sectionals is a list of sectional rehearsals for the quarter
# A sectional entry looks like this:
# -   start: YYYY-MM-DD HH:MM:SS -TT
#     end: YYYY-MM-DD HH:MM:SS -TT
#     location: "Braun 103"
#     event: "Women's Sectional (optional, but warmly encouraged)"
# Where start and end are the start time and end time for the rehearsal, respectively. The time is
# specified in YYYY-MM-DD for the date, HH:MM:SS for the local time, and TT is a two digit number that
# specifies the UTC offset for the time zone (N.B. 08 is the UTC offset for Pacific Standard Time and 07
# is the UTC offset for Pacific Daylight Time).
# Where location is a string that matches the key field of a record in data/locations.yml and specifies the
# venue in which the concert will be performed.
# Where event is a string describing the rehearsal. Typical values include "Men's Sectional (optional, but
# warmly encouraged)" and "Women's Sectional (optional, but warmly encouraged)", as appropriate.
sectionals:


# HOWTO: dresses is a list of dress rehearsals
# A dress rehearsal entry looks like this:
# -   start: YYYY-MM-DD HH:MM:SS -TT
#     location: "Bing"
# Where start is the starting time for the dress rehearsal. The time is specified in YYYY-MM-DD for the date,
# HH:MM:SS for the local time, and TT is a two digit number that specifies the UTC offset for the time
# zone (N.B. 08 is the UTC offset for Pacific Standard Time and 07 is the UTC offset for Pacific Daylight
# Time).
# Where location is a string that matches the key field of a record in data/locations.yml and specifies the
# venue in which the dress rehearsal will take place.
dresses:
-   start: 2022-05-09 19:00:00 -07
    end: 2022-05-09 22:00:00 -07
    location: "Bing"
    note: "(Mahler)"
-   start: 2022-05-12 19:00:00 -07
    end: 2022-05-12 22:00:00 -07
    location: "Bing"
    note: "(Mahler)"
-   start: 2022-05-17 19:00:00 -07
    end: 2022-05-17 22:00:00 -07
    location: "Bing"
    note: "(Aquilanti/Copland)"
-   start: 2022-05-22 10:00:00 -07
    end: 2022-05-22 13:00:00 -07
    location: "Bing"
    note: "(Aquilanti/Copland)"


# HOWTO: concerts is a list of concert dates
# A concert entry looks like this:
# -   start: YYYY-MM-DD HH:MM:SS -TT
#     call: YYYY-MM-DD HH:MM:SS -TT
#     location: "Bing"
# Where start and call are the curtain time and call time for the concert, respectively. The time is
# specified in YYYY-MM-DD for the date, HH:MM:SS for the local time, and TT is a two digit number that
# specifies the UTC offset for the time zone (N.B. 08 is the UTC offset for Pacific Standard Time and 07
# is the UTC offset for Pacific Daylight Time).
# Where location is a string that matches the key field of a record in data/locations.yml and specifies the
# venue in which the concert will be performed.
#
# IMPORTANT: Exactly one concert entry MUST be labelled with the &first-concert anchor. The concert so
# labelled should be the first concert in this quarter's series.
concerts:
-   &first-concert
    start: 2022-05-13 19:30:00 -07
    call: 2022-05-13 18:30:00 -07
    location: "Bing"
    note: "(Mahler)"
-   start: 2022-05-15 14:30:00 -07
    call: 2022-05-13 13:30:00 -07
    location: "Bing"
    note: "(Mahler)"
-   start: 2022-05-22 14:30:00 -07
    call: 2022-05-22 13:30:00 -07
    location: "Bing"
    note: "(Aquilanti/Copland)"
    memberOnly: true
-   start: 2022-05-24 19:30:00 -07
    call: 2022-05-24 18:30:00 -07
    location: "Bing"
    note: "(Aquilanti/Copland)"
    memberOnly: true

# HOWTO: events is a list of events associated with the quarter but outside of the performance or rehearsal
# schedule.
# An individual event looks like this:
# -   start: YYYY-MM-DD HH:MM:SS -TT
#     location: "MemChu"
#     title: "Messiah Sing/Play Along"
# Where location is a string that matches the key field of a record in data/locations.yml and specifies the
# venue in which the event will take place.
# Where title is a string that labels the event itself.
# Where start is the starting time event. The time is specified in YYYY-MM-DD for the date, HH:MM:SS for the
# local time, and TT is a two digit number that specifies the UTC offset for the time zone (N.B. 08 is
# the UTC offset for Pacific Standard Time and 07 is the UTC offset for Pacific Daylight Time).
events:
#-   start: 2022-05-14 19:30:00 -07
#    call: 2022-05-14 18:30:00 -07
#    location: "Bing"
#    title: "Concert #2 for Mahler: Symphony No. 2 (not yet confirmed)"
#-   start: 2022-05-15 14:30:00 -07
#    call: 2022-05-15 13:30:00 -07
#    location: "Bing"
#    title: "Concert #2 for Mahler: Symphony No. 2 (not yet confirmed)"
#-   start: 2022-05-17 19:00:00 -07
#    location: "Bing"
#    title: "Dress rehearsal for Aquilanti: Te Deum"
#-   start: 2022-05-22 10:00:00 -07
#    location: "Bing"
#    title: "Dress rehearsal for Aquilanti: Te Deum"
#-   start: 2022-05-22 14:30:00 -07
#    call: 2022-05-22 13:30:00 -07
#    location: "Bing"
#    title: "Concert #1 for Aquilanti: Te Deum"
#-   start: 2022-05-24 19:30:00 -07
#    call: 2022-05-24 18:30:00 -07
#    location: "Bing"
#    title: "Concert #2 for Aquilanti: Te Deum"


# HOWTO: description contains HTML that is included on pages which need a synopsis of
# the concert. The home page is a typical location where such text is used.
description: >
    <p>
        Due to recently updated COVID-19 mitigation policies and their impact on the scheduling of in-person rehearsals
        for the first portion of winter quarter 2022, rehearsals will begin on Monday, 7 February 2022.
        The winter quarter concerts have been moved to spring quarter and these will take place in addition
        to the previously-scheduled spring quarter concerts, resulting in two pairs of concerts being presented
        in spring quarter.
    </p>

# HOWTO: main_piece, first_rehearsal, and first_concert are standard fields that should not be edited
main_piece: *main-piece
first_rehearsal: *first-rehearsal
first_concert: *first-concert
---
{{> schedule_layout }}
