/**********************************************************************************
IE7 Global-level override styles (involving search box, navbar, and expanded drawer)
***********************************************************************************/

.expanded li { padding-bottom: 5px; list-style-image:url("/images/raquo_ie.gif"); list-style-position:inside;}
.expanded li a { margin-left: 5px;}

#content_center { padding-right: 0; width: 577px; }
#content_center h2 { width: 577px; }

#sidebar { padding-left: 10px; margin-left: 0;}
#events { }
#events img { margin-top: -15px; }

