/**********************************************************************************
IE6 Primary-level (homepage) override styles 
***********************************************************************************/
/***********************
Sidebars
***********************/
#sidebar { padding-left: 10px; margin-left: 0; }

/***********************
Main Content
***********************/
#content_center { margin:0; padding-left: 15px; margin-right: 0; padding-right: 0; }
#seal { margin-right: 5px; margin-top: 10px; }

/***********************
Events/Sports
***********************/
#events img { margin-top: -15px; }
#sports img { margin-top: -15px; }




