{%- assign piece = site.pieces | where: "key",page.piece_ref | first -%}
{% assign albums = site.albums | where: "piece_ref",page.piece_ref
							   | sort: 'rating'
							   | reverse %}
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>For Your Listening Pleasure - {% include piece_citation.html piece=piece style="plain" %}</title>
<!-- Base stylesheet which imports typography, resets, header/footer layout, and other miscellaneous styles -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{% link css/base.css %}">
<!-- Page specific stylesheet for middle layout section (sidebars and content_main) -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{% link css/tertiary.css %}">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{% link css/custom.css %}">
<script src="{{ site.baseurl }}{% link js/mootools.js %}" type="text/javascript"></script>
<script src="{{ site.baseurl }}{% link js/mediabox.js %}" type="text/javascript"></script>
<script src="{{ site.baseurl }}{% link js/functions.js %}" type="text/javascript"></script>
<script src="{{ site.baseurl }}{% link js/emus.js %}" type="text/javascript"></script>
<!--[if IE 6]>
	<style type="text/css">
		@import url(css/ie/ie_global.css);
		@import url(css/ie/ie_tertiary.css);
	</style>
<![endif]-->
<!--[if IE 7]>
	<style type="text/css">
		@import url(css/ie/ie7.css);
	</style>
<![endif]-->
</head>
<body>
<!-- TemplateBeginEditable name="top" -->
<!-- TemplateEndEditable -->
<div class="skip">
	<a href="#content_main">Skip to Content</a>
</div>
<div id="container">
	<div id="container_header">
		<div id="header">
			{% include logo_ssc.html %}
			<div id="container_search">
				<div id="search">
					<form action="http://www.stanford.edu/hpcgi/page-route.cgi" id="searchformhome" method="post">
						<div id="search_filters">
							<input name="search_type" id="web" type="radio" value="web" checked="checked">
							<label id="web_label" for="web" style="">Web</label>
							<input name="search_type" id="people" type="radio" value="people">
							<label id="people_label" for="people" style="">People</label>
						</div>
						<div class="searchbox">
							<input onFocus="this.value=''" type="text" value="Search…" name="search_string" id="search_string">
							<button type="submit" value="Submit" class="search_button">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% include nav_topic.html %}
	<div id="title">
		<h1>
			<!-- TemplateBeginEditable name="Page Title" -->
			For Your Listening Pleasure - {% include piece_citation.html piece=piece %}
			<!-- TemplateEndEditable -->
		</h1>
	</div>
	<div id="sidebar_introduction">
		<!-- TemplateBeginEditable name="sidebar_introduction" -->
		<div id="sidebar_navigation">
			<h2>Contents</h2>
			<ul>
				{% for a in albums %}
				<li><a href="#{{a.director | slugify}}">{{a.director}}</a></li>
				{% endfor %}
			</ul>
		</div>
		<!-- TemplateEndEditable -->
	</div>
	<div id="content_main">
		<div id="breadcrumb">
			<p>
				<!-- TemplateBeginEditable name="breadcrumb" -->
				<a href="{{site.baseurl}}{% link index.html %}">Symphonic Chorus Home</a>
				&raquo; 
				<a href="{{site.baseurl}}{% link fylp.html %}">For Your Listening Pleasure</a>
				&raquo;
                {{piece.title}}
				<!-- TemplateEndEditable -->
			</p>
		</div>
		<!-- TemplateBeginEditable name="content_main" -->
		<!--Optional On this page Start-->
		<!--
		<div id="onthispage">
		</div>
		-->
		<!--Optional On this page End-->    
		<h2>{% include piece_citation.html piece=piece %}</h2>
		{{page.content}}
		{% for a in albums %}
		<h3 id="{{a.director | slugify}}">{{a.director}}</h3>
		<div class="pgraph">
			{% if a.image %}
				{% assign image_file=a.image.file | prepend: "images/fylp/" %}
				{% assign caption=a.director | append: ", "
				                             | append: a.label %}
				{% include lightbox.html image=image_file
										style="leadin"
										width=a.image.width
										height=a.image.height
										caption=caption
										img_width=109 %}
			{% endif %}
			{{ a.content }}
		</div>
		{% endfor %}
		<!-- TemplateEndEditable -->
	</div>
	<div id="sidebar_supplementary">
		<!-- TemplateBeginEditable name="sidebar_supplementary" -->
		<!-- TemplateEndEditable -->
		<div>
			{% include lightbox.html image="images/graphics/Sano.jpg"
									width=220
									height=291
									caption="Director of Music and Conductor Stephen Sano"
									img_width=149 %}
		</div>
        <div id="performances">
            <h2>Performances</h2>
			{% assign p_list = site.data.utils.empty_array %}
			{% for p in site.programs %}
				{% assign r = p.repertoire | where: "ref",page.piece_ref %}
			    {% if r.size > 0 %}
					{% assign p_list = p_list | unshift: p %}
			    {% endif %}
			{% endfor %}
			{% for p in p_list %}
            	<h3><a href="{{ site.baseurl }}{% link performances.html %}#{{ p.label }}">{{p.quarter}}</a></h3>
            {% endfor %}
            {% for p in page.performances %}
            	<h3><a href="{{ site.baseurl }}{% link performances.html %}#{{ p.anchor }}">{{p.name}}</a></h3>
            {% endfor %}
        </div>
	</div>
	{% include footer.html %}
</div>
<!-- TemplateBeginEditable name="bottom" -->
<!-- TemplateEndEditable -->
</body>
</html>
