---
title: "Contact Information"

logo_include: "logo_ssc"

body_class: "tertiary"

stylesheets:
-   "tertiary"

scripts:

---
{{#extend "default_layout" }}
	{{#content "introduction"}}
		<div id="sidebar_navigation">
			<h2>Contact</h2>
			<p>
				For information about the chorus or auditions, contact {{> people_citation person='director' subject="Re: Information about SSC or auditions" }}.
			</p>
		</div>
	{{/content}}

	{{#content "sidebar"}}
        <div id="related_pages">
            {{> about_us }}
        </div>
	{{/content}}

	{{#content "main-content"}}
		<div id="breadcrumb">
			<p>
				<!-- TemplateBeginEditable name="breadcrumb" -->
				<a href="/index.html">Symphonic Chorus Home</a>
				» {{ this.title }}
				<!-- TemplateEndEditable -->
			</p>
		</div>
		<!-- TemplateBeginEditable name="content_main" -->
		<!--center-->
		<p>
			<img src="/images/graphics/SteveSano2014.jpg" width="323" height="201" alt="Sano conducting rehearsal">
		</p>
		<!--center-->
		<!-- TemplateEndEditable --> 
	{{/content}}
{{/extend}}