@import 'base';

.main {
    h3 {
        font-family: $font-family-serif;
        font-size: 0.8594rem;
        color: black;
    }

    p {
        font-family: $font-family-sanserif;
        color: #333;
        line-height: 1.3333em;
        margin-bottom: 5px;
    }

    .heraldImage {
        float: left;
        margin-right: 0.63em;
    }
}

.hangingIndent {
    float: left;
    margin-right: 0.63em;
}

.sidebar {
    ul {
        margin: 0px 0px 15px 0px;
        padding: 0px 0px 5px 0px;
    }

    li {
        list-style-image: url(../public/images/raquo.gif);
        line-height: 1.1667em;
        font-size: 0.8021rem;
        margin: 0px 0px 0px 15px;
        padding: 0px 0px 5px 0px;
    }    
}

.events {
    .date {
        width: 22px;
        padding: 0 10px 0 10px;
        text-align: center;
    }

    .day {
        font-family: $font-family-serif;
        font-size: 1.5rem;
        line-height: 1.125em;
        color: $color-warmgray90;
        display: block;
    }

    .month {
        font-family: $font-family-serif;
        font-size: 0.8750rem;
        line-height: 1.125em;
        color: $color-red;
        display: block;
    }

    .eventList {
        margin-left: 42px;
        margin-top: -43px;
        border-left: 1px solid $color-warmgray10;
        padding-left: 10px;
        font-size: 0.8021rem;
        line-height: 0.8021rem;

        p {
            color: $color-warmgray90;
            line-height: 1.25em;
            margin-bottom: 7px;
        }
    }
}

.performanceDescription {
}

.ticketLinks {
    display: none;
}
