@import 'base';

.content {
    h2 {
        font-family: $font-family-serif;
        font-size: 1.2031rem;
        color: $color-red;
        margin: 20px 0px 5px 0px;
        letter-spacing: 2px;
        line-height: 1.2em;
        text-transform: none;
    }

    h3 {
        font-family: $font-family-serif;
        font-size: 1.1230rem;
		color: #565245;
        margin: 20px 0px 5px 0px;
    }

    p {
        font-family: $font-family-sanserif;
        margin: 0 0 0.8em 0;
        color: #333;
        line-height: 1.3333em;
    }

    ul {
        list-style: square;
        margin: 0.63em 0 0.63em 40px;
    }

    li {
        line-height: 1.3333em;
    }
}

.introduction {
    & > div {
        margin-bottom: 3em;
    }

    p {
        padding-bottom: 10px;
    }
}

.sidebar {
    ul {
        margin: 0px 0px 15px 0px;
        padding: 0px 0px 5px 0px;
    }

    li {
        list-style-image: url(../public/images/raquo.gif);
        line-height: 1.1667em;
        font-size: 0.8021rem;
        margin: 0px 0px 0px 15px;
        padding: 0px 0px 5px 0px;
    }

    p {
        line-height: 1.3333em;
        margin: 0.63em 0 20px 0;
    }
}