@import 'base';

.content {
    h2 {
        font-family: $font-family-serif;
        font-size: 1.5em;
        margin: 20px 0px 5px 0px;
        letter-spacing: 2px;
        line-height: 1.2em;
        text-transform: none;
        color: $color-red;
    }

    h3 {
        font-size: 1.1230rem;
        font-family: $font-family-serif;
        font-weight: normal;
        color: $color-warmgray90;

        margin-bottom: 5px;
		padding: 3px 0 0 0;
    }

    p {
        font-family: $font-family-sanserif;
        color: #333;
        margin: 0 0 0.8em 0;
        line-height: 1.3333em;
    }

    ul {
        list-style: square;
        margin: 0.63em 0 0.63em 40px;

        li {
            line-height: 1.3333em;
        }
    }
}
