@import 'base';

//
// Layout
//
.seal {
	height: 120px;
	width: 135px;
	margin-left: 15px;
	margin-top: 25px;
	clear: both;
}

//
// Appearance
//
.seal {
    opacity: 0.3;
    filter: alpha(opacity=30);
    background-image: url("../public/images/M@S-roundedges.gif");
	background-repeat: no-repeat;
}
