/******************************
Lists and other tags used for the HowTo documents
**********************************/
ol.default {
	list-style: decimal;
}
ol.default li {
	margin: 0 0 1em 0;
}
ol.alpha {
	list-style: lower-alpha;
}
ol.alpha li {
	margin: 0 0 1em 2em;
}
ul.default {
	list-style-type: circle;
}
ul.default li {
	margin: 0 0 1em 0;
}
dl.inline {
	margin: 1em 0 1em 0;
}
dl.inline dt {
	float: left;
	font-weight: bold;
	width: 9em;
	margin: 0 0 1em 0;
}
dl.inline dd {
	text-align: left;
	padding-left: 10em;
	initial: -10em;
	margin: 0 0 1em 0;
}
pre.default {
	margin: 1em 0 1em 1em;
}
span.smallcaps {
	font-variant: small-caps;
}
span.small {
	font-size: 1em;
}
span.instruction {
	color: red;
}
