---
---
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>For Your Listening Pleasure - Bruckner Psalm 150</title>
<!-- Base stylesheet which imports typography, resets, header/footer layout, and other miscellaneous styles -->
<link rel="stylesheet" type="text/css" href="../css/base.css">
<!-- Page specific stylesheet for middle layout section (sidebars and content_main) -->
<link rel="stylesheet" type="text/css" href="../css/tertiary.css">
<link rel="stylesheet" type="text/css" href="../css/custom.css">
<script src="../js/mootools.js" type="text/javascript"></script>
<script src="../js/mediabox.js" type="text/javascript"></script>
<script src="../js/functions.js" type="text/javascript"></script>
<script src="../js/emus.js" type="text/javascript"></script>
<!--[if IE 6]>
	<style type="text/css">
		@import url(css/ie/ie_global.css);
		@import url(css/ie/ie_tertiary.css);
	</style>
<![endif]-->
<!--[if IE 7]>
	<style type="text/css">
		@import url(css/ie/ie7.css);
	</style>
<![endif]-->
</head>
<body>
<!-- TemplateBeginEditable name="top" -->
<!-- TemplateEndEditable -->
<div class="skip">
	<a href="#content_main">Skip to Content</a>
</div>
<div id="container">
	<div id="container_header">
		<div id="header">
			{% include logo_ssc.html %}
			<div id="container_search">
				<div id="search">
					<form action="http://www.stanford.edu/hpcgi/page-route.cgi" id="searchformhome" method="post">
						<div id="search_filters">
							<input name="search_type" id="web" type="radio" value="web" checked="checked">
							<label id="web_label" for="web" style="">Web</label>
							<input name="search_type" id="people" type="radio" value="people">
							<label id="people_label" for="people" style="">People</label>
						</div>
						<div class="searchbox">
							<input onFocus="this.value=''" type="text" value="Search…" name="search_string" id="search_string">
							<button type="submit" value="Submit" class="search_button">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="nav_topic">
		<!-- TemplateBeginEditable name="nav_topic" -->
		<ul>
			<li><a href="../index.html">Symphonic Chorus Home</a></li>
			<li><a href="../about.html">About the Chorus</a></li>
			<li><a href="../performances.html">Performances</a></li>
			<li><a href="../MemberPage.html">Member Information</a></li>
			<li><a href="../contact.html">Contact</a></li>
		</ul>
		<!-- TemplateEndEditable -->
	</div>
	<div id="title">
		<h1>
			<!-- TemplateBeginEditable name="Page Title" -->
			For Your Listening Pleasure - Bruckner <em>Psalm 150</em>
			<!-- TemplateEndEditable -->
		</h1>
	</div>
	<div id="sidebar_introduction">
		<!-- TemplateBeginEditable name="sidebar_introduction" -->
		<div id="sidebar_navigation">
			<h2>Contents</h2>
			<ul>
				<li><a href="#rilling">Rilling</a></li>
				<li><a href="#jochum">Jochum</a></li>
				<li><a href="#best">Best</a></li>
			</ul>
		</div>
		<!-- TemplateEndEditable -->
	</div>
	<div id="content_main">
		<div id="breadcrumb">
			<p>
				<!-- TemplateBeginEditable name="breadcrumb" -->
				<a href="../index.html">Symphonic Chorus Home</a>
				&raquo; 
				<a href="../fylp.html">For Your Listening Pleasure</a>
				&raquo;
                Bruckner <em>Psalm 150</em>
				<!-- TemplateEndEditable -->
			</p>
		</div>
		<!-- TemplateBeginEditable name="content_main" -->
		<!--Optional On this page Start-->
		<!--
		<div id="onthispage">
		</div>
		-->
		<!--Optional On this page End-->
		<h2>Bruckner <em>Psalm 150</em></h2>
		<p>Bruckner's Psalm 150 is relative easy to find, and the piece(s) it's coupled with on different CDs might well determine which version you wish to purchase.</p>
		<h3 id="rilling">Helmuth Rilling</h3>
		<div class="pgraph">
            <!--
			<a class="photo pgraph" href="../images/fylp/claudio-abbado-mendelssohn-symphonies.jpg" title="Claudio Abbado, Deutsche Gramophon 471 467-2"  rel="mediabox[500 500]">
				<img src="../images/fylp/claudio-abbado-mendelssohn-symphonies.jpg" width="109" height="109" alt="Claudio Abbado, Deutsche Gramophon 471 467-2">
			</a>
            -->
			<p>
				Wonderfully successful (as would be expected!) is Helmuth Rilling conducting the Gächinger Kantorei Stuttgart and the Bach-Collegium Stuttgart (Hänssler 98.119, coupled with Bruckner's Mass No. 2 in e minor and the Te Deum). The soprano tone can be a bit "screamy" above the staff when singing at big volumes (almost unavoidable when singing sustained high Bb above full orchestra!), but the drama is winning—there's a reason we say "Rilling is thrilling"! And nobody controls those tutti luftpause like Maestro Rilling.
            </p>
        </div>
		<h3 id="jochum">Eugen Jochum</h3>
		<div class="pgraph">
            <p>
                One of the classic recordings of Bruckner's Psalm 150 is Eugen Jochum conducting the Chor der Deutschen Oper Belin and the Berlin Philharmoniker (Deutsche Grammophon 457 743-2, mid-priced and coupled with the Te Deum and a generous selection of Bruckner's a cappella motets). The choral singing is vintage; rich, full-throated, colorful—and often without a real sense of "blend" (neither vowel, vibrato, or timbre). In fact, in some of the softer passages, the competing vibratos rather obscure the pitch. But, this is still a wonderful performance—passionate and committed. Recorded in 1965, the sound also vintage DG: warm and detailed analog with a terrific sense of space and depth.
            </p>
        </div>
		<h3 id="best">Matthew Best</h3>
		<div class="pgraph">
            <p>
                If it's clean you want, it's clean you get with Matthew Best conducting the Corydon Singers and Orchestra (Hyperion CDA66599). This is British Cathedral choir perfection (though a mixed choir of all mature voices) delivering a controlled but never staid performance. Wonderful choral tone, exacting attention to detail in diction and ensemble, and the best recorded sound of the three Bruckner CDs on this list.
			</p>
		</div>
		<!-- TemplateEndEditable -->
	</div>
	<div id="sidebar_supplementary">
		<!-- TemplateBeginEditable name="sidebar_supplementary" -->
		<!-- TemplateEndEditable -->
		<div>
			<a class="photo" href="../images/graphics/Sano.jpg" title="Director of Music and Conductor Stephen Sano" rel="mediabox[220 291]">
				<img src="../images/graphics/Sano.jpg" alt="Director of Music and Conductor Stephen Sano" class="framed" width="149">
			</a>
		</div>
		<div id="performances">
            <h3><a href="../performances.html#f2015">Fall 2015</a></h3>
            <h3><a href="../performances.html#f2004">Fall 2004</a></h3>
        </div>
	</div>
	{% include footer.html %}
</div>
<!-- TemplateBeginEditable name="bottom" -->
<!-- TemplateEndEditable -->
</body>
</html>
