---
---
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>For Your Listening Pleasure - Mendelssohn Symphony No. 2 "Lobgesang"</title>
<!-- Base stylesheet which imports typography, resets, header/footer layout, and other miscellaneous styles -->
<link rel="stylesheet" type="text/css" href="../css/base.css">
<!-- Page specific stylesheet for middle layout section (sidebars and content_main) -->
<link rel="stylesheet" type="text/css" href="../css/tertiary.css">
<link rel="stylesheet" type="text/css" href="../css/custom.css">
<script src="../js/mootools.js" type="text/javascript"></script>
<script src="../js/mediabox.js" type="text/javascript"></script>
<script src="../js/functions.js" type="text/javascript"></script>
<script src="../js/emus.js" type="text/javascript"></script>
<!--[if IE 6]>
	<style type="text/css">
		@import url(css/ie/ie_global.css);
		@import url(css/ie/ie_tertiary.css);
	</style>
<![endif]-->
<!--[if IE 7]>
	<style type="text/css">
		@import url(css/ie/ie7.css);
	</style>
<![endif]-->
</head>
<body>
<!-- TemplateBeginEditable name="top" -->
<!-- TemplateEndEditable -->
<div class="skip">
	<a href="#content_main">Skip to Content</a>
</div>
<div id="container">
	<div id="container_header">
		<div id="header">
			{% include logo_ssc.html %}
			<div id="container_search">
				<div id="search">
					<form action="http://www.stanford.edu/hpcgi/page-route.cgi" id="searchformhome" method="post">
						<div id="search_filters">
							<input name="search_type" id="web" type="radio" value="web" checked="checked">
							<label id="web_label" for="web" style="">Web</label>
							<input name="search_type" id="people" type="radio" value="people">
							<label id="people_label" for="people" style="">People</label>
						</div>
						<div class="searchbox">
							<input onFocus="this.value=''" type="text" value="Search…" name="search_string" id="search_string">
							<button type="submit" value="Submit" class="search_button">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="nav_topic">
		<!-- TemplateBeginEditable name="nav_topic" -->
		<ul>
			<li><a href="../index.html">Symphonic Chorus Home</a></li>
			<li><a href="../about.html">About the Chorus</a></li>
			<li><a href="../performances.html">Performances</a></li>
			<li><a href="../MemberPage.html">Member Information</a></li>
			<li><a href="../contact.html">Contact</a></li>
		</ul>
		<!-- TemplateEndEditable -->
	</div>
	<div id="title">
		<h1>
			<!-- TemplateBeginEditable name="Page Title" -->
			For Your Listening Pleasure - Mendelssohn <em>Symphony No. 2, “Lobgesang” </em>
			<!-- TemplateEndEditable -->
		</h1>
	</div>
	<div id="sidebar_introduction">
		<!-- TemplateBeginEditable name="sidebar_introduction" -->
		<div id="sidebar_navigation">
			<h2>Contents</h2>
			<ul>
				<li><a href="#abbado">Claudio Abbado</a></li>
				<li><a href="#dohn">Christoph von Dohn&aacute;nyi</a></li>
				<li><a href="#chailly">Ricardo Chailly</a></li>
			</ul>
		</div>
		<!-- TemplateEndEditable -->
	</div>
	<div id="content_main">
		<div id="breadcrumb">
			<p>
				<!-- TemplateBeginEditable name="breadcrumb" -->
				<a href="../index.html">Symphonic Chorus Home</a>
				&raquo; 
				<a href="../fylp.html">For Your Listening Pleasure</a>
				&raquo;
                Mendelssohn <em>Symphony No. 2</em>
				<!-- TemplateEndEditable -->
			</p>
		</div>
		<!-- TemplateBeginEditable name="content_main" -->
		<!--Optional On this page Start-->
		<!--
		<div id="onthispage">
		</div>
		-->
		<!--Optional On this page End-->
		<h2>Mendelssohn <em>Symphony No. 2, "Lobgesang"</em></h2>
		<p>There are several fine recordings available of this wonderful work. Among my favorites are:</p>
		<h3 id="abbado">Claudio Abbado</h3>
		<div class="pgraph">
			<a class="photo pgraph" href="../images/fylp/claudio-abbado-mendelssohn-symphonies.jpg" title="Claudio Abbado, Deutsche Gramophon 471 467-2"  rel="mediabox[500 500]">
				<img src="../images/fylp/claudio-abbado-mendelssohn-symphonies.jpg" width="109" height="109" alt="Claudio Abbado, Deutsche Gramophon 471 467-2">
			</a>
			<p>
				Claudio Abbado conducting the London Symphony Orchestra and Chorus with soloists Elizabeth Connell and Karita Mattila (sopranos) and Hans Peter Blochwitz (tenor). Expansive and grand in conception. Excellent choral singing&mdash;the intimacy and reverence of the a cappella chorale "Nun danket alle Gott" is stunning. It is part of a 4-CD box set of all 5 Mendelssohn symphonies plus 7 overtures. All available at mid-price on Deutsche Gramophon (471 467-2).
				The entire set is terrific.
			</p>
		</div>
		<h3 id="shaw">Christoph von Dohn&aacute;nyi</h3>
		<div class="pgraph">
			<a class="photo pgraph" href="../images/fylp/christoph-dohnanyi-mendelssohn-symphonies.jpg" title="Christoph von Dohn&aacute;nyi, London/Decca 289 460 236-2" rel="mediabox[301 301]">    
				<img src="../images/fylp/christoph-dohnanyi-mendelssohn-symphonies.jpg" width="109" height="109" alt="Christoph von Dohn&aacute;nyi, London/Decca 289 460 236-2">
			</a>
			<p>
				Christoph von Dohnányi conducting the Vienna Philharmonic with the Vienna Singverein. Sonia Ghazarian and Edita Gruberova, sopranos and Werner Krenn, tenor. More taut than Abbado's reading. The choral singing is in the typical Vienna Singverein style&mdash;dramatic, colorful, and rich in tone if not always as polished in ensemble and cohesion as the LSO Chorus (above). Part of a budget-priced 2-CD set that also includes the Mendelssohn's 1st Symphony and his cantata "Die erste Walpurgisnacht." London/Decca 289 460 236-2.
			</p>
		</div>
		<h3 id="chailly">Riccardo Chailly</h3>
		<div class="pgraph">
			<a class="photo pgraph" href="../images/fylp/riccardo-chailly-mendelssohn-symphonies.jpg" title="Riccardo Chailly, Philips 456 071-2" rel="mediabox[300 300]">
				<img src="../images/fylp/riccardo-chailly-mendelssohn-symphonies.jpg" width="109" height="109" alt="Riccardo Chailly, Philips 456 071-2">
			</a>
			<p>
				Riccardo Chailly conducting the London Philharmonic Orchestra and Choir. Margaret Price and Sally Burgess, sopranos. Siegfried Jerusalem, tenor. Refined, with no lack of strength when needed. In the a cappella passages, the choral tone suffers some from lack of unity. The organ is more present than in either of the above recordings. Part of a budget-priced 2-CD set that also includes Mendelssohn's 1st &amp; 3rd symphonies as well as the Hebrides Overture. Philips 456 071-2.
			</p>
		</div>
		<!-- TemplateEndEditable -->
	</div>
	<div id="sidebar_supplementary">
		<!-- TemplateBeginEditable name="sidebar_supplementary" -->
		<!-- TemplateEndEditable -->
		<div>
			<a class="photo" href="../images/graphics/Sano.jpg" title="Director of Music and Conductor Stephen Sano" rel="mediabox[220 291]">
				<img src="../images/graphics/Sano.jpg" alt="Director of Music and Conductor Stephen Sano" class="framed" width="149">
			</a>
		</div>
		<div id="performances">
            <h3><a href="../performances.html#f2014">Fall 2014</a></h3>
            <h3><a href="../performances.html#s2004">Spring 2004</a></h3>
        </div>
	</div>
	{% include footer.html %}
</div>
<!-- TemplateBeginEditable name="bottom" -->
<!-- TemplateEndEditable -->
</body>
</html>
