---
---
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>For Your Listening Pleasure - Vaughan Williams Hodie</title>
<!-- Base stylesheet which imports typography, resets, header/footer layout, and other miscellaneous styles -->
<link rel="stylesheet" type="text/css" href="../css/base.css">
<!-- Page specific stylesheet for middle layout section (sidebars and content_main) -->
<link rel="stylesheet" type="text/css" href="../css/tertiary.css">
<link rel="stylesheet" type="text/css" href="../css/custom.css">
<script src="../js/mootools.js" type="text/javascript"></script>
<script src="../js/mediabox.js" type="text/javascript"></script>
<script src="../js/functions.js" type="text/javascript"></script>
<script src="../js/emus.js" type="text/javascript"></script>
<!--[if IE 6]>
	<style type="text/css">
		@import url(css/ie/ie_global.css);
		@import url(css/ie/ie_tertiary.css);
	</style>
<![endif]-->
<!--[if IE 7]>
	<style type="text/css">
		@import url(css/ie/ie7.css);
	</style>
<![endif]-->
</head>
<body>
<!-- TemplateBeginEditable name="top" -->
<!-- TemplateEndEditable -->
<div class="skip">
	<a href="#content_main">Skip to Content</a>
</div>
<div id="container">
	<div id="container_header">
		<div id="header">
			{% include logo_ssc.html %}
			<div id="container_search">
				<div id="search">
					<form action="http://www.stanford.edu/hpcgi/page-route.cgi" id="searchformhome" method="post">
						<div id="search_filters">
							<input name="search_type" id="web" type="radio" value="web" checked="checked">
							<label id="web_label" for="web" style="">Web</label>
							<input name="search_type" id="people" type="radio" value="people">
							<label id="people_label" for="people" style="">People</label>
						</div>
						<div class="searchbox">
							<input onFocus="this.value=''" type="text" value="Search…" name="search_string" id="search_string">
							<button type="submit" value="Submit" class="search_button">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% include nav_topic.html %}
	<div id="title">
		<h1>
			<!-- TemplateBeginEditable name="Page Title" -->
			For Your Listening Pleasure - Vaughan Williams <em>Hodie</em>
			<!-- TemplateEndEditable -->
		</h1>
	</div>
	<div id="sidebar_introduction">
		<!-- TemplateBeginEditable name="sidebar_introduction" -->
		<div id="sidebar_navigation">
			<h2>Contents</h2>
			<ul>
				<li><a href="#willcock">David Willcock</a></li>
				<li><a href="#hickox">Richard Hickox</a></li>
			</ul>
		</div>
		<!-- TemplateEndEditable -->
	</div>
	<div id="content_main">
		<div id="breadcrumb">
			<p>
				<!-- TemplateBeginEditable name="breadcrumb" -->
				<a href="../index.html">Symphonic Chorus Home</a>
				&raquo; 
				<a href="../fylp.html">For your listening Pleasure</a> 
				&raquo;
                Vaughan Williams - Hodie
				<!-- TemplateEndEditable -->
			</p>
		</div>
		<!-- TemplateBeginEditable name="content_main" -->
		<!--Optional On this page Start-->
		<!--
		<div id="onthispage">
		</div>
		-->
		<!--Optional On this page End-->
		<p>At present, there are only two recordings available of Vaughan Williams <em>Hodie</em></p>
		<h3 id="willcock">David Willcock</h3>
		<div class="pgraph">
			<a class="photo pgraph" href="../images/fylp/david-willcock-vaughan-williams-hodie-fantasia-on-christmas-carols.jpg" title="David Willcock, EMI 0724356742727"  rel="mediabox[300 300]">
				<img src="../images/fylp/david-willcock-vaughan-williams-hodie-fantasia-on-christmas-carols.jpg" width="109" height="103" alt="David Willcock, EMI 0724356742727">
			</a>
			<p>
				David Willcock's famous 1966 version with the Bach Choir,
				the Guildford Cathedral Choir, and the London Symphony Orchestra
				(EMI 0724356742727, also downloadable from amazon.com)
				is still the version to have.
				The team of soloists (Janet Baker, mezzo; Richard Lewis, tenor;
				and John Shirley-Quirk, bass) is stunning.
				Though the part Baker sings was written for a soprano,
				she sings with a winning radiance and innocence that is incomparable.
				The orchestra and chorus are both stunning and the recording is vintage,
				warm EMI from the 60's&mdash;a strong argument for the attractiveness
				of fine analog recordings.
			</p>
		</div>
		<h3 id="hickox">Richard Hickox</h3>
		<div class="pgraph">
			<a class="photo pgraph" href="../images/fylp/richard-hickox-vaughan-williams-hodie-fantasia-on-christmas-carols.jpg" title="Richard Hickox, EMI 5099996893425" rel="mediabox[300 300]">    
				<img src="../images/fylp/richard-hickox-vaughan-williams-hodie-fantasia-on-christmas-carols.jpg" width="109" height="109" alt="Richard Hickox, EMI 5099996893425">
			</a> 
			<p>
				Richard Hickox's dramatic account (EMI 5099996893425,
				also downloadable from amazon.com) features the London Symphony Chorus
				and Orchestra, the Choristers of St. Paul Cathedral, 
				and soloists Elizabeth Gale, Robert Tear, and Stephen Roberts.
				Hickox's tempi are lively, and the chorus sings with tremendous vigor
				and a wonderful range of color and emotion.
				Ensemble is mostly excellent, though there are occasional lapses
				at phrase endings&mdash;particularly in softer passages.
			</p>
		</div>
		<!-- TemplateEndEditable -->
	</div>
	<div id="sidebar_supplementary">
		<!-- TemplateBeginEditable name="sidebar_supplementary" -->
		<!-- TemplateEndEditable -->
		<div>
			<a class="photo" href="../images/graphics/Sano.jpg" title="Director of Music and Conductor Stephen Sano" rel="mediabox[220 291]">
				<img src="../images/graphics/Sano.jpg" alt="Director of Music and Conductor Stephen Sano" class="framed" width="149">
			</a>
		</div>
        <div id="performances">
            <h2>Performances</h2>
            <h3><a href="../performances.html#f2010">Fall 2010</a></h3>
        </div>
	</div>
	{% include footer.html %}
</div>
<!-- TemplateBeginEditable name="bottom" -->
<!-- TemplateEndEditable -->
</body>
</html>
